<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/header/logout.css">
        <title>로그아웃</title>
    </head>
    <body>
        <header id="header-nav" class="header-nav">
            <div class="header-gnb">
                <div class="container">
                    <div class="header-gnb-wrapper">
                        <a class="category-navigation-logo" href=""
                            ><img
                                class="test-logo" src="/static/images/header/test-logo.png"
                        /></a>
                        <!-- pc-only 메인 페이지 다 완성 후 필요한지, 필요하지 않은지 판단하고
                            수정하기 / 반응형 해야 함. -->
                        <div class="category-navigation-wrapper pc-only">
                            <a
                                class="category-navigation"  href=""
                                ><div class="category category-color">
                                    영상
                                </div></a
                            >
                            <a class="category-navigation"  href=""
                                ><div class="category category-color">
                                    글
                                </div></a
                            >
                            <a
                                class="category-navigation"  href=""
                                ><div class="category category-color">
                                    공지사항
                                </div></a
                            >
                        </div>
                        <div class="icon-box">
                            <div id="search-box" class="btn search-box">
                                <img
                                class="icon icon-search"
                                src="/static/images/header/icon-search.png"
                            />
                            </div>
                            <div class="divider only-pc"></div>
                            <div class="btn-box">
                                <a
                                    class="btn"
                                    href=""
                                    > <img class="kakao-login" src="/static/images/header/kakao_login_medium_narrow.png"></a
                                >
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 검색 창 (search.js 있음) -->
        <div class="search-full-modal" id="search-full-modal">
            <div class="search-part">
                <div class="container">
                    <img
                    class="icon-search"
                    src="/static/images/header/icon-search-gray.png"/>
                    <input type="hidden" />
                    <input
                    id="search-input"
                    class="search-input"
                    placeholder="키워드, 이름 검색하기"/>
                    <img
                    id="icon-close"
                    class="icon-close"
                    src="/static/images/header/icon-close.png"/>
                </div>
            </div>
            <div class="search-sub-part">
                <div class="container">
                    <div class="recent-keyword-part">
                        <div class="recent-keyword-label">최근 검색어
                            <div class="sub-action" style="display: none">
                            전체 삭제
                            </div>
                        </div>
                        <div class="recent-keyword-part-wrapper empty">
                            <div class="empty-recent-keyword">
                                최근 검색어가 없습니다.
                            </div>
                            <div
                                class="recent-keyword-list"
                                id="recentKeywordList"></div>
                        </div>
                    </div>
                    <!-- 검색했을 때 최근 검색어가 뜬다.(최대 5개) -->
                    <div class="recent-keyword-part">
                        <div class="recent-keyword-label">최근 검색어
                            <div class="sub-action">전체 삭제</div>
                        </div>
                        <div class="recent-keyword-part-wrapper">
                            <div
                                class="empty-recent-keyword"
                                style="display: none">
                                최근 검색어가 없습니다.
                            </div>
                            <div class="recent-keyword-list" id="recentKeywordList" >
                                <div class="recent-keyword">
                                        <div class="keyword-text">정지수</div>
                                    <img
                                        class="icon-delete"
                                        src="/static/images/header/icon-delete.png"
                                    />
                                </div>
                                <div class="recent-keyword">
                                    <div class="keyword-text">텀블러</div>
                                    <img
                                        class="icon-delete"
                                        src="/static/images/header/icon-delete.png"
                                    />
                                </div>
                                <div class="recent-keyword">
                                    <div class="keyword-text">작가</div>
                                    <img
                                        class="icon-delete"
                                        src="/static/images/header/icon-delete.png"
                                    />
                                </div>
                                <div class="recent-keyword">
                                    <div class="keyword-text">키워드</div>
                                    <img
                                        class="icon-delete"
                                        src="/static/images/header/icon-delete.png"
                                    />
                                </div>
                                <div class="recent-keyword">
                                    <div class="keyword-text">프론트엔드</div>
                                    <img
                                        class="icon-delete"
                                        src="/static/images/header/icon-delete.png"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="background-overlay" class="background-overlay"></div>  
        </div>
    </body>
    <script src="/static/js/header/search.js"></script>
</html>
