<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/member/buy-product.css" />
        <title>내가 구매한 작품</title>
    </head>
    <body>
        <div class="layout">
            <div class="container scrapbook">
                <div class="pc-sidebar" style="width: 280px">
                    <div
                        class="sidebar-menu scrapbook fold start-scroll active-menu no-scroll"
                        id="scrapbook-fold"
                        style="padding: 0px"
                    >
                        <div class="sidebar-menu-name-img-set">
                            <div
                                class="sidebar-menu-img icon-fold"
                                style="margin-left: 13px"
                            ></div>
                            <div
                                class="sidebar-menu-name"
                                data-page="scrapbook"
                                name="btn-link"
                                style="margin-left: 8px; font-weight: 500"
                            >
                                내 활동내역
                            </div>
                        </div>
                    </div>
                    <div
                        class="scrapbook-list-box no-scroll"
                        style="overflow-y: hidden; padding-bottom: 20px"
                    >
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내 작품"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="sidebar-menu-name">내 작품</div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 구매한 작품"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                                style="
                                    background-color: #f6f3f8;
                                    border-radius: 8px;
                                    transition: background-color 0.3s ease,
                                        border-radius 0.3s ease;
                                "
                            >
                                <div class="icon-scrap-off"></div>

                                <div
                                    class="sidebar-menu-name"
                                    style="color: #6b16ee; font-weight: 550"
                                >
                                    내가 구매한 작품
                                </div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="나의 펀딩"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="sidebar-menu-name">나의 펀딩</div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="결제한 펀딩"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="sidebar-menu-name">결제한 펀딩</div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="나의 모집"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="sidebar-menu-name">나의 모집</div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 신청한 모집"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="sidebar-menu-name">
                                    내가 신청한 모집
                                </div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 단 리뷰"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="sidebar-menu-name">
                                    내가 단 리뷰
                                </div>
                                <div
                                    class="scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-divide" style="margin: 20px 0px"></div>
                    <div
                        class="sidebar-menu highlight-memo"
                        data-page="highlight-memo"
                        name="btn-link"
                        style="
                            margin-bottom: -5px;
                            margin-top: -15px;
                            height: 20px;
                            width: 250px;
                        "
                    >
                        <div class="sidebar-menu-name">내 정보 수정</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        data-page="read-news"
                        name="btn-link"
                        style="margin-bottom: -20px; height: 20px; width: 250px"
                    >
                        <div class="sidebar-menu-name">문의 내역</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        data-page="read-news"
                        name="btn-link"
                        style="
                            margin-bottom: -20px;
                            height: 20px;
                            margin-top: 16px;
                            width: 250px;
                        "
                    >
                        <div class="sidebar-menu-name">알림</div>
                    </div>
                </div>
                <div class="main-content-container">
                    <div class="main-content read-news-list">
                        <div class="content-title-with-btn">
                            <div
                                class="subtitle-1 text900 content-title"
                                style="font-size: 24px; font-weight: 400"
                            >
                                내가 구매한 작품
                            </div>
                        </div>
                        <div class="content">
                            <div class="list-item">
                                <div class="news-list">
                                    <div class="flex-box">
                                        <div class="news-text">
                                            <a
                                                ><p class="scrap-news-title">
                                                    글의 제목이 들어 갈 자리
                                                </p></a
                                            >
                                            <div class="scrap-news-info">
                                                <a
                                                    ><p
                                                        class="btn timeandcontent graytext scrap-news-category"
                                                    >
                                                        예능
                                                    </p></a
                                                >
                                                <div class="divider"></div>
                                                <div class="flex-box">
                                                    <img
                                                        class="time"
                                                        src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                                    />
                                                    <div class="timeandcontent">
                                                        몇 시간 전인지
                                                    </div>
                                                </div>
                                            </div>
                                            <a
                                                ><p
                                                    class="timeandcontent news-description"
                                                >
                                                    기존에 사용하던 서비스는
                                                    물론, 새롭게 등장하는
                                                    서비스에서 빼놓을 수 없는
                                                    기능이자 주제는 바로
                                                    AI입니다. 그만큼 거대한
                                                    흐름이 되었고 이를 잘
                                                    활용하지 못하는 서비스는
                                                    뒤처진다는 인상을 줄 수
                                                    있죠. 또한 사용자 경험에도
                                                    중요한 영향을 끼칩니다.
                                                    그러나 너무 많은 서비스와
                                                    기능이 쏟아져 나오면서,
                                                    최근에는 AI가 적용된
                                                    서비스에서 UX 패턴을 어떻게
                                                    적용하면 좋을지에 대한
                                                    논의도 활발한데요. 오늘
                                                    소개할 ‘Shape of AI’는 AI의
                                                    성장에 따라 사용자 경험은
                                                    어떤 영향을 받고 있으며,
                                                    어떻게 대응하면 좋을지
                                                    살펴볼 수 있는 서비스입니다.
                                                </p></a
                                            >
                                        </div>
                                        <div class="btn news-image">
                                            <a
                                                ><img
                                                    src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                            /></a>
                                        </div>
                                    </div>
                                    <div class="flex-box news-author-box">
                                        <div class="author-info flex-box">
                                            <img
                                                class="author-image"
                                                src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                            />
                                            <p class="author-name">
                                                멤버 닉네임
                                            </p>
                                        </div>
                                        <div class="flex-box">
                                            <div class="btn-wrapper">
                                                <button
                                                    class="btn btn-action icon-delete-read-news"
                                                    data-read-news-id="303592"
                                                    type="button"
                                                >
                                                    <div
                                                        class="icon-scrap-delete"
                                                    ></div>
                                                    <p
                                                        class="action-tooltip bottom-action caption-2"
                                                    >
                                                        구매내역 삭제
                                                    </p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="news-list">
                                    <div class="flex-box">
                                        <div class="news-text">
                                            <a
                                                ><p class="scrap-news-title">
                                                    글의 제목이 들어 갈 자리
                                                </p></a
                                            >
                                            <div class="scrap-news-info">
                                                <a
                                                    ><p
                                                        class="btn timeandcontent graytext scrap-news-category"
                                                    >
                                                        예능
                                                    </p></a
                                                >
                                                <div class="divider"></div>
                                                <div class="flex-box">
                                                    <img
                                                        class="time"
                                                        src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                                    />
                                                    <div
                                                        class="timeandcontent graytext"
                                                    >
                                                        몇 시간 전인지
                                                    </div>
                                                </div>
                                            </div>
                                            <a
                                                ><p
                                                    class="timeandcontent news-description"
                                                >
                                                    기존에 사용하던 서비스는
                                                    물론, 새롭게 등장하는
                                                    서비스에서 빼놓을 수 없는
                                                    기능이자 주제는 바로
                                                    AI입니다. 그만큼 거대한
                                                    흐름이 되었고 이를 잘
                                                    활용하지 못하는 서비스는
                                                    뒤처진다는 인상을 줄 수
                                                    있죠. 또한 사용자 경험에도
                                                    중요한 영향을 끼칩니다.
                                                    그러나 너무 많은 서비스와
                                                    기능이 쏟아져 나오면서,
                                                    최근에는 AI가 적용된
                                                    서비스에서 UX 패턴을 어떻게
                                                    적용하면 좋을지에 대한
                                                    논의도 활발한데요. 오늘
                                                    소개할 ‘Shape of AI’는 AI의
                                                    성장에 따라 사용자 경험은
                                                    어떤 영향을 받고 있으며,
                                                    어떻게 대응하면 좋을지
                                                    살펴볼 수 있는 서비스입니다.
                                                </p></a
                                            >
                                        </div>
                                        <div class="btn news-image">
                                            <a
                                                ><img
                                                    src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                            /></a>
                                        </div>
                                    </div>
                                    <div class="flex-box news-author-box">
                                        <div class="author-info flex-box">
                                            <img
                                                class="author-image"
                                                src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                            />
                                            <p class="author-name">
                                                멤버 닉네임
                                            </p>
                                        </div>
                                        <div class="flex-box">
                                            <div class="btn-wrapper">
                                                <button
                                                    class="btn btn-action icon-delete-read-news"
                                                    data-read-news-id="303592"
                                                    type="button"
                                                >
                                                    <div
                                                        class="icon-scrap-delete"
                                                    ></div>
                                                    <p
                                                        class="action-tooltip bottom-action caption-2"
                                                    >
                                                        구매내역 삭제
                                                    </p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination theme-yozm scrapbook-page">
                            <li class="page-item">
                                <a class="page-link" id="back">이전</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link active">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">다음</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/static/js/member/buy-product.js"></script>
</html>
