<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/member/notification.css" />
        <title>알림</title>
    </head>
    <body>
        <div class="layout">
            <div class="container mypage">
                <div class="pc-sidebar" style="width: 280px">
                    <div
                        class="sidebar-menu mypage fold start-scroll active-menu no-scroll"
                        id="mypage-fold"
                        style="padding: 0px"
                    >
                        <div class="sidebar-menu-name-img-set">
                            <div
                                class="sidebar-menu-img icon-fold"
                                style="margin-left: 13px"
                            ></div>
                            <div
                                class="sidebar-menu-name"
                                name="btn-link"
                                style="margin-left: 8px; font-weight: 500"
                            >
                                내 활동내역
                            </div>
                        </div>
                    </div>
                    <div
                        class="mypage-list-box no-scroll"
                        style="overflow-y: hidden; padding-bottom: 20px"
                    >
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">내 작품</div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">
                                    내가 구매한 작품
                                </div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">나의 펀딩</div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">결제한 펀딩</div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">나의 모집</div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">
                                    내가 신청한 모집
                                </div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-menu sidebar-menu mypage">
                            <div
                                class="sidebar-menu-name-img-set mypage-link"
                                name="btn-link"
                            >
                                <div class="icon-my-off"></div>

                                <div class="sidebar-menu-name">
                                    내가 단 리뷰
                                </div>
                                <div
                                    class="mypage-mys-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-divide" style="margin: 20px 0px"></div>
                    <div
                        class="sidebar-menu highlight-memo"
                        name="btn-link"
                        style="
                            margin-bottom: -5px;
                            margin-top: -15px;
                            height: 20px;
                            width: 250px;
                        "
                    >
                        <div class="sidebar-menu-name">내 정보 수정</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        name="btn-link"
                        style="margin-bottom: -20px; height: 20px; width: 250px"
                    >
                        <div class="sidebar-menu-name">문의 내역</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        name="btn-link"
                        style="
                            margin-bottom: -20px;
                            height: 20px;
                            margin-top: 16px;
                            width: 250px;
                            background-color: #f6f3f8;
                            border-radius: 8px;
                            transition: background-color 0.3s ease,
                                border-radius 0.3s ease;
                        "
                    >
                        <div
                            class="sidebar-menu-name"
                            style="color: #6b16ee; font-weight: 550"
                        >
                            알림
                        </div>
                    </div>
                </div>
                <div class="main-content-container">
                    <div class="content-container main-content">
                        <div class="content">
                            <div class="right-side">
                                <div class="noti-center-header">
                                    <div class="subtitle-1 noti-center-title">
                                        전체 알림
                                    </div>
                                    <div class="noti-center-header-more">
                                        <div class="noti-center-refresh">
                                            <div class="refresh-btn">
                                                <img
                                                    class="refresh-img"
                                                    src="https://www.wishket.com/static/renewal/img/account/notifications/refresh.png"
                                                />새로고침
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti-body">
                                    <div class="noti-box date-box">
                                        <div class="noti-box-wrapper">
                                            <p class="noti-date-title">
                                                10월 08일 화요일
                                            </p>
                                        </div>
                                    </div>
                                    <div class="noti-box unread">
                                        <div class="noti-box-wrapper">
                                            <div class="noti-box-content">
                                                <div class="noti-title">
                                                    작품 "심봉사와 아이들"에
                                                    댓글이 달렸습니다.
                                                </div>
                                                <div class="noti-date">
                                                    2024.10.08. 오전 10시 16분
                                                </div>
                                            </div>
                                        </div>
                                        <form
                                            action=""
                                            style="display: none"
                                        ></form>
                                    </div>
                                    <div class="noti-box unread">
                                        <div class="noti-box-wrapper with-img">
                                            <img
                                                class="noti-img"
                                                src="https://www.wishket.com/static/renewal/img/account/notifications/alarm_icon_registration_c_1.png"
                                            />
                                            <div class="noti-box-content">
                                                <div class="noti-title">
                                                    나의 모집 "[역삼역] 단편영화
                                                    배우모집합니다."에 모집
                                                    신청이 들어왔습니다.
                                                </div>
                                                <div class="noti-date">
                                                    2024.10.08. 오전 10시 15분
                                                </div>
                                            </div>
                                        </div>
                                        <form
                                            action=""
                                            style="display: none"
                                        ></form>
                                    </div>
                                    <div class="noti-box unread">
                                        <div class="noti-box-wrapper">
                                            <div class="noti-box-content">
                                                <div class="noti-title">
                                                    작품 "심봉사와 아이들"에
                                                    댓글이 달렸습니다.
                                                </div>
                                                <div class="noti-date">
                                                    2024.10.08. 오전 10시 16분
                                                </div>
                                            </div>
                                        </div>
                                        <form
                                            action=""
                                            style="display: none"
                                        ></form>
                                    </div>
                                    <div class="noti-box unread">
                                        <div class="noti-box-wrapper with-img">
                                            <img
                                                class="noti-img"
                                                src="https://www.wishket.com/static/renewal/img/account/notifications/alarm_icon_registration_c_1.png"
                                            />
                                            <div class="noti-box-content">
                                                <div class="noti-title">
                                                    나의 펀딩 "영화 개구리소년들
                                                    모금합니다." 에 펀딩이
                                                    들어왔습니다.
                                                </div>
                                                <div class="noti-date">
                                                    2024.10.08. 오전 10시 15분
                                                </div>
                                            </div>
                                        </div>
                                        <form
                                            action=""
                                            style="display: none"
                                        ></form>
                                    </div>
                                    <div class="noti-box unread">
                                        <div class="noti-box-wrapper with-img">
                                            <img
                                                class="noti-img"
                                                src="https://www.wishket.com/static/renewal/img/account/notifications/alarm_icon_registration_c_1.png"
                                            />
                                            <div class="noti-box-content">
                                                <div class="noti-title">
                                                    나의 모집 "[역삼역] 단편영화
                                                    배우모집합니다."에 모집
                                                    신청이 들어왔습니다.
                                                </div>
                                                <div class="noti-date">
                                                    2024.10.08. 오전 10시 15분
                                                </div>
                                            </div>
                                        </div>
                                        <form
                                            action=""
                                            style="display: none"
                                        ></form>
                                    </div>
                                    <div
                                        class="noti-more ifclick footer-down"
                                        style="display: block"
                                    >
                                        알림 더 보기<img
                                            src="https://www.wishket.com/static/renewal/img/mywishket/card_icon_up_s.png"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/static/js/member/notification.js"></script>
</html>
