<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/member/video-header.css" />
        <title>마이페이지 영상 헤더</title>
    </head>
    <body>
        <header class="header">
            <section class="base-nav-client-renewal">
                <div class="container">
                    <a href="/"
                        ><div class="nav-logo-wrapper">
                            <div class="nav-logo">
                                <img
                                    src="/static/images/header/test-logo.png"
                                    style="width: 90px; height: 60px"
                                />
                            </div></div
                    ></a>
                    <div class="left-nav">
                        <a href="/project/add/"
                            ><div
                                class="left-nav-menu add-project"
                                style="border-bottom: 3px solid white"
                            >
                                영상
                            </div></a
                        >
                        <a href="/project/#clear"
                            ><div class="left-nav-menu">글</div></a
                        >
                        <div class="icon-box">
                            <div class="button-group-box">
                                <a class="btn logout" href=""> 로그아웃</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
    </body>
    <script src="/static/js/member/video-header.js"></script>
</html>
