@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
  }

#wrap
#messages
*
body  
::selection
section
a
h1
p

body {
margin: 0;
font-size: 14px;
line-height: 1.4;
color: #555;
background-color: #f5f5f5 !important;
}

#wrap {
background-color: #f5f5f5;
min-height: 100%;
height: auto !important;
margin: 0 auto;
padding: 0 0 250px;
min-width: 1080px;
box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.tos .container:before {
    content: " ";
    display: table;
    line-height: 0;
}

#messages {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width:1060px;
}

* {
    box-sizing: border-box;
}

.tos .container:after {
    clear:both;
}

.container:after {
    content: " ";
    display: table;
    line-height: 0;
}

*after {
    box-sizing: border-box;
}

.tos .container, content-inner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

.content-inner {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #dedede;
    padding: 30px;
    box-sizing: border-box;  
}

* {
    box-sizing: border-box;
}

.tos .page {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

* {
    box-sizing: border-box;
}

.tos .page:before {
    content: " ";
    display: table;
    line-height: 0;
}

*:before {
    box-sizing: border-box;
}

.tos .content {
    border-radius: 3px;
}

.tos .content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 1060px;
}

* {
    box-sizing: border-box;
}

.tos .page:after {
    clear: both;
}

.tos .page:after {
    content: " ";
    display: table;
    line-height: 0;
}

*:after {
    box-sizing: border-box;
}

.back {
    margin-bottom: 5px;
    padding: 8px 20px;    
}

.back {
    background-color: #fff;
    border-radius: 3px;
    border-bottom-width: 2px;    
}

.back {
    border: 1px solid #dedede;    
}

p {
    margin: 0 0 10px;
}

* { 
box-sizing: border-box;
}

.tos .content-inner {
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    border-bottom-width: 2px;
    border: 1px solid #dedede;      
}

* {
    box-sizing: border-box;
}

.tos .content-inner:before {
    content: " ";
    display: table;
    line-height: 0;
}

*:before {
    box-sizing: border-box;
}


.tos .content-inner:after {
    content: " ";
    display: table;
    line-height: 0;
}

*:after {
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: #77bb66;
}

.notice-center-detail {
    width: 705px;
    margin: 0 auto;
}

section {
    display: block;
}

.notice-center-detail .notice-center-detail-category {
    margin-top: 6px;
    margin-bottom: 20px;
    line-height: 16px;
}

.notice-center-detail-category a:visited {
    text-decoration: none;
}

a {
    color: #2099bb;
    background: transparent;
    text-decoration: none;
}

.notice-center-detail .notice-center-detail-category .notice-center-detail-category-text {
    padding-bottom: 2px;
    border-bottom: 1px solid #2099bb;
    color: #2099bb;
    font-weight: bold;
}

.notice-center-detail .notice-center-detail-category a:visited {
    text-decoration: none;
}

.tos .content-inner .notice-center-detail h1 {
    margin-top: 50px;
}

.notice-center-detail .notice-center-detail-title {
    margin-bottom: 15px;
    padding: 0;
    font-size: 24px;
    line-height: 1.33;
    color: #454545;
}

h1 {
    letter-spacing: -0.04em;
    margin: 0 0 0 -0.05em;
    font-style: normal;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.notice-center-detail .notice-center-detail-publication {
    margin-bottom: 20px;
    line-height: 16px;
}

.notice-center-detail .notice-center-detail-publication-publisher {
    color: #666;
}

.notice-center-detail .notice-center-detail-publication .notice-center-detail-publication-divider {
    margin: 0 5px;
    color: #fff;
}

.notice-center-detail .notice-center-detail-publication .notice-center-detail-publication-date {
    color: #dedede
}

.notice-center-detail .notice-detail-content-divider {
    width: 100%;
    height: 1px;
    margin-bottom: 25px;
    border-top: 1px dashed #dedede;
}

.notice-center-detail .notice-detail-content-divider {
    width: 100%;
    height: 1px;
    border-top: 1px dashed #dedede;
}

.notice-center-detail .notice-center-detail-publication {
    line-height: 16px;
}

.notice-center-detail .notice-center-detail-publication .notice-center-detail-publication-publisher {
    color: #666;
}

.notice-center-detail .notice-center-detail-publication .notice-center-detail-publication-divider {
    margin: 0 5px;
    color: #dedede;
}

.notice-center-detail .notice-center-detail-publication .notice-center-detail-publication-date {
    color: #999;
}

.notice-center-detail {
    width: 705px;
    margin: 0 auto;    
}

section {
  display: block;
}

.notice-center-table-title {
    font-size: 18px;
    color: #454545;    
}

p {
    margin: 0 0 10px;
}

.notice-center-detail .notice-center-more-content .notice-center-more-content-title {
    max-width: 495px;
    margin-right: 5px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #2099bb;
}

.tos .content-inner p {
    margin-bottom: 0;
    line-height: 24px;
}

.notice-center-detail .notice-center-more-content {
    margin-top: 9px;
    font-size: 14px;
    width: 705px;
    height: 16px;
}

.notice-center-detail .notice-center-more-content .notice-center-more-content-title {
    max-width: 495px;
    margin-right: 5px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #2099bb;
}

.tos .content-inner p {
    margin-bottom: 0;
    line-height: 24px;
}

.notice-center-detail .notice-center-more-content {
    margin-top: 9px;
    font-size: 14px;
    width: 705px;
    height: 16px;
}

.notice-center-detail .notice-center-more-content .notice-center-more-content-title.active-news a {
    color: #0d647b;
    text-decoration: underline;
}

a {
    background: transparent;
}

.notice-center-detail .notice-center-more-content .notice-center-more-content-category {
    width: 110px;
    font-size: 13px;
    margin-right: 10px;
    padding-top: 1px;
    float: left;
    color: #666;
}

.notice-center-detail .neotice-center-more-content .notice-center-more-content-date {
    float: right;
    color: #666;
}

a {
    color: #2099bb;
    text-decoration: none;
    background: transparent;
}

.notice-center-detail p.notice-center-more-content {
    margin-bottom: 10px !important;
}

.tos .content-inner p {
    line-height: 24px;
}

.notice-center-detail .notice-center-more-content {
    margin-top: 9px;
    font-size: 14px;
    width: 705px;
    height: 16px;
}

p {
    margin: 0 0 10px;
}

.more-notice-center {
    float: right;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    text-decoration: underline;
}

a {
    background: transparent;
}

.notice-center-detail {
    width: 705px;
    margin: 0 auto;
}

section {
    display: block;
}

.tos .content-inner:after {
    clear: both;
}

.tos .content-inner:after {
    content: " ";
    display: table;
    line-height: 0;
}

.tos .content-inner {
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    border-bottom-width: 2px;
    border: 1px solid #dedede;
}


