@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

html {
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "NotoSansKR", Sans-serif;
    line-height: 1rem;
}
body {
    height: 100%;
}
.main-header {
    height: 48px;
    padding: 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-header .container {
    display: flex;
    padding-left: 2px;
    gap: 50px;
}
.container {
    width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #212121;
}
.sub-navigation div {
    padding: 12px 0;
    height: 100%;
    display: inline-block;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #424242;
    font-weight: 600;
}

.sub-navigation {
    position: relative;
    text-decoration: none;
}

.sub-navigation div {
    position: relative;
    display: inline-block;
}

.sub-navigation div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transition: width 0.3s ease;
}

.sub-navigation div:hover::after {
    width: 100%;
}
.main {
    min-width: 1080px;
    height: auto;
    min-height: 70%;
}
.container-wrapper {
    position: relative;
}
.content-container-wrapper {
    width: 1080px;
    margin: 0 auto;
}
.content-container {
    position: relative;
    z-index: 1;
    width: 720px;
    padding-bottom: 56px;
    margin-right: 80px;
}
.detail-header {
    padding-top: 36px;
}
.category {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #757575;
}
.title {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
    font-size: 32px;
    margin: 8px 0 24px 0;
}
.detail-info {
    padding-bottom: 32px;
    border-bottom: 1px solid #eee;
}
.content-meta {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #424242;
}
.flex-box {
    display: flex;
    align-items: center;
}
.content-meta-elem {
    line-height: 20px;
    margin-right: 10px;
}
.author-image {
    width: 20px;
    height: 20px;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}
.pc-only {
    display: flex !important;
}
.text700 {
    color: #424242;
}
.content-meta-sep {
    width: 1px;
    color: #e0e0e0;
}
.meta-icon {
    width: 16px;
    height: 16px;
}
.mr-2 {
    margin-right: 2px !important;
}
.content-meta-view {
    margin-left: auto;
    line-height: 1.54;
    font-weight: normal;
    color: #9e9e9e;
}
.thumbnail {
    width: 100%;
    height: 400px;
    padding: 10px 24px 20px 24px;
    margin-top: 32px;
    border-radius: 16px;
    border: 1px solid #eee;
    box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.04);
    display: flex;
}
.thumbnail img {
    width: 100%;
}
.content {
    padding-top: 32px;
}
.content p {
    font-size: 16px;
    line-height: 32px;
    word-break: break-all;
    color: #313131;
}
.content hr {
    margin-bottom: 44px;
    margin-top: 44px;
    border-color: #e0e0e0;
    border-top: none;
}
.attachment {
    margin-top: 16px;
    margin-bottom: 16px;
    margin: 0 auto;
}
.content div {
    margin: 0 auto;
}
.detail-btn-wrapper {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}
.detail-btn-container {
    display: flex;
    justify-content: space-between;
}
.btn-group {
    display: flex;
    flex-direction: row;
}
.btn-wrapper {
    display: flex;
    position: relative;
    width: max-content;
    border-radius: 8px;
}
.mr-6 {
    margin-right: 6px !important;
}
.star-rating {
    font-size: 2rem;
    color: lightgray; /* 기본 별 색상 */
}

.star-rating .star {
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating .star:hover,
.star-rating .star.hover,
.star-rating .star.selected {
    color: gold; /* 선택되거나 마우스를 올릴 때 별 색상 */
}

.action-tooltip {
    display: none;
}
.btn-wrapper .action-tooltip.bottom-action {
    top: -24px;
    left: 50%;
    transform: translate(-70%, 10px);
}
.btn-wrapper .action-tooltip {
    transition: all 0.4s ease-in-out;
    cursor: default;
    position: absolute;
    width: max-content;
    color: #fff;
    background-color: #212121;
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
}

.btn-wrapper .action-tooltip.bottom-action:after {
    border-top: 4px solid #212121;
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.btn-wrapper .reply-btn {
    padding: 8px 6px;
}
.reply-btn {
    cursor: pointer;
}
button {
    border: none;
    background: none;
}
.btn-wrapper .bottom-action-count {
    color: #616161;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
}
.comment-area {
    margin-top: 32px;
    width: 720px;
}

.comment-count {
    font-size: 16px;
    margin-bottom: 9px;
    line-height: 1.63;
    font-weight: 500;
    color: #14171f;
}
.count-number {
    color: #6b16ee;
}
.comment-box {
    padding: 24px 0px;
    border-bottom: 1px solid #e0e0e0;
}
.comment-writer-img {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    margin: 1px 7px 5px 0px;
}
.comment-writer-name {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 27px;
    color: #212121;
    font-weight: 500;
}
.writer-name {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.comment-wrapper .comment {
    margin: 4px 0px 2px 0px;
    font-size: 14px;
    line-height: 1.71;
    word-break: break-word;
}
.comment-date-created {
    margin-left: 12px;
    font-size: 12px;
    line-height: 1.5;
    color: #bdbdbd;
}
ul {
    list-style: none;
}
.pagination-box {
    display: flex;
    margin: 64px auto 56px;
}
.center-text {
    text-align: center;
}
.pagination.theme-ggumteo {
    display: flex;
}
ul {
    list-style: none;
}
.page-item {
    cursor: pointer;
}
li:first-child {
    margin-left: 0;
}
li:first-child > .page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='32' height='32' rx='2'%3E%3C/rect%3E%3Cpath stroke='%239E9E9E' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M19 10l-6 6 6 6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-indent: -999999px;
    background-position: center;
}
.page-link {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    min-width: 32px;
    text-align: center;
    padding: 0 8px;
    font-weight: 500;
    color: #616161;
    text-decoration: none;
    border: 1px solid transparent;
}
.theme-ggumteo li {
    height: 100%;
    margin-left: 4px;
}
li:last-child > .page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='32' height='32' rx='2'%3E%3C/rect%3E%3Cpath stroke='%239E9E9E' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M13 22l6-6-6-6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-indent: -999999px;
    background-position: center;
}
/* 페이지 이동시 페이지 번호에 생기는 스타일 */
.active {
    color: #3ba3c7;
    border-color: #bdbdbd;
    border-radius: 2px;
}
.pagination-box {
    display: flex;
    margin: 64px auto 56px;
}
.center-text {
    text-align: center;
    justify-content: center;
}
.comment-writer {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 720px;
    height: 290px;
}
.write-user {
    margin: 9px 0px 0px 12px;
}
.comment-writer-img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 1px 7px 1px 0px;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
}
.comment {
    font-size: 14px;
    line-height: 1.71;
    resize: none;
    border: none;
    color: #424242;
    word-break: break-word;
    padding: 0px 12px 0px 12px;
    margin: 8px 0px 2px 0px;
    overflow: auto;
    width: 718px;
    height: 72px;
    outline: #757575;
}
.check-length {
    text-align: right;
    font-size: 13px;
    color: #9e9e9e;
    line-height: 1.54;
    margin: 0px 12px 12px 0px;
}
.comment-guide {
    font-size: 12px;
    line-height: 1.5;
    color: #616161;
    padding: 12px;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    height: 42px;
    width: 718px;
}
.btn-create-div {
    height: 55px;
    padding: 12px;
}
.btn-create-comment {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 16px 5px;
    line-height: 16px;
    background-color: #6b16ee;
    border-radius: 8px;
    color: #fff;
    border: none;
    width: 84px;
    height: 32px;
    float: right;
}
.cursor {
    cursor: pointer;
}
.btn-comment-action {
    float: right;
    color: #9e9e9e;
}
.btn-comment-delete {
    display: inline-block;
    font-size: 13px;
    line-height: 1.54;
    border: none;
    background-color: #fff;
    color: #9e9e9e;
}
.star-a {
    margin-bottom: 20px;
}
.review-box {
    display: flex;
    align-items: center;
}
.star-box {
    margin-right: 8px;
    display: flex;
    gap: 2px;
    align-items: center;
}
.review-score {
    color: #424242;
}
.body-3-medium {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}
/* 기본 스타일 */
.right-content-container {
    margin-top: 80px;
    width: 280px;
    padding: 36px;
    flex-direction: column;
    gap: 48px;
    z-index: 2;
    border-radius: 16px;
    border: 1px solid #eee;
    box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.04);
    height: 230px;
    position: fixed;
    right: 320px;
}

@media screen and (max-width: 1405px) {
    .right-content-container {
        right: 100px;
    }
}

.right-content-list {
    position: relative;
    z-index: 2;
}
.right-content-list-2 {
    margin-top: 40px;
    position: relative;
    z-index: 2;
}
.right-content-title {
    align-items: center;
    margin-bottom: 16px;
}
.right-content-title-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.text900 {
    color: #212121;
}
.body-1-medium {
    font-weight: 500;
}
.body-1-medium {
    font-size: 16px;
    line-height: 26px;
}
.side-card-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #555969;
    margin: 0 0 8px;
    line-height: 1.5438;
    margin-bottom: 20px;
}
.price-detail {
    display: inline-flex;
    align-items: center;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #e4e5ed;
    margin: 16px 0;
}
.price-charge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #555969;
    margin: 0 0 8px;
    line-height: 1.5438;
}
.charge-image {
    width: 14px;
    height: 14px;
}
.btn-create-comment-charge {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 16px 5px;
    line-height: 16px;
    background-color: #6b16ee;
    border-radius: 8px;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    float: right;
}
.action-tooltip.charge-p {
    display: none;
}
.action-tooltip.bottom-action.charge-p {
    top: -24px;
    left: 50%;
    transform: translate(-108%, 80px);
}
.action-tooltip.charge-p {
    transition: all 0.4s ease-in-out;
    cursor: default;
    position: absolute;
    width: max-content;
    color: #fff;
    background-color: #212121;
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
}

.action-tooltip.charge-p.bottom-action:after {
    border-bottom: 4px solid #212121;
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.price-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #555969;
    margin: 0 0 8px;
    line-height: 1.5438;
    margin-bottom: 20px;
}
.price-detail-total {
    display: inline-flex;
    align-items: center;
}
.detail-footer .detail-footer-list-box {
    width: 1080px;
    margin: 0 auto;
}
.list-cover {
    margin: unset;
}
.list-cover {
    width: 720px;
}
.other-list-title-layer {
    border-top: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px 0;
}
.text900 {
    color: #212121;
}
.subtitle-2-medium {
    font-weight: 500;
}
.subtitle-2-medium {
    font-size: 18px;
    line-height: 28px;
}
.main-list .main-list-row:last-child {
    border-bottom: 0;
}
.main-list-row:first-child {
    padding-top: 0;
}
.list-item-horizontal:last-child {
    border: none;
}
.main-list .main-list-row {
    padding-bottom: 40px;
}
.list-item-horizontal {
    gap: 24px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.list-item-horizontal {
    width: 720px;
    margin: 0 auto;
    padding: 40px 0;
}
.list-item-link.list-item-show {
    opacity: 1;
    position: relative;
    top: 0px;
}
.list-item-link {
    width: 224px;
}
.list-item {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.list-item {
    width: 100%;
}
.list-item-thumbnail {
    margin-bottom: 16px;
}
.list-item-thumbnail .thumbnail-image {
    width: 224px;
    height: 124px;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #e0e0e0;
}
.item-main {
    width: 100%;
    display: block;
}
.list-item-category {
    display: inline-block;
    margin-bottom: 6px;
}
.body-3 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.item-main .item-title {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 8px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
}
.link-text {
    font-weight: 500;
    color: inherit !important;
}
.content-meta {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #424242;
}
.flex-box {
    display: flex;
    align-items: center;
}
.meta-icon {
    width: 16px;
    height: 16px;
}
.content-meta-elem {
    display: inline-block;
    line-height: 20px;
    margin-right: 8px;
}

.mr-4 {
    margin-right: 4px !important;
}
.author-info {
    margin-top: 16px;
}
.author-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}
.author-name {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #9e9e9e;
}
.line-divider {
    max-width: 720px;
    margin: 0 auto;
    height: 1px;
    background-color: #eee;
}
.side-card-list-box-2 {
    display: flex;
    flex-direction: column;
}
.side-card-list-2 {
    border: none;
    display: flex;
    align-items: center;
    padding: 16px 0;
    gap: 16px;
}
.thumbnail-other-image {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
.text900 {
    color: #212121;
}
.body-2-medium {
    font-weight: 500;
}
.body-2-medium {
    font-size: 14px;
    line-height: 24px;
}
