<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main/header-logout.css">
        <title>Document</title>
    </head>
    <body>
        <header class="header-nav">
            <div class="header-gnb">
                <div class="container">
                    <div class="header-gnb-wrapper">
                        <a class="sub-navigation-logo" href=""
                            ><img
                                class="logo-test" src="/static/images/main/logo-test.png"
                        /></a>
                        <div class="sub-navigation-wrapper flex-box pc-only">
                            <a
                                class="sub-navigation"
                                href=""
                                ><div class="body-2-medium text900">
                                    영상
                                </div></a
                            >
                            <a class="sub-navigation" href=""
                                ><div class="body-2-medium text900">
                                    글
                                </div></a
                            >
                            <a
                                class="sub-navigation new-menu"
                                href=""
                                ><div class="body-2-medium text900">
                                    공지사항
                                </div></a
                            >
                        </div>
                        <div class="icon-box">
                            <div class="btn search-box flex-box">
                                <img
                                    src=""
                                />
                            </div>
                            <img
                                class="icon search-icon only-mobile"
                                src="/static/images/main/search-Icon.png"
                            />
                            <div class="divider only-pc"></div>
                            <div class="button-group-box" id="buttonGroupBox">
                                <a
                                    class="btn btn-common-3 btn-kakao"
                                    href=""
                                    > <img class="kakao-icon" src="/static/images/main/kakao-icon.png">
                                    카카오 로그인</a
                                >
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>
