<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main/header-login.css">
        <title>헤더-로그인</title>
    </head>
    <body>
        <header class="header-nav">
            <div class="header-gnb">
                <div class="container">
                    <div class="header-gnb-wrapper">
                        <a class="sub-navigation-logo" href=""
                            ><img
                                class="logo-test" src="/static/images/main/logo-test.png"
                        /></a>
                        <div class="sub-navigation-wrapper flex-box pc-only">
                            <a
                                class="sub-navigation"
                                href=""
                                ><div class="body-2-medium text900">
                                    영상
                                </div></a
                            >
                            <a class="sub-navigation" href=""
                                ><div class="body-2-medium text900">
                                    글
                                </div></a
                            >
                            <a
                                class="sub-navigation new-menu"
                                href=""
                                ><div class="body-2-medium text900">
                                    공지사항
                                </div></a
                            >
                        </div>
                        <div class="icon-box">
                            <div class="btn search-box flex-box">
                                <img
                                class="icon search-icon only-mobile"
                                src="/static/images/main/search-Icon.png"
                            />
                            </div>
                            <div class="icon-box">
                                <div class="divider only-pc"></div>
                                <!-- 알림 없을 시 -->
                                <div class="alarm-container">
                                    <img class="alarm" src="/static/images/main/alarm.png" />
                                    <!-- 내 알림 div -->
                                    <div id="alarm-box-1" class="alarm-box">
                                        <p class="alarm-title">내 알림</p>
                                        <div class="alarm-name-div margin-botton-15px">
                                            <p class="alarm-name">영상</p>
                                        </div>
                                        <div class="alarm-name-div">
                                            <p class="alarm-name">글</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 알림 있을 시 -->
                                <div class="alarm-container">
                                    <div class="alarm-dot-div">
                                        <img
                                            class="alarm-dot"
                                            src="/static/images/main/alarm-dot.png"
                                        />
                                    </div>
                                    <img class="alarm" src="/static/images/main/alarm.png" />
                                    <!-- 내 알림 div -->
                                    <div id="alarm-box-2" class="alarm-box">
                                        <p class="alarm-title">내 알림</p>
                                        <div class="alarm-name-div margin-botton-15px">
                                            <div class="dot-div-1">
                                                <img
                                                    class="alarm-dot"
                                                    src="/static/images/main/alarm-dot.png"
                                                />
                                            </div>
                                            <p class="alarm-name">영상</p>
                                        </div>
                                        <div class="alarm-name-div">
                                            <div class="dot-div-2">
                                                <img
                                                    class="alarm-dot"
                                                    src="/static/images/main/alarm-dot.png"
                                                />
                                            </div>
                                            <p class="alarm-name">글</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-image" id="profileImage">
                                <img class="authenticated-user-image user-img pull-right" 
                                src="/static/images/main/profile-img.png"></div>
                            <div class="button-group-box" id="buttonGroupBox">
                                <a
                                    class="btn btn-common-3 btn-logout"
                                    href=""
                                    >
                                    로그아웃</a
                                >
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
    <script src="/static/js/main/header-login.js"></script>
</html>
