.withIcon_icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.BlindText_textHidden {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.Avatar_avatar {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
    vertical-align: middle;
}

.Avatar_avatar.Avatar_img_admin {
    width: 56px;
    height: 56px;
}

.Avatar_avatar>.Avatar_inner {
    display: inline-block;
    border: 1px solid #e9ecef;
    border-radius: 100%;
}

.Avatar_avatar>.Avatar_inner>img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
}

.Button_button {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 23px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    
}

.Button_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button span svg {
    display: inline-block;
}

.Button_button svg.Button_icon__2I54k {
    width: 16px;
    height: 16px;
}

.Button_button svg.Button_icon__2I54k:first-child {
    margin-right: 6px;
}

.Button_button.Button_sm svg.Button_icon__2I54k {
    width: 16px;
    height: 16px;
}

.Button_button.Button_sm svg.Button_icon__2I54k:first-child {
    margin-right: 4px;
}

.Button_button .Button_children {
    vertical-align: top;
}

.ProjectInfo_stateBox_1 {
    grid-gap: 4px;
    gap: 4px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ProjectInfo_stateBox_1 .ProjectInfo_state-1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.Divider_divider.Divider_horizontal.Divider_spacing3 {
    margin: 8px 0;
}
.Divider_divider.Divider_horizontal.Divider_lightBG {
    background-color: #f2f4f6;
    opacity: 1;
}
.Divider_divider.Divider_horizontal {
    margin: 16px 0;
    background-color: #f2f4f6;
    height: 1px;
}
.Divider_divider {
    margin: 0;
    border: 0;
    position: relative;
}
hr {
    margin: 0;
    border: 0;
    background-color: #f2f4f6;
    width: 100%;
    height: 8px;
}




