* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

* {
    font-family: "NotoSansKR", "Sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR', Sans-serif;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

* {
    font-family: "NotoSansKR", "Sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.gaia {
    min-width: 1080px;
    height: auto;
    min-height: 70%;
}