@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

html {
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "NotoSansKR";
    line-height: 1rem;
}

a {
    text-decoration: none;
    color: #212121;
}


/*  */
.body-2, #profile_image_edit_modal .modal__body .modal-body-wrapper .body-btn-group .body-btn, #profile_image_edit_modal .modal__body .modal-body-wrapper .modal-content, .body-2-bold, .body-2-medium, .body-2-light {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
/*  */


.header-gnb {
    display: flex;
    background-color: #fff;
    height: 72px;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.header-gnb .header-gnb-wrapper {
    height: 72px;
    display: flex;
    align-items: center;
}

.header-gnb .header-gnb-wrapper .sub-navigation-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 26px 0;
}

.logo-test {
    width: 90px;
}

.pc-only {
    display: flex !important;
}

.flex-box {
    display: flex;
    align-items: center;
}

.header-gnb .sub-navigation-wrapper .sub-navigation {
    padding: 24px 16px;
}

.header-gnb .sub-navigation-wrapper .sub-navigation div {
    display: flex;
    align-items: flex-start;
}

.text900 {
    color: #212121;
}

.body-2-medium {
    font-weight: 500;
}

.header-gnb .header-gnb-wrapper .icon-box {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-box {
    padding: 8px;
    border-radius: 8px;
    margin-right: 4px;
}

.btn {
    cursor: pointer;
}

.flex-box {
    display: flex;
    align-items: center;
}

.icon-box .divider {
    height: 16px;
    margin: 0px 4px;
}

.divider {
    width: 1px;
    height: 13px;
    background-color: #e0e0e0;
}

.header-gnb .icon {
    cursor: pointer;
}

.icon-box .search-icon {
    height: 25px;
    padding: 4px;
    margin-right: 4px;
}

.button-group-box {
    margin-left: 15px;
}

.kakao-icon {
    width: 12px;
}

.btn-kakao {
    color: black;
    background-color: #f7e632;
}

.btn-common-3 {
    padding: 4px 18px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
}

.btn {
    cursor: pointer;
}











