@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

html {
    font-family: 'NotoSansKR', Sans-serif;
    line-height: 1rem;
    font-size: 16px
}
.container.mypage {
    display: flex;
    padding-top: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 120px;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
.fold.sidebar-menu {
    justify-content: space-between;
}
.sidebar-menu.active-menu {
    background-color: #faf6ff;
    color: #6b16ee;
    transition: .5s;
}
.sidebar-menu {
    width: 280px;
    height: 48px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}
.sidebar-menu .sidebar-menu-name-img-set {
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
}
.fold .icon-fold.fold-on {
    width: 16px;
    height: 16px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_menu_fold_off@3x.png);
}
.sidebar-menu .sidebar-menu-img {
    display: flex;
}
.sidebar-menu.active-menu .sidebar-menu-name {
    font-weight: 500;
}
.sidebar-menu .sidebar-menu-name {
    display: block;
    align-items: center;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mypage-list-box {
    width: 280px;
    max-height: 317px;
    overflow: hidden;
}
.mypage-list-box .sidebar-menu {
    padding: 0px 16px 0px 0px;
}.mypage-list-box .sidebar-menu .sidebar-menu-name-img-set {
    padding: 12px 0px 12px 44px;
}.sidebar-menu .sidebar-menu-name-img-set {
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
}

.sidebar-menu .mypage-mys-count {
    margin: 0px 6px;
}

.content-divide {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}
.sidebar-menu .off-img {
    margin-right: 12px;
    display: block;
}
.container.mypage .main-content-container {
    width: 800px;
    padding-left: 80px;
}
.container.mypage .main-content-container .main-content {
    width: 720px;
}
.subtitle-2-medium {
    font-weight: 500;
}

.subtitle-2, .subtitle-2-bold, .subtitle-2-medium, .subtitle-2-light {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.container.mypage .main-content-container .main-content .last-open-mypages {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    padding: 32px 0px 40px 0px;
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage {
    display: inline-flex;
    border: solid 1px #e0e0e0;
    border-radius: 12px;
    padding: 24px;
    width: 298px;
    height: 52px;
}
.btn {
    cursor: pointer;
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage .last-open-mypage-info {
    margin-left: 24px;
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage .last-open-mypage-info .mypage-title {
    width: 222px;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}
.mypage-title {
    font-weight: 500;
}
.howmany {
    color: #616161;
    font-size: 14px;
}
.fold.active-menu .icon-fold {
    width: 16px;
    height: 16px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_menu_open_on.png);
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage:hover {
    border: 1px solid #6b16ee;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    transform: translateY(-4px);
    transition-duration: .5s;
}
.mypage-link:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부드럽게 깎음 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부드러운 전환 효과 */
}

.highlight-memo:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부드럽게 깎음 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부드러운 전환 효과 */
}
.read-news:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부드럽게 깎음 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부드러운 전환 효과 */
}

.pc-sidebar{
    width: 280px;
}

.icon-fold {
    width: 16px;
    height: 16px;
    background-image: url('https://yozm.wishket.com/static/renewal/img/news/icon_menu_fold_off@3x.png'); /* 초기 이미지: 아래로 화살표 */
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.icon-fold.fold-on {
    transform: rotate(-0deg); /* 오른쪽을 가리키도록 회전 */
}

.sidebar-menu-name{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.mypage-mys-count{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #9e9e9e;
}


/* 기본적으로 모든 콘텐츠 숨기기 */
.content {
    display: none;
}

/* 활성화된 콘텐츠만 보이도록 설정 */
.content.active {
    display: block;
}
