@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

html {
    font-family: 'NotoSansKR', Sans-serif;
    line-height: 1rem;
    font-size: 16px
}
.container.mypage {
    display: flex;
    padding-top: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 120px;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
.fold.sidebar-menu {
    justify-content: space-between;
}

.sidebar-menu {
    width: 280px;
    height: 48px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}
.sidebar-menu .sidebar-menu-name-img-set {
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
}
.fold .icon-fold.fold-on {
    width: 16px;
    height: 16px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_menu_fold_off@3x.png);
}
.sidebar-menu .sidebar-menu-img {
    display: flex;
}
.sidebar-menu.active-menu .sidebar-menu-name {
    font-weight: 500;
}
.sidebar-menu .sidebar-menu-name {
    display: block;
    align-items: center;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mypage-list-box {
    width: 280px;
    max-height: 317px;
    overflow: hidden;
}
.mypage-list-box .sidebar-menu {
    padding: 0px 16px 0px 0px;
}.mypage-list-box .sidebar-menu .sidebar-menu-name-img-set {
    padding: 12px 0px 12px 44px;
}.sidebar-menu .sidebar-menu-name-img-set {
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
}

.sidebar-menu .mypage-mys-count {
    margin: 0px 6px;
}


.content-divide {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}
.sidebar-menu .off-img {
    margin-right: 12px;
    display: block;
}
.container.mypage .main-content-container {
    width: 800px;
    padding-left: 118px;
}
.container.mypage .main-content-container .main-content {
    width: 720px;
}
.subtitle-2-medium {
    font-weight: 500;
}

.subtitle-2, .subtitle-2-bold, .subtitle-2-medium, .subtitle-2-light {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.container.mypage .main-content-container .main-content .last-open-mypages {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    padding: 32px 0px 40px 0px;
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage {
    display: inline-flex;
    border: solid 1px #e0e0e0;
    border-radius: 12px;
    padding: 24px;
    width: 298px;
    height: 52px;
}
.btn {
    cursor: pointer;
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage .last-open-mypage-info {
    margin-left: 24px;
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage .last-open-mypage-info .mypage-title {
    width: 222px;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}

.fold.active-menu .icon-fold {
    width: 16px;
    height: 16px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_menu_open_on.png);
}
.container.mypage .main-content-container .main-content .last-open-mypages .last-open-mypage:hover {
    border: 1px solid #6b16ee;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    transform: translateY(-4px);
    transition-duration: .5s;
}
.mypage-link:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부드럽게 깎음 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부드러운 전환 효과 */
}

.highlight-memo:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부드럽게 깎음 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부드러운 전환 효과 */
}
.read-news:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부드럽게 깎음 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부드러운 전환 효과 */
}


.icon-fold {
    width: 16px;
    height: 16px;
    background-image: url('https://yozm.wishket.com/static/renewal/img/news/icon_menu_fold_off@3x.png'); /* 초기 이미지: 아래로 화살표 */
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.icon-fold.fold-on {
    transform: rotate(-0deg); /* 오른쪽을 가리키도록 회전 */
}

.right-side {
    float: right;
    width: 800px;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
}
.noti-center-header {
    width: 100%;
    display: inline-block;
    padding: 26px 17px 26px 36px;
}
.noti-center-header .noti-center-title {
    display: inline-block;
    color: #212121;
}
.subtitle-1, .subtitle-1-bold, .subtitle-1-medium, .subtitle-1-light {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}
.noti-center-header .noti-center-header-more {
    display: inline-block;
    position: relative;
    top: 6px;
    float: right;
}
.noti-center-header .noti-center-refresh {
    display: inline-block;
    color: #616161;
    margin-right: 50px;
    padding-right: 11px;
}
.noti-center-header .noti-center-refresh .refresh-btn {
    cursor: pointer;
}
.noti-center-header .noti-center-refresh .refresh-img {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 1px;
}
 .noti-body {
    width: 100%;
}
 .noti-body>.noti-box:first-child {
    border-top: solid 1px #e0e0e0;
}
 .noti-box.date-box {
    cursor: default;
}
 .noti-body>.noti-box:first-child .noti-box-wrapper {
    padding: 5px 40px 0px 36px;
}
 .noti-box.date-box .noti-box-wrapper .noti-date-title {
    color: #212121;
    font-weight: 650;

}


 .noti-box.unread {
    background-color: #f2fcff;
}
 .noti-box {
    border-top: solid 1px #eee;
    cursor: pointer;
}
 .noti-box .noti-box-wrapper {
    padding: 15px 40px 16px 40px;
}
 .noti-box .noti-box-content {
    display: inline-block;
    vertical-align: top;
}
 .noti-box .noti-box-content .noti-title {
    color: #616161;
}
 .noti-box .noti-box-content .noti-date {
    margin-top: 4px;
    color: #9e9e9e;
}
.noti-box .noti-box-content .noti-date{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
 .noti-box.unread {
    background-color: #f2fcff;
}
 .noti-box {
    border-top: solid 1px #eee;
    cursor: pointer;
}
.noti-box .noti-box-wrapper.with-img {
    padding: 19px 40px 24px 40px;
}
.noti-box .noti-img {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px;
    position: relative;
}
.noti-box .noti-box-wrapper.with-img .noti-box-content {
    width: 658px;
    padding-top: 4px;
}
.noti-box .noti-box-content {
    display: inline-block;
    vertical-align: top;
}
.noti-box .noti-box-wrapper.with-img .noti-box-content .noti-title {
    color: #212121;
}.noti-box .noti-box-content .noti-more-info-box .info,  .noti-box .noti-box-content .noti-more-info,  .noti-box .noti-box-content .noti-meeting-info,  .noti-box .noti-box-content .noti-title,  .noti-box.no-data,  .noti-box.no-contents,  .noti-box .noti-box-wrapper.with-img .noti-box-content .noti-title,  .noti-box .noti-box-content .noti-more-info-box .writer .writer-name {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.ifclick {
    font-size: 14px;
    padding: 20px 0;
    border-top: solid 1px #e0e0e0;
    color: #757575;
    cursor: pointer;
    text-align: center;
}
.ifclick img {
    position: absolute;
    margin-left: 8px;
    margin-top: 5px;
    rotate: 180deg;
}
.sidebar-menu-name{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.mypage-mys-count{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #9e9e9e;
}
.refresh-btn{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}