<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지</title>
        <link
            rel="stylesheet"
            href="/static/css/admin_page/amdin_main/sub_main.css"
        />
        <link
            rel="stylesheet"
            href="/static/css/admin_page/amdin_main/common_main.css"
        />
        <link
            rel="stylesheet"
            href="/static/css/admin_page/admin_service/sub_service.css"
        />
        <link
            rel="stylesheet"
            href="/static/css/admin_page/admin_service/main_service.css"
        />
    </head>
    <body>
        <div id="AppLayot_Container" class="layout-container">
            <header class="header">
                <div class="header-nav">
                    <div class="ggumteo-logo-container">
                        <button
                            class="ggumteo-logo"
                            type="button"
                        ></button>
                        <div class="admin-page-logo">관리자 페이지</div>
                    </div>
                </div>
                <div class="header-nav right">
                    <div class="admin-id-wrapper">
                        <div
                            class="admin-id-box"
                        >
                            관리자 ID:
                            <span class="admin-id">Yanawa</span>
                    </div>
                    </div>
                    <div class="logout-btn-wrapper">
                        <button
                            class="btn logout"
                            type="button"
                        >
                            <span
                                ><span class="logout-btn-text"
                                    >로그아웃</span
                                ></span
                            >
                        </button>
                    </div>
                </div>
            </header>
            <div class="layout-body">
                <!-- 메뉴바 영역 -->
                <nav class="side-navbar-container">
                    <div class="side-navbar_content">
                        <!-- 관리자페이지 서비스 기능 카테고리 -->
                        <div class="MenuItems_section">
                            <!-- 대카테고리 -->
                            <a
                                aria-current="page"
                                class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active"
                                href=""
                            >
                                <span class="MenuItems_label">
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon"
                                        aria-hidden="true"
                                    >
                                        <!-- 이미지 -->
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                        ></path>
                                    </svg>
                                    <!-- 기획안 대로 카테고리 변경 -->
                                    회원 관리
                                    <!-- 클릭이벤트 이미지 -->
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon MenuItems_downIcon MenuItems_open_1"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <!-- 중카테고리 -->
                            <div class="MenuItems_submenuContainer">
                                <a class="MenuItems_submenu" href=""
                                    >회원 목록 조회</a
                                >
                            </div>

                            <!-- 대카테고리 -->
                            <a
                                aria-current="page"
                                class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active"
                                href=""
                            >
                                <span class="MenuItems_label">
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon"`
                                        aria-hidden="true"
                                    >
                                        <!-- 이미지 -->
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                        ></path>
                                    </svg>
                                    <!-- 기획안 대로 카테고리 변경 -->
                                    고객 지원
                                    <!-- 클릭이벤트 이미지 -->
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon MenuItems_downIcon MenuItems_open_1"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <!-- 중카테고리 -->
                            <div class="MenuItems_submenuContainer">
                                <a class="MenuItems_submenu" href=""
                                    >공지 사항</a
                                >
                                <a class="MenuItems_submenu" href=""
                                    >문의 답변</a
                                >
                            </div>

                            <!-- 대카테고리 -->
                            <a
                                aria-current="page"
                                class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active"
                                href=""
                            >
                                <span class="MenuItems_label">
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon"
                                        aria-hidden="true"
                                    >
                                        <!-- 이미지 -->
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                        ></path>
                                    </svg>
                                    <!-- 기획안 대로 카테고리 변경 -->
                                    작품 관리
                                    <!-- 클릭이벤트 이미지 -->
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon MenuItems_downIcon MenuItems_open_1"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <!-- 중카테고리 -->
                            <div class="MenuItems_submenuContainer">
                                <a class="MenuItems_submenu" href="">영상</a>
                                <a class="MenuItems_submenu" href="">글</a>
                                <!-- <a class="MenuItems_submenu" href="">게시판 수정</a>
                                    <a class="MenuItems_submenu" href="">댓글 수정</a> -->
                            </div>

                            <!-- 대카테고리 -->
                            <a
                                aria-current="page"
                                class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active"
                                href=""
                            >
                                <span class="MenuItems_label">
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon"
                                        aria-hidden="true"
                                    >
                                        <!-- 이미지 -->
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                        ></path>
                                    </svg>
                                    <!-- 기획안 대로 카테고리 변경 -->
                                    펀딩 관리
                                    <!-- 클릭이벤트 이미지 -->
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon MenuItems_downIcon MenuItems_open_1"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <!-- 중카테고리 -->
                            <div class="MenuItems_submenuContainer">
                                <a class="MenuItems_submenu" href="">영상</a>
                                <a class="MenuItems_submenu" href="">글</a>
                                <!-- <a class="MenuItems_submenu" href="">게시판 수정</a>
                                    <a class="MenuItems_submenu" href="">댓글 수정</a> -->
                            </div>

                            <!-- 대카테고리 -->
                            <a
                                aria-current="page"
                                class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active"
                                href=""
                            >
                                <span class="MenuItems_label">
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon"
                                        aria-hidden="true"
                                    >
                                        <!-- 이미지 -->
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                        ></path>
                                    </svg>
                                    <!-- 기획안 대로 카테고리 변경 -->
                                    모집 관리
                                    <!-- 클릭이벤트 이미지 -->
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon MenuItems_downIcon MenuItems_open_1"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <!-- 중카테고리 -->
                            <div class="MenuItems_submenuContainer">
                                <a class="MenuItems_submenu" href="">영상</a>
                                <a class="MenuItems_submenu" href="">글</a>
                                <!-- <a class="MenuItems_submenu" href="">게시판 수정</a>
                                    <a class="MenuItems_submenu" href="">댓글 수정</a> -->
                            </div>

                            <!-- 대카테고리 -->
                            <a
                                aria-current="page"
                                class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active"
                                href=""
                            >
                                <span class="MenuItems_label">
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon"
                                        aria-hidden="true"
                                    >
                                        <!-- 이미지 -->
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z"
                                        ></path>
                                    </svg>
                                    <!-- 기획안 대로 카테고리 변경 -->
                                    결제 관리
                                    <!-- 클릭이벤트 이미지 -->
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon MenuItems_downIcon MenuItems_open_1"
                                        aria-hidden="true"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </span>
                            </a>
                            <!-- 중카테고리 -->
                            <div class="MenuItems_submenuContainer">
                                <a class="MenuItems_submenu" href=""
                                    >결제 관리</a
                                >
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- 메인컨텐츠 영역 -->
                <main
                    id="AppLayout_Contents"
                    class="AppLayout_contents_mainContent"
                >
                    <div class="Service_wrapper">
                        <!-- body_header -->
                        <div class="ServiceHeader_container">
                            <h2 class="ServiceHeader_title">펀딩 관리</h2>
                            <p class="ServiceHeader_description">
                                펀딩 목록을 조회합니다.
                            </p>
                        </div>
                        <hr
                            class="Divider_divider Divider_horizontal Divider_lightBG Divider_spacing3 Divider_caption2 FriendsList_divider"
                        />
                        <!-- body_layout -->
                        <div class="ServiceLayout_container">
                            <div class="filter_wrap">
                                <div class="SortFilterOptions">
                                    <span class="sort-filter-option selected"
                                        >작성일순</span
                                    >/
                                    <span class="sort-filter-option"
                                        >현재모인 금액순</span
                                    >/
                                    <span class="sort-filter-option"
                                        >투자자순</span
                                    >
                                </div>
                                <!-- Action Buttons -->
                                <div class="action-buttons">
                                    <input
                                        type="text"
                                        class="Filter_searchInput"
                                        placeholder="통합검색"
                                    />
                                    <button
                                        id="deleteSelectedBtn"
                                        class="deleteSelectedBtn"
                                    >
                                        게시글 삭제
                                    </button>
                                </div>
                            </div>
                            <hr
                                class="Divider_divider Divider_horizontal Divider_lightBG Divider_spacing3 Divider_caption2 FriendsList_divider"
                            />
                            <div class="ServiceTable_container">
                                <div class="header_wrapper">
                                    <div
                                        class=" ServiceTable_header"
                                    >
                                        <div
                                            class="funding-table-cell headerCell selectAllCell"
                                        >
                                            <input
                                                type="checkbox"
                                                id="selectAll"
                                            />
                                        </div>
                                        <div class="funding-table-cell
                                        headerCell" style= > ID
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        작성자
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        작성일
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        게시글 제목
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        조회수
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        현재모인 금액
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        목표금액 유형
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        투자자수
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        신고상태
                                    </div>
                                    <div class="funding-table-cell headerCell">
                                        Actions
                                    </div>
                                </div>
                            </div>

                            <!-- 목록 리스트 -->
                            <div class="funding-table-row-wrapper">
                                <div class="funding-table-row">
                                    <div class="funding-table-cell">
                                        <input
                                            type="checkbox"
                                            class="checkbox"
                                        />
                                    </div>
                                    <div class="funding-table-cell">
                                        1
                                    </div>
                                    <div class="funding-table-cell">
                                        홍길동
                                    </div>
                                    <div class="funding-table-cell">
                                        2024-08-20
                                    </div>
                                    <div class="funding-table-cell">
                                        펀딩글 타이틀
                                    </div>
                                    <div class="funding-table-cell">
                                        152
                                    </div>
                                    <div class="funding-table-cell">
                                        500,000원
                                    </div>
                                    <div class="funding-table-cell">
                                        1,000,000원
                                    </div>
                                    <div class="funding-table-cell">
                                        5
                                    </div>
                                    <div class="funding-table-cell">
                                        -
                                    </div>
                                    <div class="funding-table-cell editBtn">
                                        <button class="">수정</button>
                                    </div>
                                </div>
                                <div class="">
                                    
                                </div>
                                <div class="">
                                </div>
                                <div class="">
                                </div>
                                <div class="">
                                </div>

                                <!-- 목록 리스트 -->
                            </div>
                        </div>
                        </div>
                        <nav class="pagination">
                            <ul class="pagination-list">
                                <!-- 처음 페이지로 이동하는 버튼 -->
                                <li class="pagination-first">
                                    <a
                                        href="#"
                                        class="pagination-first-link"
                                        rel="nofollow"
                                    >
                                        <span
                                            class="pagination-first-icon"
                                            aria-hidden="true"
                                            >«</span
                                        >
                                    </a>
                                </li>
                                <!-- 이전 페이지로 이동하는 버튼 -->
                                <li class="pagination-prev">
                                    <a
                                        href="#"
                                        class="pagination-prev-link"
                                        rel="prev nofollow"
                                    >
                                        <span
                                            class="pagination-prev-icon"
                                            aria-hidden="true"
                                            >‹</span
                                        >
                                    </a>
                                </li>
                                <!-- 페이지 번호 버튼 -->
                                <li class="pagination-page active">
                                    <a href="#" class="pagination-page-link">1</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">2</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">3</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">4</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">5</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">6</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">7</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">8</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">9</a>
                                </li>
                                <li class="pagination-page">
                                    <a href="#" class="pagination-page-link">10</a>
                                </li>
                                <!-- 다음 페이지로 이동하는 버튼 -->
                                <li class="pagination-next">
                                    <a
                                        href="#"
                                        class="pagination-next-link"
                                        rel="next nofollow"
                                    >
                                        <span
                                            class="pagination-next-icon"
                                            aria-hidden="true"
                                            >›</span
                                        >
                                    </a>
                                </li>
                                <!-- 마지막 페이지로 이동하는 버튼 -->
                                <li class="pagination-last">
                                    <a
                                        href="#"
                                        class="pagination-last-link"
                                        rel="nofollow"
                                    >
                                        <span
                                            class="pagination-last-icon"
                                            aria-hidden="true"
                                            >»</span
                                        >
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- 모달창 -->
                    <div id="editModal" class="modal">
                        <div
                            class="modal-content"
                            style="
                                max-height: 80vh;
                                overflow-y: auto;
                                display: flex;
                                flex-direction: column;
                            "
                        >
                            <span class="close-button" style="align-self: flex-end"
                                >&times;</span
                            >
                            <h2 style="text-align: center">게시글 수정</h2>
                            <form
                                id="editForm"
                                style="
                                    flex-grow: 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                "
                            >
                                <div
                                    style="
                                        flex-grow: 1;
                                        overflow-y: auto;
                                        margin-bottom: 20px;
                                    "
                                >
                                    <label for="editPostTitle">게시글 제목:</label>
                                    <input
                                        type="text"
                                        id="editPostTitle"
                                        name="editPostTitle"
                                        style="
                                            width: 100%;
                                            padding: 8px;
                                            margin-bottom: 10px;
                                            border: 1px solid #999;
                                        "
                                    />

                                    <label for="editPostContent"
                                        >게시글 내용:</label
                                    >
                                    <textarea
                                        id="editPostContent"
                                        name="editPostContent"
                                        style="
                                            width: 100%;
                                            height: 200px;
                                            padding: 8px;
                                            margin-bottom: 10px;
                                            border: 1px solid #999;
                                        "
                                    ></textarea>

                                    <label for="editFiles">첨부파일:</label>
                                    <input
                                        type="file"
                                        id="editFiles"
                                        name="editFiles"
                                        accept="image/*, video/*"
                                        multiple
                                        style="
                                            width: 100%;
                                            padding: 8px;
                                            margin-bottom: 10px;
                                        "
                                    />

                                    <!-- 첨부된 이미지/동영상 미리보기 -->
                                    <div
                                        id="filePreviewContainer"
                                        style="
                                            margin-top: 20px;
                                            display: flex;
                                            flex-wrap: wrap;
                                            gap: 10px;
                                        "
                                    ></div>

                                    <h3 style="margin-top: 30px">댓글 목록</h3>
                                    <ul
                                        id="commentList"
                                        style="
                                            list-style-type: none;
                                            padding: 0;
                                            min-height: 200px;
                                            overflow-y: auto;
                                            max-height: 300px;
                                        "
                                    ></ul>
                                </div>

                                <!-- 저장 버튼은 맨 아래에 배치 -->
                                <button
                                    type="button"
                                    id="saveChanges"
                                    style="
                                        width: 100%;
                                        padding: 12px;
                                        background-color: #1890ff;
                                        color: white;
                                        font-size: 16px;
                                        border: none;
                                        cursor: pointer;
                                    "
                                >
                                    저장
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- 여기까지 모달창 -->
                </main>
            </div>
        </div>
    </body>
    <script src="/static/js/adminPage/admin_page/admin.js"></script>
    <script src="/static/js/adminPage/admin_service/service_Main.js"></script>
    <script src="/static/js/adminPage/admin_post/postList_filter.js"></script>
</html>
