<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        
        <link rel="stylesheet" href="/static/css/admin_page/amdin_main/sub_main.css">
        <link rel="stylesheet" href="/static/css/admin_page/amdin_main/common_main.css" />
    </head>
    <body>
        <noscript>#</noscript>
        <div id="root">
            <div id="AppLayot_Container" class="AppLayout_container">
                <div class="AppGNBNavbar_container">
                    <div class="AppGNBNavbar_flex">
                        <div class="StudioLogo_container">
                            <button
                                class="StudioLogo_logo"
                                type="button"
                                aria-label="로고버튼"
                            ></button>
                            <div class="Admin_page_logo">관리자 페이지</div>
                        </div>
                        <!-- <div class="StudioStatus_stateBox">
                            <span class="StudioStatus_state">작업 중</span>
                        </div> -->
                    </div>
                    <div class="AppGNBNavbar_flex AppGNBNavbar_rightBox_1">
                        <div class="ProjectInfo_container">
                            <button
                                class="ProjectInfo_infoButton"
                                type="button"
                                aria-controls="project-info-box"
                                aria-expanded="true"
                            >
                                관리자 ID:
                                <span class="ProjectInfo_emphasis">Yanawa</span>
                                <!-- <span class="ProjectInfo_text_info">정보</span> -->
                                <!-- <svg
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon"
                                    aria-hidden="true"
                                    style="height: 12px"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                    ></path>
                                </svg> -->
                            </button>
                            <!-- <div
                                class="ProjectInfo_infoBox"
                                role="region"
                                aria-labelledby="project-info"
                            >
                                <dl>
                                   
                                    <dd class="ProjectInfo_content">
                                        
                                        <span
                                            class="Avatar_avatar Avatar_img_admin ProjectInfo_profileImage_admin"
                                        >
                                            <span class="Avatar_inner">
                                                <img
                                                    src="https://static.wadiz.kr/studio/funding/static/media/default-zingugi.de76a099.svg"
                                                    alt=""
                                                />
                                            </span>
                                        </span>
                                       
                                        <span class="ProjectInfo_makerName">
                                            관리자: "이름"
                                        </span>
                                    </dd>
                                    
                                    <dt class="BlindText_textHidden">상태</dt>
                                    <dd
                                        class="ProjectInfo_content ProjectInfo_stateBox_1"
                                    >
                                       
                                        <span class="ProjectInfo_state-1"
                                            >작업 중</span
                                        >
                                    </dd>
                                </dl>
                                
                            </div> -->
                        </div>
                        <!-- <div class="AnnouncementButton_container_1-1">
                           
                            <img
                                class="AnnouncementButton_icon"
                                src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg"
                                alt=""
                                aria-hidden="true"
                            />
                            <span
                                class="Badge_container AnnouncementButton_badge"
                            ></span>
                        </div> -->
                        <!-- 미리보기/로그아웃 버튼/ 로그아웃 버튼은 로그아웃 버튼으로 변경 /미리보기 미정-->
                        <div class="PreviewExitButtons_container">
                            <!-- <button class="Button_button PreviewExitButtons_button" type="button"><span><span class="Button_children">미리보기</span></span></button> -->
                            <button
                                class="Button_button PreviewExitButtons_button"
                                type="button"
                            >
                                <span
                                    ><span class="Button_children"
                                        >로그아웃</span
                                    ></span
                                >
                            </button>
                        </div>
                    </div>
                </div>    
                <!-- 메인컨텐츠 영역 -->
                <div class="AppLayout_main_1">
                    <!-- 사이드바 영역 -->
                    <div class="AppSidebarLayout_container">
                        <div class="AppSidebarLayout_content">
                            <!-- 관리자페이지 서비스 기능 카테고리 -->
                            <div class="MenuItems_section">

                                <!-- 대카테고리 -->
                                <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        회원 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">회원 목록 조회</a>
                                    
                                    
                                </div>


                                <!-- 대카테고리 -->
                                <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        고객 지원
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <!-- <a class="MenuItems_submenu" href="">문의 답변</a> -->
                                    <a class="MenuItems_submenu" href="">공지 사항</a>
                                </div>
                                
                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        게시판 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">게시판 목록 조회</a>
                                    <a class="MenuItems_submenu" href="">게시글 작성</a>
                                    <!-- <a class="MenuItems_submenu" href="">게시판 수정</a>
                                    <a class="MenuItems_submenu" href="">댓글 수정</a> -->
                                    
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        결제 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">결제 관리</a>
                                    
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        배너 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">메인 배너 이미지 변경</a>
                                </div>

                               
                                <!-- 서비스 대카테고리 -->
                                <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                   <span class="MenuItems_label">
                                       <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                           <!-- 이미지 -->
                                           <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                           </path>
                                       </svg>
                                       <!-- 기획안 대로 카테고리 변경 -->
                                       팀 관리
                                       <!-- 클릭이벤트 이미지 -->
                                       <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                           <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                       </svg>
                                   </span>
                               </a>
                               <!-- 서비스 중카테고리 -->
                               <div class="MenuItems_submenuContainer ">
                                   <a class="MenuItems_submenu" href="">팀 목록 조회</a>
                                   <a class="MenuItems_submenu" href="">팀 활동 내역 조회</a>
                               </div>

                                 <!-- 서비스 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        서비스 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 서비스 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">경기 매칭 게시판</a>
                                    <a class="MenuItems_submenu" href="">모아모아 모집 게시판</a>
                                    <a class="MenuItems_submenu" href="">장소 대여 게시판</a>
                                    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div id="AppLayout_Contents" class="AppLayout_contents_mainContent">
                        
                    </div>
                </div>
            
        </div>
    </body>
    <script src="/static/js/adminPage/admin_page/admin.js"></script>
</html>
