<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>test-신고관리-모달창</title>
    </head>
    <body>
        <!-- 신고관리 모달창 -->
        <div id="report-management-modal" class="report-management-modal">
            <div class="background-overlay"></div>
            <div class="modal-content">
                <div class="choice-container">
                    <input
                        id="btn-report"
                        class="btn-report"
                        type="button"
                        value="처리 완료"
                    />
                    <input
                        id="btn-refusal"
                        class="btn-refusal"
                        type="button"
                        value="이상 없음"
                    />
                    <input
                        id="btn-hold"
                        class="btn-hold"
                        type="button"
                        value="보류"
                    />
                </div>
                <div class="button-container">
                    <button id="btn-complete" class="btn-complete">저장</button>
                </div>
            </div>
        </div>
        <!-- 여기까지(신고관리 모달창)!! -->
    </body>
</html>
