<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/admin/verify_code.css" />
        <title>인증번호 페이지</title>
    </head>
    <body>
        <!-- 관리자 로그인(모달창) -->
        <div id="enter-modal" class="verify-modal">
            <div class="dim"></div>
            <div class="modal-wrap">
                <div class="enterModal_content">
                    <div class="header-title">
                        <img
                            src="/static/images/header/test-logo2.png"
                            width="90px"
                        />
                        <p>관리자 페이지</p>
                    </div>
                    <div class="enter-container">
                        <input
                            type="text"
                            id="input1"
                            maxlength="1"
                            class="enter-input"
                        />
                        <input
                            type="text"
                            id="input2"
                            maxlength="1"
                            class="enter-input"
                        />
                        <input
                            type="text"
                            id="input3"
                            maxlength="1"
                            class="enter-input"
                        />
                        <input
                            type="text"
                            id="input4"
                            maxlength="1"
                            class="enter-input"
                        />
                        <input
                            type="text"
                            id="input5"
                            maxlength="1"
                            class="enter-input"
                        />
                        <input
                            type="text"
                            id="input6"
                            maxlength="1"
                            class="enter-input"
                        />
                    </div>
                    <button id="enterVerify_btn" class="enterVerify_btn">
                        확인
                    </button>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/admin/verify_code.js"></script>
</html>
