@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

html {
    font-family: 'NotoSansKR', Sans-serif;
    line-height: 1rem;
    font-size: 16px;
}

/* #always-hover {
    background-color: #f0f0f0; 
    border-radius: 8px; 
    transition: background-color 0.3s ease, border-radius 0.3s ease; 
} */

.container.scrapbook {
    display: flex;
    padding-top: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 120px;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.fold.sidebar-menu {
    justify-content: space-between;
}

.sidebar-menu.active-menu {
    background-color: #ffffff;
    transition: .5s;
}

.sidebar-menu {
    width: 280px;
    height: 48px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar-menu .sidebar-menu-name-img-set {
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
}

.fold .icon-fold.fold-on {
    width: 16px;
    height: 16px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_menu_fold_off@3x.png);
}

.sidebar-menu .sidebar-menu-img {
    display: flex;
}

.sidebar-menu.active-menu .sidebar-menu-name {
    font-weight: 500;
}

.sidebar-menu .sidebar-menu-name {
    display: block;
    align-items: center;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.body-2, #profile_image_edit_modal .modal__body .modal-body-wrapper .body-btn-group .body-btn, #profile_image_edit_modal .modal__body .modal-body-wrapper .modal-content, .body-2-bold, .body-2-medium, .body-2-light {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.scrapbook-list-box {
    width: 280px;
    max-height: 317px;
    overflow: hidden;
}

.scrapbook-list-box .sidebar-menu {
    padding: 0px 16px 0px 0px;
}

.scrapbook-list-box .sidebar-menu .sidebar-menu-name-img-set {
    padding: 12px 0px 12px 44px;
}


.sidebar-menu .scrapbook-scraps-count {
    margin: 0px 6px;
}

.text400 {
    color: #9e9e9e;
}

.caption-1, #profile_image_edit_modal .modal__body .modal-info-body .base-dot-list .dot-line, .caption-1-bold, .caption-1-medium, .caption-1-light {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.content-divide {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.sidebar-menu .off-img {
    margin-right: 12px;
    display: block;
}

.container.scrapbook .main-content-container {
    width: 800px;
    padding-left: 80px;
}

.container.scrapbook .main-content-container .main-content {
    width: 720px;
}

.text900 {
    color: #212121;
}

.subtitle-2-medium {
    font-weight: 500;
}

.subtitle-2, .subtitle-2-bold, .subtitle-2-medium, .subtitle-2-light {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.container.scrapbook .main-content-container .main-content .last-open-scrapbooks {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    padding: 32px 0px 40px 0px;
}

.container.scrapbook .main-content-container .main-content .last-open-scrapbooks .last-open-scrapbook {
    display: inline-flex;
    border: solid 1px #e0e0e0;
    border-radius: 12px;
    padding: 24px;
    width: 298px;
    height: 52px;
}

.btn {
    cursor: pointer;
}

.container.scrapbook .main-content-container .main-content .last-open-scrapbooks .last-open-scrapbook .last-open-scrapbook-info {
    margin-left: 24px;
}

.container.scrapbook .main-content-container .main-content .last-open-scrapbooks .last-open-scrapbook .last-open-scrapbook-info .scrapbook-title {
    width: 222px;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}

.body-1-medium {
    font-weight: 500;
}

.text600 {
    color: #616161;
}

.fold.active-menu .icon-fold {
    width: 16px;
    height: 16px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_menu_open_on.png);
}

.container.scrapbook .main-content-container .main-content .last-open-scrapbooks .last-open-scrapbook:hover {
    border: 1px solid #6b16ee;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
    transform: translateY(-4px);
    transition-duration: .5s;
}

.scrapbook-link:hover, .highlight-memo:hover, .read-news:hover, #scrapbook-fold:hover {
    background-color: #f0f0f0; /* 아주 연한 회색 배경 */
    border-radius: 8px; /* 모서리를 부담게 까임 */
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* 부담한 전환 후과 */
}

.icon-fold {
    width: 16px;
    height: 16px;
    background-image: url('https://yozm.wishket.com/static/renewal/img/news/icon_menu_fold_off@3x.png'); /* 초기 이미지: 아래로 화살표 */
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.icon-fold.fold-on {
    transform: rotate(-0deg); /* 오른쪽을 가리할 만큼 회전 */
}

.container.scrapbook .main-content-container {
    width: 800px;
    padding-left: 80px;
}  
  .container.scrapbook .main-content-container .main-content {
    width: 720px;
}
.container.scrapbook .main-content-container .main-content.read-news-list .content-title-with-btn {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.container.scrapbook .main-content-container .main-content.read-news-list .content-title-with-btn .content-title {
    margin-bottom: 0px;
}
.container.scrapbook .main-content-container .main-content .content-title {
    gap: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.text900 {
    color: #212121;
} 
   .container.scrapbook .main-content-container .main-content .content .list-item {
    padding: 32px 0px;
    border-bottom: 1px solid;
}
.flex-box {
    display: flex;
    align-items: center;
}
.container.scrapbook .main-content-container .news-list .news-text {
    width: 562px;
    margin-right: 48px;
}
a {
    text-decoration: none;
    color: #212121;
}
.container.scrapbook .main-content-container .news-list .news-text .scrap-news-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 8px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.container.scrapbook .main-content-container .news-list .news-text .scrap-news-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #616161;
    margin-bottom: 12px;
}
.text600 {
    color: #616161;
}
.body-3-medium {
    font-weight: 500;
}
.body-3, .body-3-bold, .body-3-medium, .body-3-light {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.divider {
    width: 1px;
    height: 13px;
    background-color: #e0e0e0;
}
.mr-4 {
    margin-right: 4px !important;
}
.container.scrapbook .main-content-container .news-list .news-description {
    display: block;
    line-height: 22px; /* 각 줄의 높이 설정 */
    height: 44px; /* 두 줄의 높이로 고정 */
    max-height: 44px; /* 두 줄의 높이로 제한 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘칠 경우 ... 처리 */
    white-space: normal; /* 줄바꿈 허용 */
    word-wrap: break-word; /* 단어가 길 경우 줄 바꿈 */
}






.container.scrapbook .main-content-container .news-list .news-author-box {
    width: 562px;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.author-info .author-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}
.author-info .author-name {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #9e9e9e;
}
.btn-wrapper {
    display: flex;
    position: relative;
    width: max-content;
    border-radius: 8px;
}
.container.scrapbook .main-content-container .news-list .news-author-box .btn {
    padding: 8px;
    border: 0px;
    background: white;
}
.btn-action {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.btn-wrapper .action-tooltip.bottom-action {
    top: -44px;
    left: 50%;
    transform: translate(-50%, 16px);
}
.btn-wrapper .action-tooltip {
    opacity: 0;
    transition: all .4s ease-in-out;
    cursor: default;
    position: absolute;
    width: max-content;
    color: #fff;
    background-color: #212121;
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
}
.btn:hover .action-tooltip {
    opacity: 1; /* 마우스 오버 시 보이도록 설정 */
    visibility: visible; /* 마우스 오버 시 표시 */
}
.btn-wrapper .action-tooltip.bottom-action:after {
    border-top: 4px solid #212121;
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.icon-scrap-edit-off {
    width: 24px;
    height: 24px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_toolbar_scrap_off.png);
}

.icon-scrap-edit-on {
    width: 24px;
    height: 24px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_toolbar_scrap_on.png);
}
.container.scrapbook .main-content-container .news-list .news-author-box .btn {
    padding: 8px;
}
.icon-scrap-delete {
    width: 24px;
    height: 24px;
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_scrap_delete.png);
}
.container.scrapbook .main-content-container .news-list .news-image img {
    width: 110px;
    height: 110px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
}
.text500 {
    color: #757575;
}
.pagination {
    display: block !important;
    text-align: center;
    line-height: 40px;
    padding: 48px 0px 120px 0px;
}
ul {
    list-style: none;
}
.pagination.theme-yozm li:first-child {
    margin-left: 0;
}
.pagination.theme-yozm li {
    height: 100%;
    margin-left: 4px;
}
.pagination li {
    display: inline-block;
    cursor: pointer;
}
ul li {
    padding: 0;
    margin: 0;
}
.pagination.theme-yozm .page-link.active {
    color: #6b16ee;
    border-radius: 8px;
    background-color: #faf6ff;
}
.pagination.theme-yozm .page-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 25px;
    height: 25px;
    padding: 8px;
    font-weight: 500;
    color: #424242;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}
.pagination li a {
    cursor: pointer;
}
.pagination.theme-yozm li:last-child>.page-link {
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_page_next.png);
    text-indent: -999999px;
    background-position: center;
    background-repeat: no-repeat;
}
.pagination.theme-yozm .page-link:hover {
    z-index: 2;
    border-radius: 8px;
    background-color: #fafafa;
}
#back{
    background-image: url(https://yozm.wishket.com/static/renewal/img/news/icon_page_next.png);
    text-indent: -999999px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
}
body.partners_profile .edit-menu-box .profile-menu-setting .setting-table .setting-th {
    padding: 12px 0;
    border-top: solid 1px #212121;
    border-bottom: solid 1px #e0e0e0;
}
.body-2-medium {
    font-weight: 500;
}
.body-2, #profile_image_edit_modal .modal__body .modal-body-wrapper .body-btn-group .body-btn, #profile_image_edit_modal .modal__body .modal-body-wrapper .modal-content, .body-2-bold, .body-2-medium, .body-2-light {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.setting-td:first-child {
    padding-left: 16px;
}.setting-td {
    display: inline-block;
}
.size-l {
    width: 350px;
}
.size-s {
    width: 120px;
}
.center-text, body.partners_profile .resume-status-box .status-box {
    text-align: center;
}
.size-m {
    width: 192px;
}
.setting-tr-group {
    display: inline-block;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: solid 1px #e0e0e0;
}
.setting-tr {
    height: auto;
    overflow: hidden;
}
.setting-td.with-sub {
    padding: 12px 11px;
}
.major-span{
    color: #212121;
}

.mb4 {
    margin-bottom: 4px;
    margin-left: 5px;
}
.sub-span {
    color: #757575;
    margin-left: 5px;
}
.caption-1, #profile_image_edit_modal .modal__body .modal-info-body .base-dot-list .dot-line, .caption-1-bold, .caption-1-medium, .caption-1-light {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.setting-td.with-text.primary {
    color: #00a878;
    font-weight: 600;
}
.setting-td.with-text {
    
    vertical-align:middle;
}

.btn-group.choice-group {
    float: right;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
.btn-choice.active {
    border: solid 1px #00a878;
    background-color: #fff;
    color: #00a878;
    border-radius: 4px;
}
.btn-choice {
    display: inline-block;
    cursor: pointer;
    width: 80px;
    padding: 8px 0;
    color: #bdbdbd;
}
.radio-value {
    display: none;
}
.btn-choice.active .name {
    font-weight: 500 !important;
}
.btn-choice .name {
    position: relative;
   left: -1px;
}
.btn-secret {
    border-left: none;
}
.setting-th{
    padding: 12px 0;

    border-bottom: solid 1px #e0e0e0;
}
.container.scrapbook .main-content-container .main-content.read-news-list .content-title-with-btn .all-delete-read-news {
    display: flex;
    gap: 6px;
    align-items: center;
}
.body-2-medium {
    font-weight: 500;
}
