body, html {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.3;
    word-break: keep-all;
    color: #343a40;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
    height: 100%;
    overflow: auto;
}

body, button, html, input, select, textarea {
    color: inherit;
}

button {
    background-color: transparent;
    color: inherit;
}

button:not(:disabled) {
    cursor: pointer;
}

button, input, span, textarea {
    font-family: inherit;
}

a, button {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a, address, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, label, legend, li, mark, menu, nav, object, ol, p, pre, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

canvas, img, picture, video {
    max-width: 100%;
}

iframe, img, video {
    vertical-align: top;
}

img, video {
    max-width: 100%;
    height: auto;
}

*, :after, :before {
    box-sizing: border-box;
}

.layout-container {
    position: relative;
}

.layout-container {
    overflow-y: auto;
}

.header {
    box-shadow: 0 1px 0 0 rgba(10, 22, 70, .06);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 72px;
}

.header-nav {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: flex-start;
}

.ggumteo-logo-container {
    display: flex;
    align-items: center;
    padding: 0;
    min-width: 240px
}

.ggumteo-logo {
    display: block;
    margin-right: 8px;
    margin-bottom: 4px;
    outline: 0;
    background-size: cover;
    width: 190px;
    height: 38px;
}

.admin-page-logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 8px;
    color: #868e96;
}

.header-nav.right {
    justify-content: flex-end;
    grid-gap: 24px;
    gap: 24px;
}

.StudioStatus_stateBox {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4px;
    gap: 4px;
}

.StudioStatus_stateBox .StudioStatus_state {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.admin-id-wrapper {
    position: relative;
    margin-right: 0;
    padding: 0;
}

.admin-id-box {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    padding: 0 16px;
    width: 100%;
    height: 37px;
    color: #868e96;
    grid-gap: 4px;
    gap: 4px;
}

.admin-id-box .admin-id {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.admin-id-box .ProjectInfo_text_info {
    margin-left: 12px;
    color: #495057;
}

.admin-id-box[aria-expanded=true] [class*=withIcon_icon] {
    
    transform: rotate(180deg);
}

.btn.Button_contained {
    border-color: #495057;
    background-color: #495057;
    color: #fff;
}

.btn.Button_primary {
    border-color: #00c4c4;
    color: #00c4c4;
}

.btn.Button_sm {
    padding: 6px 11px;
    height: 32px;
    font-size: 14px;
}

.btn.Button_primary.Button_contained {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.btn.Button_block {
    width: 100%;
}

.Badge_container {
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
}

.btn-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    grid-gap: 0;
    gap: 0;
}

.btn-wrapper .logout[class*=btn] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    border-radius: 0;
    border-color: #e9ecef;
    padding: 8px 24px;
    height: auto;
    color: #495057;
}

.btn-wrapper .logout[class*=btn]:first-child {
    border-radius: 4px 0 0 4px;
}

.btn-wrapper .logout[class*=btn]~.logout {
    margin-left: -1px;
    border-left: 1px solid #e9ecef;
}

.btn-wrapper .logout[class*=btn]:last-child {
    border-radius: 0 4px 4px 0;
}

.layout-container .layout-body {
    display: flex;
    padding-top: 72px;
    height: 100vh;
}

.side-navbar_content {
    padding-bottom: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-navbar-container {
    display: flex;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    flex-flow: column;
    transform: none;
    transition: none;
    z-index: 0;
    background-color: #fff;
    width: 240px;
    height: 100%;
    min-width: 240px;
}

.MenuItems_section {
    padding: 0;
}

.MenuItems_section:first-of-type, .MenuItems_section:nth-of-type(2) {
    border-bottom: 1px solid #f2f4f6;
}

.MenuItems_menu {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
}

.MenuItems_menu.MenuItems_hasSubmenu {
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.MenuItems_menu .MenuItems_label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #495057;
    grid-gap: 12px;
    gap: 12px;
}

.MenuItems_active .MenuItems_label {
    color: #212529;
    font-weight: 700;
}

.MenuItems_menu .MenuItems_label svg {
    width: 16px;
    height: 16px;
}

.MenuItems_menu.MenuItems_hasSubmenu .MenuItems_downIcon {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -8px;
    color: #adb5bd;
}

.MenuItems_menu.MenuItems_hasSubmenu .MenuItems_downIcon.MenuItems_open_1 { 
    transform: rotate(0deg);
}

.MenuItems_submenuContainer {
    transition: height .3s ease-out;
    height: 0;
    overflow-y: hidden;
}
.MenuItems_submenuContainer.MenuItems_show {
    height: auto;
}

.MenuItems_submenuContainer .MenuItems_submenu {
    display: block;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 12px 16px 12px 44px;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.layout-container .layout-body .AppLayout_contents_mainContent {
    position: relative;
    flex: 1 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
    overflow-x: auto;
    overflow-y: auto;
        
}

.ServiceTable_cell.post_title {
    white-space: nowrap; /* 한 줄로 만들기 */
    overflow: hidden;    /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘친 부분을 '...'으로 표시 */
    max-width: 330px; /* 원하는 최대 너비 설정 */
}
