<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자페이지</title>
    </head>
    <style></style>
    <body>
        <div class="container">
            <header class="header">
                <div class="">
                    <div class="ggumteo-logo-container">
                        <button class="ggumteo-logo"></button>
                        <div class="admin-page-logo">관리자 페이지</div>
                    </div>
                </div>
                <div class="">
                    <div>
                        <button>
                            관리자 ID :
                            <span>Ggumteo</span>
                        </button>
                    </div>
                    <div class="logout-button-container">
                        <button>
                            <span>
                                <span>로그아웃</span>
                            </span>
                        </button>
                    </div>
                </div>
            </header>
            <div>
                <nav></nav>
                <main></main>
            </div>
        </div>

        <div id="" class="">
            <header></header>
            <div class="">
                <!-- 사이드바 영역 -->
                <aside></aside>
                <!-- 메인컨텐츠 영역 -->
                <main></main>
            </div>
        </div>
    </body>
    <script src="/static/js/adminPage/admin_page/admin.js"></script>
</html>
