<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer-main">
        <div class="footer-menu-list footer-contact">
            <p class="footer-menu-title flex-box">
                <img src="" />
                고객 문의
            </p>
            <p class="footer-contact-tel">02-9999-1004</p>
            <div class="footer-contact-info">
                <div class="footer-contact-item">9:00~18:00</div>
                <div class="footer-contact-subitem">
                    주말·공휴일 제외
                </div>
                <br />
                <div class="footer-contact-item email"></p>
                    help@ggumteo.com
                </div>
            </div>
        </div>
        <div class="footer-menu-list">
            <p class="footer-menu-title">작품</p>
            <a class="footer-menu-item" href="">영상</a>
            <a class="footer-menu-item" href="">글</a>
        </div>
        <div class="footer-menu-list">
            <p class="footer-menu-title">펀딩</p>
            <a class="footer-menu-item" href="">영상</a>
            <a class="footer-menu-item" href="">글</a>
        </div>
        <div class="footer-menu-list">
            <p class="footer-menu-title">모집</p>
            <a class="footer-menu-item" href="">영상</a>
            <a class="footer-menu-item" href="">글</a>
        </div>
        <div class="footer-menu-list">
            <a class="footer-menu-title" href="">
                문의사항<img src="" />
            </a>
        </div>
    </div>
</body>
</html>