<!DOCTYPE html>   
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/static/css/notice/notice.css">
    <style>
     
     .content-header {
        margin-bottom: 5px;
     }
     .content-header {
        padding: 30px;
     }
     .content-header {
        background-color: #fff;
        border-bottom-width: 2px;
     }
     .content-header {
        padding: 30px;
     }
     .content-header {
       border: 1px solid #dedede;
     }
     * {
       box-sizing: border-box;
     }

     body {
        margin: 0;
        font-family: "Nanum Gothic", "Apple SD Gothic Neo" "맑은 고딕", "Malgun Gothic" "AppleGothic", "돋움" ,Dotum, Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        background-color: #f5f5f5; 
    }
    </style>
</head>
<body>
<div class="content">
    <div class="content-header"> 
        <h1 class="header-text"></h1>
        "공지사항"
        <h1 class="header-text">공지사항</h1>
        <small class="small-text">꿈터의 새로운 소식을 확인할 수 있습니다.</small>
    </h1>
    </div>
    <div class="content-inner"> 
    <input class="news-center-search" id="news_center_search"name="q"type="text">
    <span class="news-center-search-add-on" id="news-center-search-submit">검색</span>
   </form>
  </div>
</div>
<div class="tab-content"> 
    <div class="news-center-table" style="margin-top:0; margin-bottom:20px">
        <table class="news-center-table" style="margin-top:0; margin-bottom: 20px;">
            <colgroup> 
                <col style="width: 57px;">
                <col style="width: 132px;">
                <col style="width: 703px;">
                <col style="width: 104px;">
            </colgroup>
            <thead class="news-center-table-head">  
               <tr>
                <th>번호</th>
                <th>구분</th>
                <th>제목</th>
                <th>등록일</th>
               </tr>
            </thead>
            <tr class="news-data-rows" data-forloop="1">>
              <td class="news-center-table-body-number">273</td>
              <td class="news-center-table-body-category">공지사항</td>
              <td class="news-center-table-body-title">
              <a href="/news-center/detail/812/" style="color: #535353;">
              <span style="cursor:pointer;">[공지사항] 위시켓 이용약관 및 개인정보 처리방침 일부 개정 안내</span>
              </a>  
              </td>
              </tr>
            <tr class="news-data-rows" data-forloop="2">
                <td class="news-center-table-body-number">272</td>
                <td class="news-center-table-body-category">공지사항</td>
                <td class="news-center-table-body-title"></td>
                  <a herf="/news-center/detail/811/" style="color: #535353">
                  <span style="cursor: pointer;">[공지사항]2024년 설연휴 꿈터 휴무 안내</span>  
                  </a>
                </td>
                 <td class="news-data-rows" data-forloop="3">
                    <td class="news-center-table-body-number">271</td>"
                    <td class="news-center-table-body-category">공지사항</td>
                 <td class="/news-center/detail/810/"style="color: #535353;"></td>
                 <span style "cursor: pointer;">[공지사항]2023년 추석 연휴 꿈터 휴무 안내</span>
                 </a>
                 </td>
                 <td class="news-center-table-body-date">2023.09.26</td>
                 </tr>
                 <tr class="news-data-rows" data-forloop="4">
                  <td class="news-center-table-body-number">270</td>
                  <td class="news-center-table-body-category">꿈터 이용팁</td>
                  <td class="news-center-table-body-title">
                    <a href="/news-center/detail/809/"style="color: #535353;">
                      <span style="cursor: pointer;">정부지원사업 창업가를 위한 꿈터 이용 가이드</span>
                    </a>
                    </td>
                    <td class="news-center-table-body-date">2023.09.14</td>
                    </tr>
                    <tr class="news-data-rows"data-forloop="5">
                      <td class="news-center-table-body-number">269</td>
                      <td class="news-center-table-body-category"프로젝트 성공사례</td>
                      <td class="news-center-table-body-title">
                      < <a href="/news-center/dtail/808/"style="color: #535353;">
                        <span style="cursor:pointer;">MVP 제작, 외주로 개발하려는 스타트업이 꼭 알아야 할 3가지</span>
                      </a>
                      </td>
                      <td class="news-center-table-body-date">2023.08.24</td>
                    </tr>
                    <tr class="news-data-rows" data-forloop="6">
                      <td class="news-center-table-body-number">268</td>
                      <td class="news-center-table-body-category">꿈터 이용팁</td>
                      <td class="news-center-table-body-title">
                        <a href="/news-center/detail/806/" style="color:#535353;>"
                            <span style="cursor: pointer;">정부지원사업 앱/웹 개발 외주 플랫폼 써도 될까? 5분 팩트 체크</span>
                        </a>
                        </td>
                        <td class="news-center-table-body-date">2023.03.24</td>
                        </tr>
                        <tr class="news-data-rows" data-forloop="7"></tr>
                        <td class="news-center-table-body-number">267</td>
                        <td class="news-center-table-body-category">꿈터 이용 팁</td>
                        <td class="news-center-table-body-title">
                            <a href="/news-center/detail/805/" style="color: #535353;"></a>
                            <span style="cursor: pointer;">정부지원사업 외주 개발사, 어떤 기준으로 골라야 할까?</span>
                        </a>
                        </td>
                        <td class="news-center-table-body-date">2023.03.24</td>
                    </tr>
                    <tr class="news-data-rows" data-forloop="8">
                        <td class="news-center-table-body-number">266</td>
                        <td class="news-center-table-body-title">
                           <a href="/news-center/detail/804/" style="color: #535353;">

                            <span style="cursor: pointer;">정부지원사업 선정기업이 개발사 13곳 만나보고 얻은 노하우</span>
                        </a> 
                    </td>
                    <td class="news-center-table-body-date">2023.03.24</td>
                    </tr>
                    <tr class="news-data-rows" data-forloop="9">
                    <td class="news-center-table-body-number">265</td>
                    <td class="news-center-table-body-category">프로젝트 성공사례</td>
                    <td class="news-center-table-body-title">
                      <a href="/news-center/detail/803/" style="color: #535353;">
                        <span style="cursor: pointer;" 기획만 있던 메타버스 메신저 프로젝트, 아웃소싱으로 해낸 후기 : S사 시스템 운영팀 김동주님 인터뷰</span>
                      </a>
                    </td>                    
                    <td class="news-center-table-body-date">2023.03.09</td>
                    </tr>
                    <tr class="news-data-rows" data-forloop="10">
                    <td class="news-center-table-body-number">264</td>
                    <td class="news-center-table-body-category">프로젝트 성공사례</td>
                    <td class="news-center-table-body-title">
                      <a href="/news-center-/detail/802" style="color:#535353"
                      <span style="cursor: pointer;">IT 아웃소싱이 회사 성장에 '도움이 된다'는 확신이 든 순간 : 씨드로닉스 CTO 김한근 님 인터뷰</span>
                      </a>    
                    </td>
                    <td class="news-center-table-body-date">2023.03.09</td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    <div class="pagination-wrapper" style="clear: both">
                       ::before
                    <ul class="pagination" id="pagination_box">
                     <li id="page_1" class="active">
                        <a style="cursor: pointer" onclick="sendPaginationNumber(1);">1</a>   
                     </li>   
                    <li id="page_2">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(2);">2</a>"
                    </li>
                    <li id="page_3">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(3);">2</a>"
                    </li>
                    <li id="page_4">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(4);">2</a>"
                    </li>
                    <li id="page_5">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(5);">2</a>"
                    </li>
                    <li id="page_6">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(6);">2</a>"
                    </li>
                    <li id="page_7">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(7);">2</a>"
                    </li>
                    <li id="page_8">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(8);">2</a>"
                    </li>
                    <li id="page_9">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(9);">2</a>"
                    </li>
                    <li id="page_10">
                        <a style="cursor: pointer;" onclick="sendPaginationNumber(10);">2</a>"
                    </li>
                    </ul>
                    </div>
                    