<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/my-page-video/my-page.css" />
        <title>내 활동 내역</title>
    </head>
    <body>
        <div class="layout">
            <div class="container scrapbook">
                <div class="pc-sidebar" style="width: 280px">
                    <div
                        class="sidebar-menu scrapbook fold start-scroll active-menu no-scroll"
                        id="scrapbook-fold"
                        style="padding: 0px"
                    >
                        <div class="sidebar-menu-name-img-set">
                            <div
                                class="sidebar-menu-img icon-fold"
                                style="margin-left: 13px"
                            ></div>
                            <div
                                class="body-2 sidebar-menu-name"
                                data-page="scrapbook"
                                name="btn-link"
                                style="margin-left: 8px; font-weight: 550"
                            >
                                내 활동내역
                            </div>
                        </div>
                    </div>
                    <div
                        class="scrapbook-list-box no-scroll"
                        style="overflow-y: hidden; padding-bottom: 20px"
                    >
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내 작품"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내 작품
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 구매한 작품"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내가 구매한 작품
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="나의 펀딩"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    나의 펀딩
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="결제한 펀딩"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    결제한 펀딩
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="나의 모집"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    나의 모집
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 신청한 모집"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내가 신청한 모집
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 단 리뷰"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내가 단 리뷰
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-divide" style="margin: 20px 0px"></div>
                    <div
                        class="sidebar-menu highlight-memo"
                        data-page="highlight-memo"
                        name="btn-link"
                        style="
                            margin-bottom: -5px;
                            margin-top: -15px;
                            height: 20px;
                            width: 250px;
                        "
                    >
                        <img
                            class="sidebar-menu-img off-img"
                            src="https://yozm.wishket.com/static/renewal/img/news/icon_menu_highlight_off.png"
                        />
                        <div class="body-2 sidebar-menu-name">내 정보 수정</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        data-page="read-news"
                        name="btn-link"
                        style="margin-bottom: -20px; height: 20px; width: 250px"
                    >
                        <img
                            class="sidebar-menu-img off-img"
                            src="https://yozm.wishket.com/static/renewal/img/news/icon_menu_highlight_off.png"
                        />
                        <div class="body-2 sidebar-menu-name">문의 내역</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        data-page="read-news"
                        name="btn-link"
                        style="
                            margin-bottom: -20px;
                            height: 20px;
                            margin-top: 16px;
                            width: 250px;
                        "
                    >
                        <img
                            class="sidebar-menu-img off-img"
                            src="https://yozm.wishket.com/static/renewal/img/news/icon_menu_highlight_off.png"
                        />
                        <div class="body-2 sidebar-menu-name">알림</div>
                    </div>
                </div>
                <div class="main-content-container">
                    <div class="content-container main-content">
                        <div class="content">
                            <div class="sub-title-box">
                                <div
                                    class="subtitle-2-medium text900"
                                    style="font-weight: 600"
                                >
                                    나의 활동내역
                                </div>
                            </div>
                            <div class="last-open-scrapbooks">
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="내 작품"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            내 작품
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="내가 구매한 작품"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            내가 구매한 작품
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="나의 펀딩"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            나의 펀딩
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="결제한 펀딩"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            결제한 펀딩
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="나의 모집"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            나의 모집
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="내가 신청한 모집"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            내가 신청한 모집
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="btn last-open-scrapbook"
                                    data-page="scrapbook-detail"
                                    data-scrapbook-id="56256"
                                    data-scrapbook-title="내가 단 리뷰"
                                    name="btn-link"
                                >
                                    <img
                                        class="only-pc"
                                        src="https://yozm.wishket.com/static/renewal/img/news/m_icon_scrap_folder.png"
                                    />
                                    <div class="last-open-scrapbook-info">
                                        <div
                                            class="body-1-medium scrapbook-title"
                                        >
                                            내가 단 리뷰
                                        </div>
                                        <div class="body-2 text600">
                                            0개의 콘텐츠
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/static/js/my-page-video/my-page.js"></script>
</html>
