<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/my-page-video/review.css" />
        <title>내가 단 리뷰</title>
    </head>
    <body>
        <div class="layout">
            <div class="container scrapbook">
                <div class="pc-sidebar" style="width: 280px">
                    <div
                        class="sidebar-menu scrapbook fold start-scroll active-menu no-scroll"
                        id="scrapbook-fold"
                        style="padding: 0px"
                    >
                        <div class="sidebar-menu-name-img-set">
                            <div
                                class="sidebar-menu-img icon-fold"
                                style="margin-left: 13px"
                            ></div>
                            <div
                                class="body-2 sidebar-menu-name"
                                data-page="scrapbook"
                                name="btn-link"
                                style="margin-left: 8px; font-weight: 500"
                            >
                                내 활동내역
                            </div>
                        </div>
                    </div>
                    <div
                        class="scrapbook-list-box no-scroll"
                        style="overflow-y: hidden; padding-bottom: 20px"
                    >
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내 작품"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내 작품
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 구매한 작품"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내가 구매한 작품
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="나의 펀딩"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    나의 펀딩
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="결제한 펀딩"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    결제한 펀딩
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="나의 모집"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    나의 모집
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 신청한 모집"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                            >
                                <div class="icon-scrap-off"></div>

                                <div class="body-2 sidebar-menu-name">
                                    내가 신청한 모집
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                        <div
                            class="sidebar-menu sidebar-menu scrapbook"
                            data-title="내가 단 리뷰"
                        >
                            <div
                                class="sidebar-menu-name-img-set scrapbook-link"
                                data-page="scrapbook-detail"
                                data-scrapbook-id="56122"
                                name="btn-link"
                                style="
                                    background-color: #f6f3f8;
                                    border-radius: 8px;
                                    transition: background-color 0.3s ease,
                                        border-radius 0.3s ease;
                                "
                            >
                                <div class="icon-scrap-off"></div>

                                <div
                                    class="body-2 sidebar-menu-name"
                                    style="color: #6b16ee; font-weight: 550"
                                >
                                    내가 단 리뷰
                                </div>
                                <div
                                    class="caption-1 text400 scrapbook-scraps-count"
                                    style="margin-right: 6px"
                                >
                                    (0)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-divide" style="margin: 20px 0px"></div>
                    <div
                        class="sidebar-menu highlight-memo"
                        data-page="highlight-memo"
                        name="btn-link"
                        style="
                            margin-bottom: -5px;
                            margin-top: -15px;
                            height: 20px;
                            width: 250px;
                        "
                    >
                        <div class="body-2 sidebar-menu-name">내 정보 수정</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        data-page="read-news"
                        name="btn-link"
                        style="margin-bottom: -20px; height: 20px; width: 250px"
                    >
                        <div class="body-2 sidebar-menu-name">문의 내역</div>
                    </div>
                    <div
                        class="sidebar-menu read-news"
                        data-page="read-news"
                        name="btn-link"
                        style="
                            margin-bottom: -20px;
                            height: 20px;
                            margin-top: 16px;
                            width: 250px;
                        "
                    >
                        <div class="body-2 sidebar-menu-name">알림</div>
                    </div>
                </div>
                <div
                    class="main-content-container"
                    style="width: 1080px; margin: 0 auto"
                >
                    <div
                        class="content-container main-content"
                        style="width: 1080px; margin: 0 auto"
                    >
                        <div class="content">
                            <section
                                class="section_search"
                                id="recruit_info"
                                style="margin-right: 335px"
                            >
                                <div class="header">
                                    <h2 class="tit_section">내가 단 리뷰</h2>
                                </div>
                                <div id="recruit_info_list" main-search="y">
                                    <div class="content">
                                        <div class="comment-list">
                                            <div class="comment-group">
                                                <div class="comment-box">
                                                    <div
                                                        class="comment-wrapper"
                                                    >
                                                        <div class="write-user">
                                                            <img
                                                                src="https://yozm.wishket.com/static/img/default_avatar.png"
                                                                class="comment-writer-img"
                                                            />
                                                            <div
                                                                class="comment-writer-name"
                                                            >
                                                                <div
                                                                    class="writer-name"
                                                                >
                                                                    댓글작성자
                                                                </div>
                                                                <div
                                                                    class="btn-comment-action"
                                                                >
                                                                    <button
                                                                        class="btn-comment-delete cursor"
                                                                    >
                                                                        삭제
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment">
                                                            <a
                                                                class="comment-content"
                                                            >
                                                                댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="comment-date-created"
                                                        >
                                                            2024.10.23
                                                            <div
                                                                class="comment-review"
                                                            >
                                                                <div
                                                                    class="review-box"
                                                                >
                                                                    <div
                                                                        class="star-box"
                                                                    >
                                                                        <img
                                                                            src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                                        />
                                                                    </div>
                                                                    <span
                                                                        class="review-score body-3-medium"
                                                                        >5.0</span
                                                                    >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-list">
                                            <div class="comment-group">
                                                <div class="comment-box">
                                                    <div
                                                        class="comment-wrapper"
                                                    >
                                                        <div class="write-user">
                                                            <img
                                                                src="https://yozm.wishket.com/static/img/default_avatar.png"
                                                                class="comment-writer-img"
                                                            />
                                                            <div
                                                                class="comment-writer-name"
                                                            >
                                                                <div
                                                                    class="writer-name"
                                                                >
                                                                    댓글작성자
                                                                </div>
                                                                <div
                                                                    class="btn-comment-action"
                                                                >
                                                                    <button
                                                                        class="btn-comment-delete cursor"
                                                                    >
                                                                        삭제
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment">
                                                            <a
                                                                class="comment-content"
                                                            >
                                                                댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="comment-date-created"
                                                        >
                                                            2024.10.23
                                                            <div
                                                                class="comment-review"
                                                            >
                                                                <div
                                                                    class="review-box"
                                                                >
                                                                    <div
                                                                        class="star-box"
                                                                    >
                                                                        <img
                                                                            src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                                        />
                                                                    </div>
                                                                    <span
                                                                        class="review-score body-3-medium"
                                                                        >5.0</span
                                                                    >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-list">
                                            <div class="comment-group">
                                                <div class="comment-box">
                                                    <div
                                                        class="comment-wrapper"
                                                    >
                                                        <div class="write-user">
                                                            <img
                                                                src="https://yozm.wishket.com/static/img/default_avatar.png"
                                                                class="comment-writer-img"
                                                            />
                                                            <div
                                                                class="comment-writer-name"
                                                            >
                                                                <div
                                                                    class="writer-name"
                                                                >
                                                                    댓글작성자
                                                                </div>
                                                                <div
                                                                    class="btn-comment-action"
                                                                >
                                                                    <button
                                                                        class="btn-comment-delete cursor"
                                                                    >
                                                                        삭제
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment">
                                                            <a
                                                                class="comment-content"
                                                            >
                                                                댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용댓글내용
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="comment-date-created"
                                                        >
                                                            2024.10.23
                                                            <div
                                                                class="comment-review"
                                                            >
                                                                <div
                                                                    class="review-box"
                                                                >
                                                                    <div
                                                                        class="star-box"
                                                                    >
                                                                        <img
                                                                            src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                                        />
                                                                    </div>
                                                                    <span
                                                                        class="review-score body-3-medium"
                                                                        >5.0</span
                                                                    >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content_bottom">
                                        <div class="pagination">
                                            <a
                                                href="#recruit_info"
                                                class="btnPrev page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|10"
                                                page="10"
                                                title="이전"
                                                >이전</a
                                            >
                                            <span class="page">1</span>
                                            <a
                                                href="#recruit_info"
                                                page="2"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|2"
                                                ><span>2</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="3"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|3"
                                                ><span>3</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="4"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|4"
                                                ><span>4</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="5"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|5"
                                                ><span>5</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="6"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|6"
                                                ><span>6</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="7"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|7"
                                                ><span>7</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="8"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|8"
                                                ><span>8</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="9"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|9"
                                                ><span>9</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                page="10"
                                                class="page page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|10"
                                                ><span>10</span></a
                                            >
                                            <a
                                                href="#recruit_info"
                                                class="btnNext page_move track_event"
                                                data-track_event="total_search|search_recruit|pagination|11"
                                                page="11"
                                                title="다음"
                                                >다음</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/static/js/my-page-video/review.js"></script>
</html>
