<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/my-page-video/notification.css"
        />
        <title>마이페이지 영상 헤더</title>
    </head>
    <body>
        <header class="header">
            <section class="base-nav-client-renewal">
                <div class="container">
                    <a href="/"
                        ><div class="nav-logo-wrapper">
                            <div class="nav-logo"></div></div
                    ></a>
                    <div class="left-nav">
                        <a href="/project/add/"
                            ><div
                                class="left-nav-menu add-project body-2 text900"
                            >
                                영상
                            </div></a
                        >
                        <a href="/project/#clear"
                            ><div class="left-nav-menu body-2 text900">
                                글
                            </div></a
                        >
                    </div>
                    <div class="right-nav">
                        <div class="my-project-container">
                            <div class="right-nav-menu body-2 text900">
                                내 프로젝트 관리<span
                                    class="nav-notice general"
                                    style="display: inline-block"
                                ></span>
                                <div class="img-container">
                                    <img
                                        src="/static/renewal/img/global/Arrow.png"
                                        srcset="
                                            /static/renewal/img/global/Arrow.png    1x,
                                            /static/renewal/img/global/Arrow@2x.png 2x,
                                            /static/renewal/img/global/Arrow@3x.png 3x
                                        "
                                    />
                                </div>
                                <div class="my-project-dropdown">
                                    <div class="my-project">
                                        <div
                                            class="sub-headline caption-2 text400"
                                        >
                                            내 프로젝트
                                        </div>
                                        <a href="/client/manage/project/"
                                            ><div class="drop-down-menu">
                                                <img
                                                    src="/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        /static/renewal/img/global/client-process-bar-1.png    1x,
                                                        /static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        /static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div class="cap body-2 text900">
                                                    검수 중
                                                </div>
                                            </div></a
                                        >
                                        <a href="/client/manage/recruiting/"
                                            ><div class="drop-down-menu">
                                                <img
                                                    src="/static/renewal/img/global/client-process-bar-2.png"
                                                    srcset="
                                                        /static/renewal/img/global/client-process-bar-2.png    1x,
                                                        /static/renewal/img/global/client-process-bar-2@2x.png 2x,
                                                        /static/renewal/img/global/client-process-bar-2@3x.png 3x
                                                    "
                                                />
                                                <div class="cap body-2 text900">
                                                    지원자 모집 중
                                                </div>
                                            </div></a
                                        >
                                        <a href="/client/manage/current/"
                                            ><div class="drop-down-menu">
                                                <img
                                                    src="/static/renewal/img/global/client-process-bar-2.png"
                                                    srcset="
                                                        /static/renewal/img/global/client-process-bar-2.png    1x,
                                                        /static/renewal/img/global/client-process-bar-2@2x.png 2x,
                                                        /static/renewal/img/global/client-process-bar-2@3x.png 3x
                                                    "
                                                />
                                                <div class="cap body-2 text900">
                                                    진행 중인 프로젝트
                                                </div>
                                            </div></a
                                        >
                                        <a href="/client/manage/past/"
                                            ><div class="drop-down-menu">
                                                <img
                                                    src="/static/renewal/img/global/client-process-bar-3.png"
                                                    srcset="
                                                        /static/renewal/img/global/client-process-bar-3.png    1x,
                                                        /static/renewal/img/global/client-process-bar-3@2x.png 2x,
                                                        /static/renewal/img/global/client-process-bar-3@3x.png 3x
                                                    "
                                                />
                                                <div class="cap body-2 text900">
                                                    종료된 프로젝트<span
                                                        class="nav-notice"
                                                        style="
                                                            display: inline-block;
                                                        "
                                                    ></span>
                                                </div></div
                                        ></a>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="before-apply">
                                        <a
                                            href="/client/manage/wishket-packages/"
                                            ><div
                                                class="drop-down-menu-1 body-2 text900"
                                            >
                                                마이 패키지
                                            </div></a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/accounts/notifications/"
                            ><div class="noti-bell-container">
                                <img
                                    class="noti-bell"
                                    src="/static/renewal/img/global/client-noti-bell.png"
                                    srcset="
                                        /static/renewal/img/global/client-noti-bell.png    1x,
                                        /static/renewal/img/global/client-noti-bell@2x.png 2x,
                                        /static/renewal/img/global/client-noti-bell@3x.png 3x
                                    "
                                /></div
                        ></a>
                        <div class="profile-img-container">
                            <img
                                alt="qbnmfh사진"
                                class="user-img"
                                src="/static/img/default_avatar_c.png"
                            />
                            <div class="profile-dropdown">
                                <div class="section-1">
                                    <div
                                        class="user-profile"
                                        onclick="show_img_edit_modal()"
                                    >
                                        <img
                                            alt="qbnmfh사진"
                                            class="user-img"
                                            src="/static/img/default_avatar_c.png"
                                        />
                                        <div
                                            class="edit-profile-img-icon"
                                        ></div>
                                    </div>
                                    <div class="user-info">
                                        <div class="body-2-medium text900 mb4">
                                            qbnmfh
                                        </div>
                                        <div class="body-3 text600 email-info">
                                            qbnmfh5@gmail.com
                                        </div>
                                    </div>
                                </div>
                                <div class="section-2">
                                    <a href="/mywishket/client/"
                                        ><div
                                            class="section-2-btn body-2 text600"
                                        >
                                            마이위시켓
                                        </div></a
                                    >
                                </div>
                                <div class="divider"></div>
                                <a href="/accounts/settings/profile/"
                                    ><div class="drop-down-menu body-2 text900">
                                        클라이언트 정보
                                    </div></a
                                >
                                <a href="/store/myhistory/"
                                    ><div class="drop-down-menu body-2 text900">
                                        마이스토어
                                    </div></a
                                >
                                <div class="divider"></div>
                                <a href="https://auth.wishket.com/settings"
                                    ><div
                                        class="drop-down-menu gray body-2 text600"
                                    >
                                        계정 설정
                                    </div></a
                                >
                                <a href="https://auth.wishket.com/logout?next=/"
                                    ><div
                                        class="drop-down-menu gray body-2 text600"
                                    >
                                        로그아웃
                                    </div></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
    </body>
</html>
