<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/my-page-video/video-header.css"
        />
        <title>마이페이지 영상 헤더</title>
    </head>
    <body>
        <header class="header">
            <section class="base-nav-client-renewal">
                <div class="container">
                    <a href="/"
                        ><div class="nav-logo-wrapper">
                            <div class="nav-logo"></div></div
                    ></a>
                    <div class="left-nav">
                        <a href="/project/add/"
                            ><div
                                class="left-nav-menu add-project body-2 text900"
                            >
                                영상
                            </div></a
                        >
                        <a href="/project/#clear"
                            ><div class="left-nav-menu body-2 text900">
                                글
                            </div></a
                        >
                    </div>
                    <div class="right-nav"></div>
                </div>
            </section>
        </header>
    </body>
    <script src="/static/js/my-page-video/video-header.js"></script>
</html>
