<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>영상 펀딩 목록</title>
        <link rel="stylesheet" href="/static/css/video/funding-list.css" />
    </head>
    <body>
        <div class="main-header">
            <div class="container">
                <a class="sub-navigation" href="">
                    <div>작품</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>펀딩</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>모집</div>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="content-wrapper">
                    <div class="list">
                        <div class="list-header">
                            <div class="text-ggumteo">꿈터 영상 펀딩</div>
                            <div class="title-header">
                                <div class="title-2">
                                    꿈터에서 진행한 영상 펀딩 목록
                                </div>
                                <div>
                                    <div class="text-input-ggumteo icon-right">
                                        <div>
                                            <input
                                                type="text"
                                                class="theme-ggumteo search-input"
                                                placeholder="원하는 펀딩을 찾아보세요"
                                            />
                                            <i class="search-btn">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/stack/icon-search.png"
                                                />
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-box-wrapper">
                            <div class="filter-group-wrapper">
                                <div class="filter-group">
                                    <div class="filter-box-group">
                                        <div class="filter-box">로맨스</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">코미디</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">공포</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">액션</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">드라마</div>
                                    </div>
                                    <div class="box-group">
                                        <div class="write-box">펀딩올리기</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ggumteo-list-box">
                            <div class="list-box-wrapper">
                                <a href="" class="box">
                                    <img
                                        class="thumbnail"
                                        src="/static/images/video/ex-image.jpg"
                                    />
                                    <div class="funding-status-div">
                                        <div style="display: flex">
                                            <div class="funding-status">
                                                펀딩중
                                            </div>
                                        </div>
                                        <div style="display: flex">
                                            <div class="funding-status-end">
                                                펀딩완료
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail category">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="upload-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content">
                                        영상의 간단한 요약
                                    </div>
                                    <!-- 펀딩은 % -->
                                    <div class="detail funding-persent">
                                        <div class="funding-box">
                                            <span class="funding-score"
                                                >50% 달성</span
                                            >
                                        </div>
                                        <div class="detail-seperator"></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="partner-name-box">
                                            홍길동
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="box">
                                    <img
                                        class="thumbnail"
                                        src="/static/images/video/ex-image.jpg"
                                    />
                                    <div class="funding-status-div">
                                        <div style="display: flex">
                                            <div class="funding-status">
                                                펀딩중
                                            </div>
                                        </div>
                                        <div style="display: flex">
                                            <div class="funding-status-end">
                                                펀딩완료
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail category">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="upload-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 % -->
                                    <div class="detail funding-persent">
                                        <div class="funding-box">
                                            <span class="funding-score"
                                                >50% 달성</span
                                            >
                                        </div>
                                        <div class="detail-seperator"></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="partner-name-box">
                                            홍길동
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="box">
                                    <img
                                        class="thumbnail"
                                        src="/static/images/video/ex-image.jpg"
                                    />
                                    <div class="funding-status-div">
                                        <div style="display: flex">
                                            <div class="funding-status">
                                                펀딩중
                                            </div>
                                        </div>
                                        <div style="display: flex">
                                            <div class="funding-status-end">
                                                펀딩완료
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail category">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="upload-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 % -->
                                    <div class="detail funding-persent">
                                        <div class="funding-box">
                                            <span class="funding-score"
                                                >50% 달성</span
                                            >
                                        </div>
                                        <div class="detail-seperator"></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="partner-name-box">
                                            홍길동
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="box">
                                    <img
                                        class="thumbnail"
                                        src="/static/images/video/ex-image.jpg"
                                    />
                                    <div class="funding-status-div">
                                        <div style="display: flex">
                                            <div class="funding-status">
                                                펀딩중
                                            </div>
                                        </div>
                                        <div style="display: flex">
                                            <div class="funding-status-end">
                                                펀딩완료
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail category">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="upload-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 % -->
                                    <div class="detail funding-persent">
                                        <div class="funding-box">
                                            <span class="funding-score"
                                                >50% 달성</span
                                            >
                                        </div>
                                        <div class="detail-seperator"></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="partner-name-box">
                                            홍길동
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 페이지네이션박스 -->
                            <div class="center-text pagination-box">
                                <ul class="pagination theme-ggumteo">
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link"
                                            >이전</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            id="page-btn"
                                            class="page-link active"
                                            >1</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">5</a>
                                    </li>
                                    <!-- li채로 복사 -->
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link"
                                            >다음</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/video/funding-list.js"></script>
</html>
