<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>펀딩상세페이지</title>
        <link rel="stylesheet" href="/static/css/video/funding-detail.css" />
    </head>
    <body class="ggumteo-funding">
        <div class="funding-detail-page">
            <div class="container">
                <div class="content-wrapper">
                    <div class="ggumteo-funding-wrapper">
                        <!-- 왼쪽 div -->
                        <div class="left-side">
                            <div class="header">
                                <div class="header-title">
                                    펀딩글 타이틀
                                    <button class="btn report">
                                        <div class="report-img">
                                            <img
                                                style="
                                                    width: 16px;
                                                    height: 16px;
                                                    margin-top: 2px;
                                                "
                                                src="/static/images/video/report.jpg"
                                            />
                                        </div>
                                        <div class="body-3-medium text500">
                                            신고하기
                                        </div>
                                    </button>
                                </div>
                                <div class="funding-category">드라마</div>
                                <div class="header-subtitle">
                                    <div class="header-subtitle-content">
                                        <span class="funding-persent">50</span
                                        >%진행중
                                    </div>
                                </div>
                            </div>
                            <div class="funding-content-wrapper">
                                <!-- 영상상세페이지에서는 시작이 영상 -->
                                <!-- 영상 펀딩글에서만 있는 비디오 태그 -->
                                <video width="100%" height="315" controls="">
                                    <source
                                        src="첨부된_비디오_파일_URL"
                                        type="video/mp4"
                                    />
                                </video>
                                <div class="funding-video-content">
                                    영상 설명글!!!!!!!!!
                                </div>
                                <!-- 펀딩내용 -->
                                <div class="content-title">펀딩작품 설명</div>
                                <!-- 펀딩내용설명 -->
                                <div class="funding-content">
                                    설명글!!!!!!!!!!!!
                                </div>
                                <!-- 펀딩내용 이미지 -->
                                <div class="funding-img">
                                    <img
                                        src="https://cdn.wishket.com/portfolio/images/codelab_wk_%EC%9E%90%EB%8F%99%EC%B0%A8%EA%B4%91%EA%B3%A0_%EC%A4%91%EA%B0%9C_%ED%94%8C%EB%9E%AB%ED%8F%BC_5364a92ce0415760fbac.jpg"
                                    />
                                </div>
                                <!-- 이미지설명 -->
                                <div class="funding-img-content">
                                    영상에 관한 이미지 설명글!!!!!!!!!
                                </div>
                            </div>
                        </div>
                        <!-- 오른쪽 div -->
                        <div class="right-side">
                            <div class="right-side-wrapper">
                                <!-- 펀딩설명 -->
                                <div class="funding-box">
                                    <div class="funding-box-title">
                                        꿈터에서 진행중인 펀딩과정
                                    </div>
                                    <!-- 펀딩제목및,간단한소개,펀딩시작날짜 -->
                                    <div class="ggumteo-process">
                                        <div class="process-subject">
                                            <div
                                                class="process-subject-icon"
                                            ></div>
                                            펀딩 소개(고정)
                                        </div>
                                        <div class="process-content">
                                            <div class="process-bar"></div>
                                            <div class="process-content-detail">
                                                <div class="funding-intro">
                                                    펀딩 소개글(입력해야함)
                                                </div>
                                                <div
                                                    class="funding-intro-detail"
                                                >
                                                    <div
                                                        class="funding-start-date"
                                                    >
                                                        펀딩시작 날짜
                                                        <span class="start-date"
                                                            >2024.10.29</span
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 펀딩투자자모집 및 투자자수, 남은일수 -->
                                    <div class="ggumteo-process">
                                        <div class="process-subject">
                                            <div
                                                class="process-subject-icon"
                                            ></div>
                                            펀딩 현황(고정)
                                        </div>
                                        <div class="process-content">
                                            <div class="process-bar"></div>
                                            <div class="process-content-detail">
                                                <div class="funding-investor">
                                                    투자자수 :
                                                    <span
                                                        class="investor-number"
                                                        >10명(받아오기)</span
                                                    >
                                                </div>
                                                <div
                                                    class="funding-intro-detail"
                                                >
                                                    <div
                                                        class="funding-end-date"
                                                    >
                                                        펀딩마감 날짜
                                                        <span class="end-date"
                                                            >2024.11.29(한달로
                                                            고정)</span
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 펀딩 목표 금액 현재 달성한 금액 및 목표금액까지의 퍼센트   -->
                                    <div class="ggumteo-process">
                                        <div class="process-subject">
                                            <div
                                                class="process-subject-icon"
                                            ></div>
                                            펀딩 금액(고정)
                                        </div>
                                        <div class="process-content">
                                            <div class="process-bar"></div>
                                            <div class="process-content-detail">
                                                <div class="funding-money">
                                                    목표금액 :
                                                    <span
                                                        class="investor-number"
                                                        >1,000,000(입력)</span
                                                    >원
                                                </div>
                                                <div
                                                    class="funding-intro-detail"
                                                >
                                                    <div
                                                        class="funding-today-money"
                                                    >
                                                        현재까지 금액 :
                                                        <span
                                                            class="today-money"
                                                            >500,000</span
                                                        >원
                                                    </div>
                                                </div>
                                                <div
                                                    class="funding-persent-div"
                                                    style="color: #0059ff"
                                                >
                                                    <!-- 타이틀아래에 있는 퍼센트와 같아야함 -->
                                                    <span
                                                        class="funding-persent"
                                                        >50</span
                                                    >
                                                    <span>%진행중</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  펀딩 프로젝트 창작자 소개란 -->
                                    <div class="ggumteo-process">
                                        <div class="process-subject">
                                            <div
                                                class="process-subject-icon"
                                            ></div>
                                            펀딩 창작자 소개(고정)
                                        </div>
                                        <div class="process-content">
                                            <div class="process-bar"></div>
                                            <div class="process-content-detail">
                                                <div class="funding-writer">
                                                    <div class="writer-profile">
                                                        <img
                                                            src="https://www.wishket.com/static/img/default_avatar_c.png"
                                                            class="profile-img"
                                                        />
                                                    </div>
                                                    <div
                                                        class="writer-profile-name"
                                                    >
                                                        <div
                                                            class="profile-name"
                                                        >
                                                            작성자이름
                                                        </div>
                                                        <div
                                                            class="write-intro"
                                                        >
                                                            <span
                                                                >작성자 소개
                                                                <br />
                                                            </span>
                                                            마이페이지
                                                            내정보수정 추가사항
                                                            내용
                                                        </div>
                                                        <div
                                                            class="writer-email"
                                                        >
                                                            <span
                                                                >연락할경로 :
                                                            </span>
                                                            test1234@gmail.com
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 펀딩가격별 상품들 -->
                                <div class="funding-product-container">
                                    <div class="funding-product">
                                        <div class="product-header-title">
                                            가격별 상품소개
                                            <a href="" class="buy-product">
                                                구매하기
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/partner/profile/btn_icon_go_xs.png"
                                                />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div>
                                                <div class="product-name">
                                                    상품명
                                                </div>
                                                <div class="product-price">
                                                    <span class="price"
                                                        >10,000</span
                                                    >원
                                                </div>
                                                <div class="product-number">
                                                    남은 수량 :
                                                    <span class="number"
                                                        >100</span
                                                    >개
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="funding-product">
                                        <div class="product-header-title">
                                            가격별 상품소개
                                            <a href="" class="buy-product">
                                                구매하기
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/partner/profile/btn_icon_go_xs.png"
                                                />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div>
                                                <div class="product-name">
                                                    상품명
                                                </div>
                                                <div class="product-price">
                                                    <span class="price"
                                                        >10,000</span
                                                    >원
                                                </div>
                                                <div class="product-number">
                                                    남은 수량 :
                                                    <span class="number"
                                                        >100</span
                                                    >개
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="funding-product">
                                        <div class="product-header-title">
                                            가격별 상품소개
                                            <a href="" class="buy-product">
                                                구매하기
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/partner/profile/btn_icon_go_xs.png"
                                                />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div>
                                                <div class="product-name">
                                                    상품명
                                                </div>
                                                <div class="product-price">
                                                    <span class="price"
                                                        >10,000</span
                                                    >원
                                                </div>
                                                <div class="product-number">
                                                    남은 수량 :
                                                    <span class="number"
                                                        >100</span
                                                    >개
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="funding-product">
                                        <div class="product-header-title">
                                            가격별 상품소개
                                            <a href="" class="buy-product">
                                                구매하기
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/partner/profile/btn_icon_go_xs.png"
                                                />
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <div>
                                                <div class="product-name">
                                                    상품명
                                                </div>
                                                <div class="product-price">
                                                    <span class="price"
                                                        >10,000</span
                                                    >원
                                                </div>
                                                <div class="product-number">
                                                    남은 수량 :
                                                    <span class="number"
                                                        >100</span
                                                    >개
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 같은 장르에 다른펀딩 -->
                <div class="similar-list-container">
                    <div class="similar-list">
                        <div class="more-info-box">
                            <div class="similar-header-title">
                                <div class="body-1-medium-title">
                                    같은 장르에 다른 펀딩목록들
                                </div>
                            </div>
                            <div class="content-list">
                                <a href="" class="similar-link">
                                    <div class="link-box">
                                        <div class="img-box">
                                            <img
                                                src="/static/images/video/ex-image.jpg"
                                                class="similar-thumbnail-image"
                                            />
                                        </div>
                                        <div class="similar-thumbnail-title">
                                            유사한 펀딩 목록 제목
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="similar-link">
                                    <div class="link-box">
                                        <div class="img-box">
                                            <img
                                                src="/static/images/video/ex-image.jpg"
                                                class="similar-thumbnail-image"
                                            />
                                        </div>
                                        <div class="similar-thumbnail-title">
                                            유사한 펀딩 목록 제목
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="similar-link">
                                    <div class="link-box">
                                        <div class="img-box">
                                            <img
                                                src="/static/images/video/ex-image.jpg"
                                                class="similar-thumbnail-image"
                                            />
                                        </div>
                                        <div class="similar-thumbnail-title">
                                            유사한 펀딩 목록 제목
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="similar-link">
                                    <div class="link-box">
                                        <div class="img-box">
                                            <img
                                                src="/static/images/video/ex-image.jpg"
                                                class="similar-thumbnail-image"
                                            />
                                        </div>
                                        <div class="similar-thumbnail-title">
                                            유사한 펀딩 목록 제목
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="similar-link">
                                    <div class="link-box">
                                        <div class="img-box">
                                            <img
                                                src="/static/images/video/ex-image.jpg"
                                                class="similar-thumbnail-image"
                                            />
                                        </div>
                                        <div class="similar-thumbnail-title">
                                            유사한 펀딩 목록 제목
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 신고 모달창 -->
                <div id="report-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>작품 신고</h2>
                        <br />
                        <br />
                        <form>
                            <label for="reason"
                                >신고하려는 이유를 적어주세요:</label
                            ><br />
                            <br />
                            <textarea
                                id="reason"
                                name="reason"
                                rows="4"
                                cols="50"
                                style="height: 218px; resize: none"
                            ></textarea
                            ><br /><br />
                            <button class="report-submit" type="submit">
                                신고하기
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/video/funding-detail.js"></script>
</html>
