<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>영상 작품 목록</title>
        <link rel="stylesheet" href="/static/css/video/list.css" />
    </head>
    <body>
        <div class="main-header">
            <div class="container">
                <a class="sub-navigation" href="">
                    <div>작품</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>펀딩</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>모집</div>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="content-wrapper">
                    <div class="list">
                        <div class="list-header">
                            <div class="body-1-bold text-ggumteo">
                                꿈터 영상 작품
                            </div>
                            <div class="title-header">
                                <div class="title-2">
                                    꿈터에서 진행한 영상 작품 목록
                                </div>
                                <div>
                                    <div class="text-input-ggumteo icon-right">
                                        <div>
                                            <input
                                                type="text"
                                                class="theme-ggumteo search-input"
                                                placeholder="원하는 작품을 찾아보세요"
                                            />
                                            <i class="search-btn">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/stack/icon-search.png"
                                                />
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-box-wrapper">
                            <div class="filter-group-wrapper">
                                <div class="filter-group">
                                    <div class="filter-box-group">
                                        <div class="filter-box">로맨스</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">코미디</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">공포</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">액션</div>
                                    </div>
                                    <div class="filter-box-group">
                                        <div class="filter-box">드라마</div>
                                    </div>
                                    <div class="box-group">
                                        <div class="write-box">
                                            내 작품올리기
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ggumteo-list-box">
                            <div class="list-box-wrapper">
                                <a href="" class="box">
                                    <img class="thumbnail thumbnail-img" />
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail caption-1">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="list-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content caption-2">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 review 없음-->
                                    <div class="detail review">
                                        <div class="review-box">
                                            <div class="star-box">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                />
                                            </div>
                                            <span class="review-score"
                                                >5.0</span
                                            >
                                        </div>
                                        <div
                                            class="portfolio-detail-seperator"
                                        ></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="name-box">홍길동</div>
                                        <div></div>
                                    </div>
                                </a>
                                <a href="" class="box">
                                    <img class="thumbnail thumbnail-img" />
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail caption-1">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="list-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content caption-2">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 review 퍼센테지로 바꾸기 -->
                                    <div class="detail review">
                                        <div class="review-box">
                                            <div class="star-box">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                />
                                            </div>
                                            <span class="review-score"
                                                >5.0</span
                                            >
                                        </div>
                                        <div
                                            class="portfolio-detail-seperator"
                                        ></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="name-box">홍길동</div>
                                        <div></div>
                                    </div>
                                </a>
                                <a href="" class="box">
                                    <img class="thumbnail thumbnail-img" />
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail caption-1">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <span class="list-time"
                                            >2024.10.26</span
                                        >
                                    </div>
                                    <div class="content caption-2">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 review 퍼센테지로 바꾸기 -->
                                    <div class="detail review">
                                        <div class="review-box">
                                            <div class="star-box">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                />
                                            </div>
                                            <span class="review-score"
                                                >5.0</span
                                            >
                                        </div>
                                        <div
                                            class="portfolio-detail-seperator"
                                        ></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="name-box">홍길동</div>
                                        <div></div>
                                    </div>
                                </a>
                                <a href="" class="box">
                                    <img class="thumbnail thumbnail-img" />
                                    <div class="title">영상의 타이틀</div>
                                    <div class="detail caption-1">
                                        영상장르
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        2024.10.26
                                    </div>
                                    <div class="content caption-2">
                                        영상의 간단한 요약 ,,,,
                                    </div>
                                    <!-- 펀딩은 review 퍼센테지로 바꾸기 -->
                                    <div class="detail body-3 review">
                                        <div class="review-box">
                                            <div class="star-box">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                />
                                            </div>
                                            <span class="review-score"
                                                >5.0</span
                                            >
                                        </div>
                                        <div
                                            class="portfolio-detail-seperator"
                                        ></div>
                                        <div class="partner-profile-box">
                                            <img
                                                src="https://cdn.wishket.com/news_profiles/248055_20230718_02e200cef51139ed.jpg"
                                                class="partner-profile"
                                            />
                                        </div>
                                        <div class="name-box">홍길동</div>
                                        <div></div>
                                    </div>
                                </a>
                            </div>
                            <!-- 페이지네이션박스 -->
                            <div class="center-text pagination-box">
                                <ul class="pagination theme-ggumteo">
                                    <li class="page-item before-btn">
                                        <a id="page-btn" class="page-link"
                                            >이전</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a
                                            id="page-btn"
                                            class="page-link active"
                                            >1</a
                                        >
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a id="page-btn" class="page-link">5</a>
                                    </li>
                                    <!-- li채로 복사 -->
                                    <li class="page-item right=btn">
                                        <a id="page-btn" class="page-link"
                                            >다음</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/video/funding-list.js"></script>
</html>
