@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

html {
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "NotoSansKR", Sans-serif;
    line-height: 1rem;
}

body {
    height: 100%;
}
.main-header {
    height: 48px;
    padding: 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-header .container {
    display: flex;
    padding-left: 2px;
    gap: 50px;
}
.container {
    width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #212121;
}
.sub-navigation div {
    padding: 12px 0;
    height: 100%;
    display: inline-block;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #424242;
    font-weight: 600;
}

.sub-navigation {
    position: relative;
    text-decoration: none;
}

.sub-navigation div {
    position: relative;
    display: inline-block;
}

.sub-navigation div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transition: width 0.3s ease;
}

.sub-navigation div:hover::after {
    width: 100%;
}
.main {
    min-width: 1080px;
    height: auto;
    min-height: 70%;
}
.list {
    padding-top: 48px;
}
.list-header {
    margin-bottom: 40px;
}
.text-ggumteo {
    color: #00a878;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upload-time {
    margin-right: 36px;
    color: #9e9e9e;
}
.title-2,
.title-2-bold,
.title-2-medium,
.title-2-light {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    color: #212121;
}
.text-input-ggumteo.icon-right {
    position: relative;
}
.text-input-ggumteo.icon-right div {
    position: relative;
}
.text-input-ggumteo.icon-right div .search-input {
    width: 310px;
    height: 42px;
    padding-right: 40px;
}
.text-input-ggumteo.icon-right > div > input {
    display: block;
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    font-size: 13px;
    line-height: 20px;
    color: #616161;
    font-weight: 400;
    background: #fff;
    width: 100%;
    height: inherit;
    padding: 8px 38px 8px 12px;
    outline-color: #00a878;
}
.search-btn {
    cursor: pointer;
}
.text-input-ggumteo.icon-right div > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    right: 12px;
}
.filter-box-wrapper {
    display: block;
    padding-bottom: 16px;
    border-bottom: solid 1px #e0e0e0;
    margin-bottom: 40px;
}
.filter-group-wrapper {
    display: flex;
    justify-content: space-between;
}
.filter-box-group {
    display: inline-block;
    margin-right: 8px;
}
.filter-box {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 36px;
    padding: 5px 12px;
    border-radius: 18px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    color: #616161;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
#ggumteo-list-box {
    display: flex;
    flex-direction: column;
}
.list-box-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 213px;
    margin-bottom: 16px;
    cursor: pointer;
}
.box:first-child {
    margin-left: 15px;
}
.thumbnail {
    border: none;
    width: 180px;
    height: 246px;
    background-size: cover;
    background-position: center center;
}
.title {
    color: #212121;
    margin: 3px 0 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.detail {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    justify-content: space-between;
    color: #9e9e9e;
}

.funding-box {
    display: flex;
    align-items: center;
    width: 200px;
}
.funding-score {
    color: #00a878;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.detail-seperator {
    width: 1px;
    height: 12px;
    margin: 0 -20px;
    background-color: #eee;
}
.partner-profile {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}
.partner-name-box {
    max-width: 180px;
    white-space: nowrap;
    margin-right: 40px;
}
.filter-box:hover {
    border-color: #00a878;
}
.pagination-box {
    display: flex;
    margin: 64px auto 56px;
}
.center-text {
    text-align: center;
}
.pagination.theme-ggumteo {
    display: flex;
}
ul {
    list-style: none;
}
.page-item {
    cursor: pointer;
}
li:first-child {
    margin-left: 0;
}
li:first-child > .page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='32' height='32' rx='2'%3E%3C/rect%3E%3Cpath stroke='%239E9E9E' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M19 10l-6 6 6 6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-indent: -999999px;
    background-position: center;
}
.page-link {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    min-width: 32px;
    text-align: center;
    padding: 0 8px;
    font-weight: 500;
    color: #616161;
    text-decoration: none;
    border: 1px solid transparent;
}
.theme-ggumteo li {
    height: 100%;
    margin-left: 4px;
}
li:last-child > .page-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='32' height='32' rx='2'%3E%3C/rect%3E%3Cpath stroke='%239E9E9E' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M13 22l6-6-6-6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    text-indent: -999999px;
    background-position: center;
}
/* 페이지 이동시 페이지 번호에 생기는 스타일 */
.active {
    color: #00a878;
    border-color: #bdbdbd;
    border-radius: 2px;
}
.content-meta-elem.meta-icon {
    width: 16px;
    height: 16px;
    margin-right: -42px !important;
    margin-top: 2px;
}
.content-meta-elem {
    display: inline-block;
    line-height: 20px;
}
.content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #9e9e9e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 36px;
    word-break: keep-all;
}

.box-group {
    display: inline-block;
    margin-left: 605px;
}
.write-box {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 36px;
    padding: 5px 12px;
    border: solid 1px #00a878;
    background-color: #fff;
    color: #616161;
    font-size: 15px;
    line-height: 24px;
    border-radius: 13px;
    font-weight: 500;
}
.funding-status-div {
    margin-top: 5px;
    position: relative;
    display: flex;
}
.funding-status {
    border-color: #00a878;
    background-color: #ebfff9;
    color: #00a878;
    display: flex;
    align-items: center;
    padding: 1px 7px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.funding-status-end {
    border-color: #a1a6ad;
    background-color: #e6ebf0;
    color: #242933;
    display: flex;
    align-items: center;
    padding: 1px 5px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
