<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/footer.css" />
        <title>footer</title>
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <div class="footer-main">
                    <div class="footer-menu-list footer-contact">
                        <p class="footer-menu-title">
                            <img src="/static/images/footer/icon-contact.png" />
                            고객 문의
                        </p>
                        <p class="footer-contact-tel">02-9999-1004</p>
                        <div class="footer-contact-info">
                            <div class="footer-contact-item">9:00~18:00</div>
                            <div class="footer-contact-subitem">
                                주말·공휴일 제외
                            </div>
                            <br />
                            <div class="footer-contact-item email"></p>
                                help@ggumteo.com
                            </div>
                        </div>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">작품</p>
                        <a class="footer-menu-item" href="">영상</a>
                        <a class="footer-menu-item" href="">글</a>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">펀딩</p>
                        <a class="footer-menu-item" href="">영상</a>
                        <a class="footer-menu-item" href="">글</a>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">모집</p>
                        <a class="footer-menu-item" href="">영상</a>
                        <a class="footer-menu-item" href="">글</a>
                    </div>
                    <div class="footer-menu-list">
                        <a class="footer-menu-title link-title" href="">
                            문의사항
                        </a>
                    </div>
                </div>
                <div class="footer-company-info">
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">(주)꿈터</div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            공통대표 : 최대환, 오현준, 용호중, 정지수, 한보리
                        </div>
                    </div>
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">
                            서울특별시 강남구 꿈터로 99 꿈터빌딩 13층 (주)꿈터
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            사업자등록번호 : 241-00-41108
                        </div>
                    </div>
                    <div class="footer-company-info-copyright">
                        © 2024 GgumTeo Corp.
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
