<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main/main.css" />
        <title>메인 테스트</title>
    </head>
    <body class="body">
        <!-- 메인 -->
        <main class="main">
            <div class="ggumteo-do-not-fail">
                <section class="container">
                    <div class="fail-question">
                        <p class="fail-question-title">
                            열심히 만든 나의 작품들,
                            <br />
                            자랑하고 싶지 않으세요?
                        </p>
                        <p class="fail-question-subtitle">
                            꿈터에서 작품을 자랑하고, 투자를 받아보세요.
                            <br />
                            여러분과 함께 할 팀원들도 모집해보세요.
                        </p>
                    </div>
                    <div class="fail-answer">
                        <img src="/static/images/main/main.png" />
                    </div>
                </section>
            </div>
            <div class="service-introduction-detail">
                <section class="container">
                    <div class="detail-intro">
                        <div class="guide-box">
                            <p class="guide-title">
                                꿈을 펼치고 싶은 10만 명의 창작자가
                                <br />
                                꿈터를 선택한 이유
                            </p>
                        </div>
                        <div class="number-box">
                            <div class="number-info upper">
                                <p class="number-info-count">
                                    <span>113,502</span>명
                                </p>
                                <p class="number-info-text">
                                    꿈터에 가입한 회원들
                                </p>
                            </div>
                            <div class="number-info upper">
                                <p class="number-info-count">
                                    <span>17,412</span>개
                                </p>
                                <p class="number-info-text">
                                    꿈터에 올라온 작품 수
                                </p>
                            </div>
                            <div class="number-info">
                                <p class="number-info-count">
                                    <span>8,143억</span>원
                                </p>
                                <p class="number-info-text">
                                    꿈터 펀딩 누적 금액
                                </p>
                            </div>
                            <div class="number-info">
                                <p class="number-info-count">
                                    <span>97</span>
                                    <img
                                        src="/static/images/main/icon_percent.svg"
                                    />
                                </p>
                                <p class="number-info-text">
                                    펀딩 목표금액 달성 확률
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="service-introdution-group">
                <section class="container">
                    <div class="service-introdution-group-button">
                        <div class="container">
                            <a class="group-button active" id="video-button">
                                <div>영상</div>
                            </a>
                            <a class="group-button" id="writing-button">
                                <div>글</div>
                            </a>
                        </div>
                    </div>
                    <div
                        class="service-introdution-wrapper"
                        id="video-introdution"
                    >
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">내가 찍은 영상 자랑</p>
                                <p class="subtitle">
                                    분야와 장르가 다양한 꿈터 영상
                                </p>
                                <p class="explanation">
                                    다양한 사람들과 작품으로 소통해보세요.
                                </p>
                            </div>
                            <!--timeleaf사용하여 main-video.html을 불러오면 된다. -->
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-image-layer">
                                <img
                                    src="/static/images/main/main-2-video.png"
                                />
                            </div>
                            <div class="introdution-info-layer">
                                <p class="title">쉽고 빠른 펀딩</p>
                                <p class="subtitle">
                                    상상만 하던 <br />나만의 아이디어와 꿈을
                                    실현<br />누구나 이용 가능한 펀딩
                                </p>
                                <p class="explanation">
                                    제작비를 투자받아 나만의 아이디어와 꿈을
                                    실현해보세요.
                                </p>
                            </div>
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">
                                    다양한 재능을 가진 팀원 모집
                                </p>
                                <p class="subtitle">
                                    함께 만들어갈 사람들이 필요하다면?<br />꿈터만의
                                    편리한 모집 시스템
                                </p>
                                <p class="explanation">
                                    영상 전문가를 꿈꾸는 꿈터 꿈나무들과
                                    <br />다양한 경험과 실력을 키워보세요.
                                </p>
                            </div>
                            <div class="introdution-image-layer">
                                <img src="/static/images/main/main-3.gif" />
                            </div>
                        </div>
                    </div>
                    <div
                        class="service-introdution-wrapper"
                        id="writing-introdution"
                    >
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">나만의 스토리 자랑</p>
                                <p class="subtitle">
                                    꿈터 작가들의 다양한 스토리
                                </p>
                                <p class="explanation">
                                    다양한 사람들과 작품으로 소통해보세요.
                                </p>
                            </div>
                            <!-- timeleaf사용하여 main-text.html을 불러오면 된다. -->
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-image-layer">
                                <img
                                    src="/static/images/main/main-2-write.png"
                                />
                            </div>
                            <div class="introdution-info-layer">
                                <p class="title">쉽고 빠른 펀딩</p>
                                <p class="subtitle">
                                    상상만 하던 <br />나만의 아이디어와 꿈을
                                    실현 <br />누구나 이용 가능한 펀딩
                                </p>
                                <p class="explanation">
                                    제작비를 투자받아<br />나만의 아이디어와
                                    꿈을 실현해 보세요.
                                </p>
                            </div>
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">
                                    다양한 재능을 가진 팀원 모집
                                </p>
                                <p class="subtitle">
                                    함께 만들어갈 사람들이 필요하다면?<br />꿈터만의
                                    편리한 모집 시스템
                                </p>
                                <p class="explanation">
                                    작가를 꿈꾸는 꿈터 꿈나무들과<br />다양한
                                    경험과 실력을 키워보세요.
                                </p>
                            </div>
                            <div class="introdution-image-layer">
                                <img src="/static/images/main/main-3.gif" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
    <script src="/static/js/main/main.js"></script>
</html>
