<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main/main.css" />
        <title>메인 테스트</title>
    </head>
    <body class="body">
        <main class="main">
            <div class="ggumteo-do-not-fail">
                <section class="container">
                    <div class="fail-question">
                        <p class="fail-question-title">
                            처음 시작한 IT 프로젝트,
                            <br />
                            실패할까봐 불안하세요?
                        </p>
                        <p class="fail-question-subtitle">
                            위시켓은 실패를 줄이고 성공적으로 프로젝트를
                            <br />
                            진행할 수 있는 완벽한 솔루션입니다.
                        </p>
                    </div>
                    <div class="fail-answer">
                        <img src="/static/images/footer/not-fail.svg" />
                    </div>
                    <!-- ::after -->
                </section>
            </div>
            <div class="service-introduction-detail">
                <section class="container">
                    <div class="detail-intro">
                        <div class="guide-box">
                            <p class="guide-title">
                                앞서가는 10만 개의 기업이
                                <br />
                                위시켓을 선택한 이유
                            </p>
                            <p class="guide-subtitle">
                                <img
                                    src="/static/images/footer/similarweb_log.svg"
                                />
                                24. 10 방문자 수 국내 1위
                            </p>
                        </div>
                        <div class="number-box">
                            <div class="number-info upper">
                                <p class="number-info-count">
                                    <span>113,502</span>명
                                </p>
                                <p class="number-info-text">
                                    국내 최대 IT 프리랜서 풀
                                </p>
                            </div>
                            <div class="number-info upper">
                                <p class="number-info-count">
                                    <span>17,412</span>개
                                </p>
                                <p class="number-info-text">
                                    국내 최대 개발 회사 풀
                                </p>
                            </div>
                            <div class="number-info">
                                <p class="number-info-count">
                                    <span>8,143억</span>원
                                </p>
                                <p class="number-info-text">
                                    프로젝트 누적 금액 1위
                                </p>
                            </div>
                            <div class="number-info">
                                <p class="number-info-count">
                                    <span>97</span>
                                    <img
                                        src="/static/images/footer/icon_percent.svg"
                                    />
                                </p>
                                <p class="number-info-text">
                                    10년간 유저 만족도
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="service-introdution-group">
                <section class="container">
                    <div class="service-introdution-group-button">
                        <div class="container">
                            <a class="group-button active" id="video-button">
                                <div>영상</div>
                            </a>
                            <a class="group-button" id="writing-button">
                                <div>글</div>
                            </a>
                        </div>
                    </div>
                    <div
                        class="service-introdution-wrapper"
                        id="video-introdution"
                    >
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">믿을 수 있는 영상 전문가</p>
                                <p class="subtitle">
                                    경험부터 실력까지 꼼꼼한<br />꿈터 영상
                                    전문가
                                </p>
                                <p class="explanation">
                                    클라이언트 리뷰, 레퍼런스 체크, 신원 인증을
                                    통해<br />완전히 검증된 전문가를 만나보세요.
                                </p>
                            </div>
                            <div class="introdution-image-layer">
                                <img
                                    src="/static/images/footer/professional.gif"
                                />
                            </div>
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-image-layer">
                                <img
                                    src="/static/images/footer/easy-and-fast.gif"
                                />
                            </div>
                            <div class="introdution-info-layer">
                                <p class="title">쉽고 빠른 전문가 매칭</p>
                                <p class="subtitle">
                                    2시간 내 무료 견적 컨설팅<br />24시간 내 딱
                                    맞는 전문가 매칭
                                </p>
                                <p class="explanation">
                                    매니저와의 상담을 통해 비용과 일정을
                                    확인하고<br />최고의 전문가를 연결해 드려요.
                                </p>
                            </div>
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">안전한 대금보호</p>
                                <p class="subtitle">
                                    결과물 확인 후 지급하는 대금<br />위시켓만의
                                    안전한 계약 시스템
                                </p>
                                <p class="explanation">
                                    에스크로 형태의 안심계약시스템을 활용하여<br />선금
                                    손실 없이 원하는 결과물을 안전하게
                                    받아보세요.
                                </p>
                            </div>
                            <div class="introdution-image-layer">
                                <img src="/static/images/footer/escrow.gif" />
                            </div>
                        </div>
                    </div>
                    <div
                        class="service-introdution-wrapper"
                        id="writing-introdution"
                    >
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">믿을 수 있는 글 전문가</p>
                                <p class="subtitle">
                                    경험부터 실력까지 꼼꼼한<br />꿈터 글 전문가
                                </p>
                                <p class="explanation">
                                    클라이언트 리뷰, 레퍼런스 체크, 신원 인증을
                                    통해<br />완전히 검증된 전문가를 만나보세요.
                                </p>
                            </div>
                            <div class="introdution-image-layer">
                                <img
                                    src="/static/images/footer/professional.gif"
                                />
                            </div>
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-image-layer">
                                <img
                                    src="/static/images/footer/easy-and-fast.gif"
                                />
                            </div>
                            <div class="introdution-info-layer">
                                <p class="title">쉽고 빠른 전문가 매칭</p>
                                <p class="subtitle">
                                    2시간 내 무료 견적 컨설팅<br />24시간 내 딱
                                    맞는 전문가 매칭
                                </p>
                                <p class="explanation">
                                    매니저와의 상담을 통해 비용과 일정을
                                    확인하고<br />최고의 전문가를 연결해 드려요.
                                </p>
                            </div>
                        </div>
                        <div class="service-introdution-box">
                            <div class="introdution-info-layer">
                                <p class="title">안전한 대금보호</p>
                                <p class="subtitle">
                                    결과물 확인 후 지급하는 대금<br />위시켓만의
                                    안전한 계약 시스템
                                </p>
                                <p class="explanation">
                                    에스크로 형태의 안심계약시스템을 활용하여<br />선금
                                    손실 없이 원하는 결과물을 안전하게
                                    받아보세요.
                                </p>
                            </div>
                            <div class="introdution-image-layer">
                                <img src="/static/images/footer/escrow.gif" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
    <script src="/static/js/main/main.js"></script>
</html>
