@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.876e22b0.woff2) format("woff2"),url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.e17e49fe.woff) format("woff"),url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Regular.subset.9645d39e.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.c6c0fe2b.woff2) format("woff2"),url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.2216ab02.woff) format("woff"),url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Medium.subset.11fc9454.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.12541844.woff2) format("woff2"),url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.fd82943b.woff) format("woff"),url(https://static.wadiz.kr/studio/funding/static/media/Pretendard-Bold.subset.c817dbf1.otf) format("opentype");
    font-display: swap
}

ul {
    display: block;
    list-style-type: disc;
    height: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}


.ServiceLayout_container{
    width: 1300px;
}

.Service_wrapper {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

.header_wrapper{
    width: 1300px;
}

.funding-table-row-wrapper{
    width: 1300px;
}

.ServiceHeader_container .ServiceHeader_title {
    line-height: 44px;
    font-size: 36px;
    margin: 0 0 16px;
    font-weight: 700;
}

.ServiceHeader_container .ServiceHeader_description {
    margin-bottom: 32px;
    line-height: 24px;
    color: #495057;
    font-size: 17px;
    margin: 0 0 32px;
}

.ServiceTable_container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    display: table;
    table-layout: auto;
    text-align: center;
}

.ServiceTable_header, .funding-table-row {
    display: table-row;
    width: 100%; 
}

.ServiceTable_header {
    background-color: #f8f9fa;
    font-weight: bold; 
}

.funding-table-cell {
    display: table-cell;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #dee2e6;
}

.editBtn button{
    background: #007bff;
    width: 67px;
    height: 25px;
    border-radius: 4px;
    color: white;
    cursor: pointer;    
}

.editBtn button:hover {
    opacity: 0.8;
}

/* 1300px */

/* 20 40 70 110 310 60 200 200 60 70 50 */

/* 각 열의 너비를 퍼센트로 설정 */
.headerCell:nth-child(1),
.funding-table-cell:nth-child(1) {
    width: 20px; /* 체크박스 열 너비 */
}

.headerCell:nth-child(2),
.funding-table-cell:nth-child(2) {
    width: 60px; /* ID 열 너비 */
}

.headerCell:nth-child(3),
.funding-table-cell:nth-child(3) {
    width: 70px; /* 작성자 열 너비 */
}

.headerCell:nth-child(4),
.funding-table-cell:nth-child(4) {
    width: 130px; /* 작성일 열 너비 */
}

.headerCell:nth-child(5),
.funding-table-cell:nth-child(5) {
    width: 320px; /* 게시글 제목 열 너비 */
}

.headerCell:nth-child(6),
.funding-table-cell:nth-child(6) {
    width: 65px; /* 조회수 열 너비 */
}

.headerCell:nth-child(7),
.funding-table-cell:nth-child(7) {
    width: 210px; /* 현재모인 금액 열 너비 */ 
}

.headerCell:nth-child(8),
.funding-table-cell:nth-child(8) {
    width: 135px; /* 목표금액 유형 열 너비 */
}

.headerCell:nth-child(9),
.funding-table-cell:nth-child(9) {
    width: 120px; /* 투자자수 열 너비 */
}

.headerCell:nth-child(10),
.funding-table-cell:nth-child(10) {
    width: 75px; /* 신고상태 열 너비 */
}

.pagination {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.pagination-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    height: auto;
}

.pagination-first, .pagination-prev, .pagination-next, .pagination-last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list li {
    margin: 0 2px;
}

.pagination-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px; /* 아이콘과 숫자 크기를 조절 */
    text-decoration: none;
    color: black; /* 필요에 따라 색상을 변경하세요 */
    border: 1px solid #ccc; /* 필요에 따라 테두리 스타일을 변경하세요 */
    border-radius: 3px; /* 필요에 따라 버튼 모양을 변경하세요 */
}

.pagination-list a:hover {
    background-color: #000000;
    color: #ffffff;
}

.pagination-list .active a {
    background-color: #000000; /* 배경을 검정색으로 */
    color: #ffffff; /* 글자를 하얀색으로 */
}

