<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>오디션 상세페이지</title>
    </head>
    <link rel="stylesheet" href="/static/css/audition/audition-detail.css" />
    <body>
        <header></header>
        <main>
            <div class="gaia">
                <div class="detail-detail-view">
                    <div class="container">
                        <section class="detail-section">
                            <div class="detail-section">
                                <a id="info" name="info"></a>
                                <div class="detail-content-layer mb24">
                                    <div class="detail-content-title">
                                        <div class="status-guide mb8">
                                            <div
                                                class="detail-status-label recruiting-status"
                                            >
                                                <div style="display: flex">
                                                    <div
                                                        class="status-mark recruiting-mark"
                                                    >
                                                        모집 중
                                                    </div>
                                                </div>
                                                <div style="display: flex">
                                                    <div
                                                        class="status-mark recruiting-mark-end"
                                                    >
                                                        모집 완료
                                                    </div>
                                                </div>
                                                <p
                                                    class="detail-recruit-guide font-size"
                                                >
                                                    등록 일자 2024.10.08.
                                                </p>
                                            </div>
                                        </div>
                                        <h1 class="subtitle-1">
                                            [역삼역] 단편영화 배우 모집합니다.
                                        </h1>
                                    </div>
                                    <div class="layer-divider"></div>
                                    <div class="detail-content-condition">
                                        <div
                                            class="detail-important-condition term_based"
                                        >
                                            <div class="detail-target-info">
                                                <div
                                                    class="detail-target-role font-size-2"
                                                >
                                                    배우
                                                </div>
                                                <div
                                                    class="detail-target-detail"
                                                >
                                                    <div
                                                        class="detail-target-detail-header"
                                                    >
                                                        <div
                                                            class="detail-header-info font-size experience"
                                                        >
                                                            경력
                                                        </div>
                                                        <div
                                                            class="detail-header-info font-size budget"
                                                        >
                                                            예상 금액
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="detail-target-detail-row"
                                                    >
                                                        <div
                                                            class="detail-target-detail-row-info-wrapper"
                                                        >
                                                            <div
                                                                class="detail-target-detail-row-info font-size-3 experience"
                                                            >
                                                                경력 무관
                                                            </div>
                                                            <div
                                                                class="detail-target-detail-row-info font-size-3 budget"
                                                            >
                                                                100,000원/일
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="detail-target-condition"
                                                >
                                                    <div
                                                        class="target-condition-row"
                                                    >
                                                        <div
                                                            class="condition-row-title font-size-3"
                                                        >
                                                            근무 시작일
                                                        </div>
                                                        <p
                                                            class="condition-row-data font-size-3"
                                                        >
                                                            2024년 11월 06일
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="target-condition-row"
                                                    >
                                                        <div
                                                            class="condition-row-title font-size-3"
                                                        >
                                                            모집 인원
                                                        </div>
                                                        <p
                                                            class="condition-row-data font-size-3"
                                                        >
                                                            5명
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="target-condition-row"
                                                    >
                                                        <div
                                                            class="condition-row-title font-size-3"
                                                        >
                                                            오디션 위치
                                                        </div>
                                                        <p
                                                            class="condition-row-data font-size-3"
                                                        >
                                                            서울특별시 강남구
                                                            역삼동 제일비전타워
                                                            13층
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb32"></div>
                                        <div
                                            class="detail-detail-condition term_based"
                                        >
                                            <div
                                                class="detail-detail-condition-row"
                                            >
                                                <div class="condition-title">
                                                    <span
                                                        class="condition-icon"
                                                    ></span>
                                                    <p class="condition-label">
                                                        오디션 마감일
                                                    </p>
                                                </div>
                                                <p class="condition-data">
                                                    2024년 10월 22일<img
                                                        class="class-splitter"
                                                        src="/static/images/audition/icon_project_category_dot_14.png"
                                                    /><span
                                                        class="condition-accent font-size"
                                                        >마감 1주 4일 전</span
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="detail-detail-condition-row"
                                            >
                                                <div class="condition-title">
                                                    <span
                                                        class="condition-icon"
                                                    ></span>
                                                    <p class="condition-label">
                                                        지원자 수
                                                    </p>
                                                </div>
                                                <p class="condition-data">
                                                    12명
                                                </p>
                                            </div>
                                            <div style="position: relative">
                                                <div class="divide term-based">
                                                    <div
                                                        class="detail-detail-condition-row"
                                                    >
                                                        <div
                                                            class="condition-title"
                                                        >
                                                            <span
                                                                class="condition-icon"
                                                            ></span>
                                                            <p
                                                                class="condition-label"
                                                            >
                                                                오디션 배경
                                                            </p>
                                                        </div>
                                                        <p
                                                            class="condition-data"
                                                        >
                                                            신규 단편영화에
                                                            필요한 배우를
                                                            구인하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="detail-detail-condition-row"
                                                    >
                                                        <div
                                                            class="condition-title"
                                                        >
                                                            <span
                                                                class="condition-icon"
                                                            ></span>
                                                            <p
                                                                class="condition-label"
                                                            >
                                                                오디션 유형
                                                            </p>
                                                        </div>
                                                        <p
                                                            class="condition-data"
                                                        >
                                                            경력에 상관없이
                                                            모집합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a id="description" name="description"></a>
                                    <div class="layer-divider mt40mb32"></div>
                                    <div class="detail-description">
                                        <h2 class="subcontent">오디션 내용</h2>
                                        <div class="detail-description-box">
                                            &lt;프로젝트 개요&gt;<br /><br />
                                            오디션 소개: <br />
                                            단편영화에 출연해주실 배우를 경력
                                            관계없이 모집합니다.<br />
                                            배우에 꿈이 있으신 분, 경험해보고
                                            싶으신 분 등 누구나 배우를
                                            경험해보고자 하는 기회를 드리고
                                            싶습니다.
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />스크롤 내리기용
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-section-wrap">
                                <div class="client-section">
                                    <div class="action-layer partners">
                                        <div>
                                            <button
                                                class="btn btn-partner btn-11-24 btn-block mb8"
                                                data-backdrop="static"
                                                data-target="#mandatoryModal"
                                                data-toggle="modal"
                                            >
                                                오디션 지원하기
                                            </button>
                                            <button
                                                class="btn btn-white btn-block btn-8-16 interest-button interest-off ui-tooltip"
                                                onclick="toggle_interest(this)"
                                                detail-id="139213"
                                                style="z-index: inherit"
                                            >
                                                <img
                                                    class="declaration"
                                                    src="/static/images/audition/다운로드.jfif"
                                                    alt=""
                                                    style="height: 12px"
                                                />
                                                오디션 신고하기
                                            </button>
                                        </div>
                                        <div class="detail-popularity-info">
                                            <div class="client-account-info">
                                                <img
                                                    class="client-account-info-img"
                                                    src="/static/images/audition/profile.png"
                                                />
                                                <div>
                                                    <div
                                                        class="client-account-info-base"
                                                    >
                                                        <p
                                                            class="client-account-info-base-username font-size-3-bold"
                                                        >
                                                            홍길동
                                                        </p>
                                                        <span
                                                            class="client-account-info-base-label caption-1-medium user-type-label client-label"
                                                            >클라이언트</span
                                                        >
                                                    </div>
                                                    <div
                                                        class="client-account-info-badge"
                                                    >
                                                        <div
                                                            class="client-badge-box"
                                                        >
                                                            <p
                                                                class="client-badge-name font-size"
                                                            >
                                                                홍길동@gamil.com
                                                            </p>
                                                        </div>
                                                        <div
                                                            style="clear: both"
                                                        ></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="caption-1">
                                                자기소개란<br />
                                                안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                                                안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both"></div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
