@charset "utf-8";
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
        url(/static/fonts/Pretendard-Bold.subset.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url(/static/fonts/Pretendard-SemiBold.subset.woff) format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url(/static/fonts/Pretendard-Regular.subset.woff) format("woff");
}

:root {
    --black: #000;
    --white: #fff;
    --blue10: #f7fafe;
    --blue20: #eff5ff;
    --blue30: #deebff;
    --blue40: #bcd1fc;
    --blue50: #94b5fc;
    --blue60: #6d9cfa;
    --blue70: #5189fa;
    --blue80: #4876ef;
    --blue90: #2d65f2;
    --blue100: #3157dd;
    --blue110: #1632a6;
    --blue120: #15276f;
    --gray10: #f8fafc;
    --gray20: #f4f6fa;
    --gray30: #eaedf4;
    --gray40: #d7dce5;
    --gray50: #b4c0d3;
    --gray60: #96a0b5;
    --gray70: #8491a7;
    --gray80: #67738e;
    --gray90: #5c667b;
    --gray100: #475067;
    --gray110: #373f57;
    --gray120: #292e41;
    --green10: #f3fffd;
    --green20: #ebfffc;
    --green30: #defaf6;
    --green40: #aff4e5;
    --green50: #7beed8;
    --green60: #4fe5c7;
    --green70: #00deb3;
    --green80: #00d3ab;
    --green90: #11be9a;
    --green100: #17a187;
    --green110: #2a7c6d;
    --green120: #286258;
    --coral10: #fffafa;
    --coral20: #fff5f7;
    --coral30: #fce6e6;
    --coral40: #fec5c5;
    --coral50: #fea4a3;
    --coral60: #ff837e;
    --coral70: #ff7a72;
    --coral80: #ff6d6a;
    --coral90: #ff5656;
    --coral100: #eb413f;
    --coral110: #d63131;
    --coral120: #b81d1d;
    --common_blue90: #2d65f2;
    --common_blue100: #3157dd;
    --color_primary: #373f57;
    --color_secondary: #5c667b;

    /* 지하철 노선 */
    /* 서울 */
    --subwayLine101: #0052a4;
    --subwayLine102: #34a344;
    --subwayLine103: #ec611b;
    --subwayLine104: #2995d6;
    --subwayLine105: #7c38d6;
    --subwayLine106: #ab4518;
    --subwayLine107: #5e661f;
    --subwayLine108: #df1c62;
    --subwayLine109: #ca9a35;
    --subwayLine201: #dd9520; /* 수인분당 */
    --subwayLine1101: #9c1b2c; /* 신분당 */
    --subwayLine901: #2c96df; /* 공항철도 */
    --subwayLine301: #6490c7; /* 인천1호선 */
    --subwayLine302: #ed8b00; /* 인천2호선 */
    --subwayLine1801: #395697; /* 신림 */
    --subwayLine1601: #7eb543; /* 서해 */
    --subwayLine1701: #8b651b; /* 김포골드 */
    --subwayLine1501: #bcb202; /* 우이신설 */
    --subwayLine203: #216ceb; /* 경강선 */
    --subwayLine202: #fe9132; /* 의정부 */
    --subwayLine1201: #159768; /* 경춘 */
    --subwayLine1301: #61aa5e; /* 에버라인 */
    --subwayLine1001: #66af90; /* 경의중앙 */
    --subwayLine303: #feb700; /* 자기부상 */
    /* 부산 */
    --subwayLine401: #ec5430;
    --subwayLine402: #34a344;
    --subwayLine403: #b68748;
    --subwayLine404: #3a66a9;
    --subwayLine405: #74428f; /* 부산김해 */
    --subwayLine406: #5d95c8; /* 동해 */
    /* 대구 */
    --subwayLine501: #ec5430;
    --subwayLine502: #34a344;
    --subwayLine503: #feb700;
    /* 광주 */
    --subwayLine601: #34a344;
    /* 대전 */
    --subwayLine801: #34a344;
}

/* reset & common class */
html {
    color: #000;
    background: #fff;
}

html,
body {
    width: 100%;
    -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
b,
strong,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-family: "Pretendard", "Malgun Gothic", dotum, gulim, sans-serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: inherit;
    line-height: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong,
b {
    font-weight: 700;
}

ol,
ul,
li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

header,
footer,
section,
nav,
article {
    display: block;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}

input,
button,
textarea,
select {
    line-height: normal;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
/* 마이페이지에서 사용시 스타일 망가짐 */
/* h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} */
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
button,
label {
    cursor: pointer;
}
.hidden,
.blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
}
strong,
b {
    font-weight: bold;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}
fieldset,
img {
    border: 0;
}
strong,
b {
    font-weight: bold;
}

/* Scrollbar */
.ScrollBar::-webkit-scrollbar {
    margin-right: 10px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}
.ScrollBar::-webkit-scrollbar-track,
.ScrollBar::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
.ScrollBar::-webkit-scrollbar-track {
    background-color: transparent;
}
.ScrollBar::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: var(--gray40);
}
.ScrollBar::-webkit-scrollbar-button {
    display: none;
}
*:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--blue100);
    outline-offset: 2px;
}
