body {
    line-height: 1.3;
    word-break: keep-all;
    color: #343a40;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
}
*,
:after,
:before {
    box-sizing: border-box;
}
.sort-filter-option::after {
    width: 1px;
    height: 10px;
    margin: 0 8px;
    background: #b4c0d3;
    content: "";
    display: inline-block;
    justify-content: center;
}
.sort-filter-option:last-child::after {
    content: none;
}
body {
    height: 100%;
    overflow: auto;
}
body,
html {
    margin: 0;
    padding: 0;
}
a,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
button:not(:disabled) {
    cursor: pointer;
}
button {
    color: inherit;
}
button,
input,
span,
textarea {
    font-family: inherit;
}
button {
    background-color: transparent;
}
a,
button {
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
img,
video {
    max-width: 100%;
    height: auto;
}
iframe,
img,
video {
    vertical-align: top;
}

/* body */
.layout-contents {
    position: relative;
    flex: 1 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    overflow-x: auto;
    overflow-y: auto;
}
.layout-contents .layout-sections {
    overflow-x: auto;
    overflow-y: auto;
}

/* 필터링 */
.filter-wrap {
    width: 1291px;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    margin: 10px;
    padding: 10px;
}
.sort-filter-options {
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
    margin-right: 20px;
}
.sort-filter-option.selected {
    color: #000;
}
.sort-filter-option {
    cursor: pointer;
    font-size: 14px;
    color: #b4c0d3;
}

/* 게시글 삭제 버튼 */
.delete-selected-btn {
    height: 40px;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap; /* 버튼 텍스트가 한 줄에 표시되도록 설정 */
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #f5f7fa;
    border: 1px solid #e2e8f0;
    transition: background-color 0.3s;
}
.delete-selected-btn:hover {
    background-color: #e2e8f0; 
}

/* 통합검색 */
.filter-search-input {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    outline: none;
    min-width: 0;
    transition: border-color 0.3s;
}
.filter-search-input:focus {
    border-color: #b4c0d3;
}

/* 여기서부터 section */
/* ******************************************* */
.common-section {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}
.common-header-container {
    color: #000;
}
.common-header-container .common-header-title {
    line-height: 44px;
    font-size: 36px;
    margin: 0 0 16px;
    font-weight: 700;
}
.common-header-container .common-header-description {
    margin-bottom: 32px;
    line-height: 24px;
    color: #495057;
    font-size: 17px;
    margin: 0 0 32px;
}

/* ******************************************* */
.apply-table-container {
    width: 1291px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.apply-table-row {
    display: table-row;
}
.apply-table-cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; 
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; 
}
.apply-table-header {
    background-color: #f8f9fa;
    font-size: 17px;
    font-weight: 600;
}
.apply-table-cell input[type="checkbox"] {
    margin: 0 auto;
}

/* section3 : 작품 관리 */
/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
#work-section .apply-header-cell:nth-child(1),
#work-section .apply-table-cell:nth-child(1) {
    width: 4%;
}

/* 첫번째 열 */
#work-section .apply-header-cell:nth-child(2),
#work-section .apply-table-cell:nth-child(2) {
    width: 6%;
}

/* 두번째 열 */
#work-section .apply-header-cell:nth-child(3),
#work-section .apply-table-cell:nth-child(3) {
    width: 9%;
}

/* 세번째 열 */
#work-section .apply-header-cell:nth-child(4),
#work-section .apply-table-cell:nth-child(4) {
    width: 11%;

}

/* 네번째 열 */
#work-section .apply-header-cell:nth-child(5),
#work-section .apply-table-cell:nth-child(5) {
    width: 10%;
}

/* 다섯번째 열 */
#work-section .apply-header-cell:nth-child(6),
#work-section .apply-table-cell:nth-child(6) {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
#work-section .apply-header-cell:nth-child(7),
#work-section .apply-table-cell:nth-child(7) {
    width: 9%;
}

/* 일곱 열 */
#work-section .apply-header-cell:nth-child(8),
#work-section .apply-table-cell:nth-child(8) {
    width: 8%;
}
/* 여덟 열 */
#work-section .apply-header-cell:nth-child(9),
#work-section .apply-table-cell:nth-child(9) {
    width: 9%;
}

/* 마지막 열 */
#work-section .apply-header-cell:nth-child(10),
#work-section .apply-table-cell:nth-child(10) {
    width: 9%;
}


/* section4 : 펀딩 관리 */
/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
#funding-section .apply-header-cell:nth-child(1),
#funding-section .apply-table-cell:nth-child(1) {
    width: 4%;
}

/* 첫번째 열 */
#funding-section .apply-header-cell:nth-child(2),
#funding-section .apply-table-cell:nth-child(2) {
    width: 6%;
}

/* 두번째 열 */
#funding-section .apply-header-cell:nth-child(3),
#funding-section .apply-table-cell:nth-child(3) {
    width: 9%;
}

/* 세번째 열 */
#funding-section .apply-header-cell:nth-child(4),
#funding-section .apply-table-cell:nth-child(4) {
    width: 11%;

}

/* 네번째 열 */
#funding-section .apply-header-cell:nth-child(5),
#funding-section .apply-table-cell:nth-child(5) {
    width: 10%;
}

/* 다섯번째 열 */
#funding-section .apply-header-cell:nth-child(6),
#funding-section .apply-table-cell:nth-child(6) {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
#funding-section .apply-header-cell:nth-child(7),
#funding-section .apply-table-cell:nth-child(7) {
    width: 9%;
}

/* 일곱 열 */
#funding-section .apply-header-cell:nth-child(8),
#funding-section .apply-table-cell:nth-child(8) {
    width: 8%;
}
/* 여덟 열 */
#funding-section .apply-header-cell:nth-child(9),
#funding-section .apply-table-cell:nth-child(9) {
    width: 9%;
}

/* 마지막 열 */
#funding-section .apply-header-cell:nth-child(10),
#funding-section .apply-table-cell:nth-child(10) {
    width: 9%;
}


/*********** 모달창 **************/

/* 신고관리 모달창 */
/* report-management-modal  */
.report-management-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}
.report-management-modal .background-overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
}
.report-management-modal .modal-content {
    background-color: #ffffff;
    padding: 25px 40px 30px 40px;
    border-radius: 10px;
    overflow-y: auto;
}
.report-management-modal .choice-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}
.choice-container input[type="button"] {
    margin-top: auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.choice-container .btn-processing-completed {
    background-color: rgba(107, 188, 107, 0.443);
}
.choice-container .btn-hold {
    background-color: #ffa60075;
}
.choice-container #btn-hold {
    width: 100px;
}
.choice-container .btn-no-issue {
    background-color: #b7b7b769;
}
.report-management-modal .button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.report-management-modal .btn-complete {
    margin-top: auto;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
}
.report-management-modal .choice-container .btn-processing-completed:hover {
    transform: translateY(-4px) scale(1.02);
}
.report-management-modal .choice-container .btn-hold:hover {
    transform: translateY(-4px) scale(1.02);
}
.report-management-modal .choice-container .btn-no-issue:hover {
    transform: translateY(-4px) scale(1.02);
}
.report-management-modal .choice-container .btn-processing-completed.on {
    background-color: rgba(41, 153, 41, 0.818);
}
.report-management-modal .choice-container .btn-hold.on {
    background-color: #ffa600;
}
.report-management-modal .choice-container .btn-no-issue.on {
    background-color: #b7b7b7;
}

/* (모달창 아님.) 테이블: 신고관리 버튼 */
.report-management-btn {
    color: white;
    border: none;
    border-radius: 4px;
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}
.report-management-btn.report {
    background-color: #ff0000;
}
.report-management-btn.processing-completed {
    background-color: rgba(41, 153, 41, 0.818);
    cursor: default;
}
.report-management-btn.hold {
    background-color: #ffa600;
}
.report-management-btn.no-issue {
    background-color: #b7b7b7;
    cursor: default;
}

/* 수정 모달창 */
/* edit-modal  */
.edit-full-modal {
    z-index: 1000;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
}
.edit-full-modal .edit-modal {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 90%; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* 모달창 안에만 스크롤바 표시 */
    border-radius: 8px;
}
.edit-full-modal .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}
.edit-full-modal .modal-content {
    background-color: #ffffff;
    padding: 30px;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
    padding: 25px 35px;
}
.edit-full-modal .modal-content .close-button {
    position: absolute;
    top: 10px;
    right: 17px;
    float: right;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}
.edit-full-modal .modal-content .close-button:hover {
    color: #000;
}
.edit-full-modal .modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.edit-full-modal .modal-content label {
    display: block;
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: bold;
}
.edit-post-title {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.edit-post-content {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}
/* 미디어 파일(file: media) */
.modal-content .file-preview-container {
    display: grid;
    gap: 5px;
    margin-top: 20px;
}
.media-wrapper video,
.media-wrapper img {
    width: 50%;
}

.media-wrapper {
    display: flex;
    gap: 5px;
}
/* 댓글 */
.edit-form h3 {
    margin-top: 20px;
}
.comment-list{
    height: 100%;
    list-style:none;
    padding-left:0px;
    margin-top: 10px;
}
.comment-list li {
     margin-bottom: 4px;
}
.comment-writer-img {
    width: 20px;
    height: 20px;
    margin: 0px 7px 1px 0px;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
}

.comment-writer-name {
    font-size: 14px;
    line-height: 1.71;
    color: #212121;
    font-weight: 500;
}
.comment-header-wrapper {
    display: flex;
    justify-content: space-between;
}
.comment {
    resize: none;
    color: #424242;
    word-break: break-word;
    margin: 6px 0px 2px 0px;
    overflow: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}
.delelte-button {
    background-color: #c9c9c999;
    color: #2c2c2c;
    padding: 4px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delelte-button:hover {
    background-color: #c9c9c9;
}
/* 저장 버튼 */
#save-button {
    background-color: #007bff;
    width: 100%;
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
#save-button:hover {
    background-color: #0066d3;
}

/* (모달창 아님.) 테이블: 수정 버튼 */
.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}
.edit-btn:hover {
    opacity: 0.8;
}

.modal-content p {
    font-size: 20px;
    color: #343a40;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* 모달2 - 수정 */

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="email"],
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.modal-content select {
    background-color: #fff;
    cursor: pointer;
}

/* ****************************** */

.pagination {
    width: 1291px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    height: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.pagination-list {
    width: 1291px;
    list-style: none;
    display: flex;
    padding-left: 0;
    height: auto;
    justify-content: center;
}

.pagination-first,
.pagination-prev,
.pagination-next,
.pagination-last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list li {
    margin: 0 2px;
}

.pagination-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px; /* 아이콘과 숫자 크기를 조절 */
    text-decoration: none;
    color: black; /* 필요에 따라 색상을 변경하세요 */
    border: 1px solid #ccc; /* 필요에 따라 테두리 스타일을 변경하세요 */
    border-radius: 3px; /* 필요에 따라 버튼 모양을 변경하세요 */
}

.pagination-list a:hover {
    background-color: #4876ef;
    border: #4876ef;
    color: #ffffff;
}

.pagination-list .active a {
    background-color: #4876ef;
    border: #4876ef; /* 배경을 검정색으로 */
    color: #ffffff; /* 글자를 하얀색으로 */
}

/* ======================== */
/* '작품,펀딩,모집'만 해당 */
/* body제목: 영상(defalt)/글 => 클릭 시 해당 display: block)  */
.common-header-container .common-header-title {
    line-height: 20px;
    font-size: 36px;
    margin: 0 0 16px;
    font-weight: 700;
}
.common-header-container {
    position: relative;
}
.service-introdution-group-button > .container {
    padding-left: 2px;
    gap: 32px;
}
.service-introdution-group-button .container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}
.container {
    padding-top: 33px;
    padding-bottom: 35px;
}
.service-introdution-group-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
}
.service-introdution-group-button .group-button.active div {
    padding: 12px 0 10px 0;
    color: #212121;
    font-weight: 500;
    border-bottom: solid 3px #007bff;
}
.service-introdution-group-button .group-button div {
    padding: 12px 0;
    height: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #424242;
    cursor: pointer;
}
h1.common-header-description {
    background-color: #eeeeeead;
    height: 28px;
    width: 85px;
    text-align: center;
    align-content: center;
    border-radius: 3px;
}
.section-label {
    display: flex;
    padding-left: 170px;
    padding-top: 10px;
}

/* 게시글 제목 클릭 시, 해당 게시글 상세페이지로 이동 */
.apply-table-cell > a {
    color: rgba(0, 0, 255, 0.823);
}

/* 글-wrapper(display:none//defalt) */
#text-wrapper {
    display: none;
}
