body {
    line-height: 1.3;
    word-break: keep-all;
    color: #343a40;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.sort-filter-option::after {
    width: 1px;
    height: 10px;
    margin: 0 8px;
    background: #b4c0d3;
    content: "";
    display: inline-block;
    justify-content: center;
}
.sort-filter-option:last-child::after {
    content: none;
}

body {
    height: 100%;
    overflow: auto;
}

body,
html {
    margin: 0;
    padding: 0;
}

.AppLayout_container {
    overflow-y: auto;
    position: relative;
}

/* 헤더 */
a,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
.AppGNBbar_container {
    height: 72px;
}
.AppGNBbar_container {
    box-shadow: 0 1px 0 0 rgba(10, 22, 70, 0.06);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
}

.StudioLogo_container {
    padding: 0;
    display: flex;
    align-items: center;
}

button:not(:disabled) {
    cursor: pointer;
}
button {
    color: inherit;
}
button,
input,
span,
textarea {
    font-family: inherit;
}
button {
    background-color: transparent;
}
a,
button {
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.StudioLogo_logo {
    background-image: url(/static/images/corporation/saramin.svg);
    width: 142px;
    height: 35px;
    display: block;
    margin-right: 8px;
    margin-bottom: 4px;
    outline: 0;
    background-size: cover;
}
.StudioLogo_type {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 8px;
    color: #868e96;
}

.AppGNBbar_flex {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: flex-start;
}

.AppGNBbar_rightBox {
    justify-content: flex-end;

    gap: 24px;
}

.ProjectInfo_container {
    padding: 0;
    position: relative;
    margin-right: 0;
}

.ProjectInfo_infoButton {
    height: 37px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    padding: 0 16px;
    width: 100%;
    color: #868e96;
    gap: 4px;
}

.ProjectInfo_infoButton .ProjectInfo_emphasis {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.ProjectInfo_infoButton[aria-expanded="true"] [class*="withIcon_icon"] {
    transform: rotate(180deg);
}

.ProjectInfo_infoBox {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(33, 37, 41, 0.06),
        0 32px 40px -2px rgba(33, 37, 41, 0.12);
    background-color: #fff;
    width: 280px;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.BlindText_textHidden {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ProjectInfo_infoBox .ProjectInfo_content:first-of-type {
    margin-top: 0;
}

.ProjectInfo_infoBox .ProjectInfo_content {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
}

.ProjectInfo_infoBox .ProjectInfo_profileImage {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background-color: #fff;
    width: 24px;
    height: 24px;
}

.Avatar_avatar {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
    vertical-align: middle;
}

.Avatar_avatar > .Avatar_inner {
    display: inline-block;
    border: 1px solid #e9ecef;
    border-radius: 100%;
}

.Avatar_avatar > .Avatar_inner > img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
}

img,
video {
    max-width: 100%;
    height: auto;
}

iframe,
img,
video {
    vertical-align: top;
}

.ProjectInfo_infoBox .ProjectInfo_makerName {
    font-weight: 700;
    overflow-wrap: anywhere;
}

.BlindText_textHidden {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ProjectInfo_stateBox {
    flex-wrap: wrap;
}

.ProjectInfo_stateBox .ProjectInfo_state {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #f2f4f6;
    padding: 1px 6px;
    color: #495057;
}

.Button_button.Button_primary.Button_contained {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_button.Button_sm {
    padding: 6px 11px;
    height: 32px;
    font-size: 14px;
}

.Button_button.Button_block {
    width: 100%;
}

.Button_button {
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    border-color: #e9ecef;
    padding: 8px 24px;
    color: #495057;
}

/* 사이드 바 */
.AppLayout_container .AppLayout_main {
    display: flex;
    padding-top: 72px;
    height: 100%;
}

.AppNavbarLayout_container.AppNavbarLayout_expand {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 240px;
}

.AppNavbarLayout_container {
    position: relative;
    transform: none;
    transition: width 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    width: 0;
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.AppNavbarLayout_content {
    padding-bottom: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 35px;
}

.MenuItems_section {
    padding: 0;
}

.MenuItems_menu.MenuItems_hasSubmenu {
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.MenuItems_menu {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
}

.MenuItems_menu .MenuItems_label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #495057;
    gap: 12px;
}

.MenuItems_active .MenuItems_label {
    color: #212529;
    font-weight: 700;
}

.MenuItems_menu .MenuItems_label svg {
    width: 16px;
    height: 16px;
}

.withIcon_icon {
    display: block;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    fill: currentColor;
}

.MenuItems_menu.MenuItems_hasSubmenu .MenuItems_downIcon.MenuItems_open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.MenuItems_menu.MenuItems_hasSubmenu .MenuItems_downIcon {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -8px;
    color: #adb5bd;
}

.MenuItems_submenuContainer.MenuItems_show {
    max-height: 400px;
}

.MenuItems_submenuContainer {
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow-y: hidden;
}

.MenuItems_submenuContainer .MenuItems_submenu:hover {
    background-color: #f2f4f6;
}

.MenuItems_submenuContainer .MenuItems_submenu {
    display: block;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 12px 16px 12px 44px;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

/* 사이드바 사라졌을 때 */
.AppNavbarLayout_divider {
    background-color: #fff;
    min-width: 28px;
}

.AppLayout_container .AppLayout_main .AppLayout_expandNavButton {
    display: flex;
    position: fixed;
    top: 84px;
    left: 12px;
    align-items: center;
    justify-content: center;
    transition: left 0.2s;
    border: 0.75px solid #e9ecef;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1019607843);
}

.AppLayout_container
    .AppLayout_main
    .AppLayout_expandNavButton
    .AppLayout_icon {
    background: url(https://static.wadiz.kr/studio/funding/static/media/icon-expand-more.21864999.svg)
        no-repeat 50%;
    background-size: 12px 12px;
    pointer-events: none;
    width: 12px;
    height: 12px;
}

/* 사이드바 열렸을 때 버튼 */
.AppLayout_container
    .AppLayout_main
    .AppLayout_expandNavButton.AppLayout_expand {
    left: 224px;
}
.AppLayout_container
    .AppLayout_main
    .AppLayout_expandNavButton.AppLayout_expand
    .AppLayout_icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* body */
.sort-filter-options {
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
    margin-right: 20px;
}

.sort-filter-option.selected {
    color: #000;
}

.sort-filter-option {
    cursor: pointer;
    font-size: 14px;
    color: #b4c0d3;
}

.filter-wrap {
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    margin: 10px;
    padding: 10px;
}

.addServiceBtn,
.delete-selected-btn {
    height: 40px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f9fafb;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.addServiceBtn,
.delete-selected-btn {
    white-space: nowrap; /* 버튼 텍스트가 한 줄에 표시되도록 설정 */
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #f5f7fa; /* 배경색 조정 */
    border: 1px solid #e2e8f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addServiceBtn:hover,
.delete-selected-btn:hover {
    background-color: #e2e8f0; /* 버튼에 호버 효과 추가 */
}

.addServiceBtn.clicked,
.delete-selected-btn.clicked {
    background-color: rgb(0, 196, 196) !important;
}

.icon-report {
    width: 20px;
}

.filter-search-input {
    flex-grow: 1;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    outline: none;
    min-width: 0;
    transition: border-color 0.3s;
}

.filter-search-input:focus {
    border-color: #b4c0d3;
}
/* 버튼 */

/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ********************************************************************************************** */
.AppLayout_container .AppLayout_main .AppLayout_contents {
    position: relative;
    -ms-flex: 1 1;
    flex: 1 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    overflow-x: auto;
    overflow-y: auto;
}
.layout-sections {
    /* position: relative; */
    /* -ms-flex: 1 1; */
    /* flex: 1 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06); */
    overflow-x: auto;
    overflow-y: auto;
}

/* 여기서부터 user-section */
/* ******************************************* */
.user-admin {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

.common-header-container {
    color: #000;
}

.common-header-container .common-header-title {
    line-height: 44px;
    font-size: 36px;
    margin: 0 0 16px;
    font-weight: 700;
}

.common-header-container .common-header-description {
    margin-bottom: 32px;
    line-height: 24px;
    color: #495057;
    font-size: 17px;
    margin: 0 0 32px;
}

/* User Table Styles */
.common-layout-container {
    width: 1400px;
}
.UserTable_container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.UserTable_row {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.UserTable_cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.UserTable_header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.UserTable_cell input[type="checkbox"] {
    margin: 0 auto;
}

/* section1: 회원 관리 */
/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
.User-headerCell:nth-child(1),
.UserTable_cell:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
.User-headerCell:nth-child(2),
.UserTable_cell:nth-child(2) {
    width: 7%;
}

/* 두번째 열 */
.User-headerCell:nth-child(3),
.UserTable_cell:nth-child(3) {
    width: 9%;
}

/* 세번째 열 */
.User-headerCell:nth-child(4),
.UserTable_cell:nth-child(4) {
    width: 10%;
}

/* 네번째 열 */
.User-headerCell:nth-child(5),
.UserTable_cell:nth-child(5) {
    width: 17%;
}

/* 다섯번째 열 */
.User-headerCell:nth-child(6),
.UserTable_cell:nth-child(6) {
    width: 11%;
}

/* 여섯번째 열 */
.User-headerCell:nth-child(7),
.UserTable_cell:nth-child(7) {
    width: 10%;
}

/* 일곱 열 */
.User-headerCell:nth-child(8),
.UserTable_cell:nth-child(8) {
    width: 6%;
}
/* 마지막 열 */
.User-headerCell:nth-child(9),
.UserTable_cell:nth-child(9) {
    width: 8%;
}

/* 수정 버튼 */
.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
}

.edit-btn:hover {
    opacity: 0.8;
}
/* section style 끝 */
/* 여기서부터 notice-section */
/* ******************************************* */
.common-section {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

/* Apply Table Styles */
.common-layout-container {
    width: 1400px;
}
.apply-table-container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.apply-table-row {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.apply-table-cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.apply-table-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.apply-table-cell input[type="checkbox"] {
    margin: 0 auto;
}

/* section2: 공지 관리 */
/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
#notice-section .apply-header-cell:nth-child(1),
#notice-section .apply-table-cell:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
#notice-section .apply-header-cell:nth-child(2),
#notice-section .apply-table-cell:nth-child(2) {
    width: 4%;
}

/* 두번째 열 */
#notice-section .apply-header-cell:nth-child(3),
#notice-section .apply-table-cell:nth-child(3) {
    width: 10%;
}

/* 세번째 열 */
#notice-section .apply-header-cell:nth-child(4),
#notice-section .apply-table-cell:nth-child(4) {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 네번째 열 */
#notice-section .apply-header-cell:nth-child(5),
#notice-section .apply-table-cell:nth-child(5) {
    width: 11%;
}

/* 다섯번째 열 */
#notice-section .apply-header-cell:nth-child(6),
#notice-section .apply-table-cell:nth-child(6) {
    width: 5%;
}

/* 여섯번째 열 */
#notice-section .apply-header-cell:nth-child(7),
#notice-section .apply-table-cell:nth-child(7) {
    width: 9%;
}

/* 일곱 열 */
#notice-section .apply-header-cell:nth-child(8),
#notice-section .apply-table-cell:nth-child(8) {
    width: 6%;
}
/* 마지막 열 */
#notice-section .apply-header-cell:nth-child(9),
#notice-section .apply-table-cell:nth-child(9) {
    width: 8%;
}

/* section3 : 작품 관리 */
/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
#work-section .apply-header-cell:nth-child(1),
#work-section .apply-table-cell:nth-child(1) {
    width: 4%;
}

/* 첫번째 열 */
#work-section .apply-header-cell:nth-child(2),
#work-section .apply-table-cell:nth-child(2) {
    width: 6%;
}

/* 두번째 열 */
#work-section .apply-header-cell:nth-child(3),
#work-section .apply-table-cell:nth-child(3) {
    width: 9%;
}

/* 세번째 열 */
#work-section .apply-header-cell:nth-child(4),
#work-section .apply-table-cell:nth-child(4) {
    width: 11%;

}

/* 네번째 열 */
#work-section .apply-header-cell:nth-child(5),
#work-section .apply-table-cell:nth-child(5) {
    width: 10%;
}

/* 다섯번째 열 */
#work-section .apply-header-cell:nth-child(6),
#work-section .apply-table-cell:nth-child(6) {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
#work-section .apply-header-cell:nth-child(7),
#work-section .apply-table-cell:nth-child(7) {
    width: 9%;
}

/* 일곱 열 */
#work-section .apply-header-cell:nth-child(8),
#work-section .apply-table-cell:nth-child(8) {
    width: 8%;
}
/* 여덟 열 */
#work-section .apply-header-cell:nth-child(9),
#work-section .apply-table-cell:nth-child(9) {
    width: 9%;
}

/* 마지막 열 */
#work-section .apply-header-cell:nth-child(10),
#work-section .apply-table-cell:nth-child(10) {
    width: 9%;
}


/* section4 : 펀딩 관리 */
/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
#funding-section .apply-header-cell:nth-child(1),
#funding-section .apply-table-cell:nth-child(1) {
    width: 4%;
}

/* 첫번째 열 */
#funding-section .apply-header-cell:nth-child(2),
#funding-section .apply-table-cell:nth-child(2) {
    width: 6%;
}

/* 두번째 열 */
#funding-section .apply-header-cell:nth-child(3),
#funding-section .apply-table-cell:nth-child(3) {
    width: 9%;
}

/* 세번째 열 */
#funding-section .apply-header-cell:nth-child(4),
#funding-section .apply-table-cell:nth-child(4) {
    width: 11%;

}

/* 네번째 열 */
#funding-section .apply-header-cell:nth-child(5),
#funding-section .apply-table-cell:nth-child(5) {
    width: 10%;
}

/* 다섯번째 열 */
#funding-section .apply-header-cell:nth-child(6),
#funding-section .apply-table-cell:nth-child(6) {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
#funding-section .apply-header-cell:nth-child(7),
#funding-section .apply-table-cell:nth-child(7) {
    width: 9%;
}

/* 일곱 열 */
#funding-section .apply-header-cell:nth-child(8),
#funding-section .apply-table-cell:nth-child(8) {
    width: 8%;
}
/* 여덟 열 */
#funding-section .apply-header-cell:nth-child(9),
#funding-section .apply-table-cell:nth-child(9) {
    width: 9%;
}

/* 마지막 열 */
#funding-section .apply-header-cell:nth-child(10),
#funding-section .apply-table-cell:nth-child(10) {
    width: 9%;
}


/* section style 끝 */
/* 여기서부터 announcement-section */
/* ******************************************* */
.common-section {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

/* announcement Table Styles */
.common-layout-container {
    width: 1400px;
}
.announcementTable_container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.announcementTable_row {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.announcementTable_cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.announcementTable_header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.announcementTable_cell input[type="checkbox"] {
    margin: 0 auto;
}

/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
.announcement-headerCell:nth-child(1),
.announcementTable_cell:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
.announcement-headerCell:nth-child(2),
.announcementTable_cell:nth-child(2) {
    width: 12%;
}

/* 두번째 열 */
.announcement-headerCell:nth-child(3),
.announcementTable_cell:nth-child(3) {
    width: 10%;
}

/* 세번째 열 */
.announcement-headerCell:nth-child(4),
.announcementTable_cell:nth-child(4) {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 네번째 열 */
.announcement-headerCell:nth-child(5),
.announcementTable_cell:nth-child(5) {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 다섯번째 열 */
.announcement-headerCell:nth-child(6),
.announcementTable_cell:nth-child(6) {
    width: 11%;
}

/* 여섯번째 열 */
.announcement-headerCell:nth-child(7),
.announcementTable_cell:nth-child(7) {
    width: 8%;
}

/* 일곱 열 */
.announcement-headerCell:nth-child(8),
.announcementTable_cell:nth-child(8) {
    width: 9%;
}
/* 마지막 열 */
.announcement-headerCell:nth-child(9),
.announcementTable_cell:nth-child(9) {
    width: 8%;
}

/* section style 끝 */
/* Post */
/* 여기서부터 Post-section */
/* ******************************************* */
.common-section {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

/* Post Table Styles */
.common-layout-container {
    width: 1400px;
}
.PostTable_container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.PostTable_row {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.PostTable_cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.PostTable_header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.PostTable_cell input[type="checkbox"] {
    margin: 0 auto;
}

/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
.Post-headerCell:nth-child(1),
.PostTable_cell:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
.Post-headerCell:nth-child(2),
.PostTable_cell:nth-child(2) {
    width: 12%;
}

/* 두번째 열 */
.Post-headerCell:nth-child(3),
.PostTable_cell:nth-child(3) {
    width: 12%;
}

/* 세번째 열 */
.Post-headerCell:nth-child(4),
.PostTable_cell:nth-child(4) {
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 네번째 열 */
.Post-headerCell:nth-child(5),
.PostTable_cell:nth-child(5) {
    width: 24%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 다섯번째 열 */
.Post-headerCell:nth-child(6),
.PostTable_cell:nth-child(6) {
    width: 8%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
.Post-headerCell:nth-child(7),
.PostTable_cell:nth-child(7) {
    width: 9%;
}

/* 일곱 열 */
.Post-headerCell:nth-child(8),
.PostTable_cell:nth-child(8) {
    width: 8%;
}
/* 마지막 열 */
/* .Post-headerCell:nth-child(9),
.PostTable_cell:nth-child(9) {
    width: 8%;
} */

/* section style 끝 */
/* payment */
/* 여기서부터 payment-section */
/* ******************************************* */
.common-section {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

/* payment Table Styles */
.common-layout-container {
    width: 1400px;
}
.paymentTable_container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.paymentTable_row {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.paymentTable_cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.paymentTable_header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.paymentTable_cell input[type="checkbox"] {
    margin: 0 auto;
}

/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
.payment-headerCell:nth-child(1),
.paymentTable_cell:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
.payment-headerCell:nth-child(2),
.paymentTable_cell:nth-child(2) {
    width: 12%;
}

/* 두번째 열 */
.payment-headerCell:nth-child(3),
.paymentTable_cell:nth-child(3) {
    width: 12%;
}

/* 세번째 열 */
.payment-headerCell:nth-child(4),
.paymentTable_cell:nth-child(4) {
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 네번째 열 */
.payment-headerCell:nth-child(5),
.paymentTable_cell:nth-child(5) {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 다섯번째 열 */
.payment-headerCell:nth-child(6),
.paymentTable_cell:nth-child(6) {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
.payment-headerCell:nth-child(7),
.paymentTable_cell:nth-child(7) {
    width: 18%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 일곱 열 */
.payment-headerCell:nth-child(8),
.paymentTable_cell:nth-child(8) {
    width: 8%;
}
/* 마지막 열 */
.payment-headerCell:nth-child(9),
.paymentTable_cell:nth-child(9) {
    width: 8%;
}

/* section style 끝 */
/* inquiry */
/* 여기서부터 inquiry-section */
/* ******************************************* */
.common-section {
    padding: 40px 66px;
    display: flex;
    flex-direction: column;
}

/* Post Table Styles */
.common-layout-container {
    width: 1400px;
}
.inquiryTable_container {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: table; /* 테이블처럼 보이도록 설정 */
    table-layout: fixed; /* 모든 열이 지정된 비율에 맞게 크기를 고정 */
    text-align: center;
}

.inquiryTable_row {
    display: table-row;
    width: 100%;
    border: 1px solid #dee2e6;
}

.inquiryTable_cell {
    display: table-cell;
    box-sizing: border-box; /* padding과 border를 포함한 크기 조정 */
    padding: 8px; /* 셀 내용과 셀 경계 사이의 간격 */
    vertical-align: middle; /* 내용이 수직으로 가운데 정렬되도록 */
    border-bottom: 1px solid #dee2e6; /* 셀 아래 테두리 */
}
.inquiryTable_header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important; /*헤더 아래 테두리*/
    font-size: 17px;
    font-weight: 600;
}

.inquiryTable_cell input[type="checkbox"] {
    margin: 0 auto;
}

/* 기존의 너비 설정 유지 */
/* 체크박스 열 */
.inquiry-headerCell:nth-child(1),
.inquiryTable_cell:nth-child(1) {
    width: 3%;
}

/* 첫번째 열 */
.inquiry-headerCell:nth-child(2),
.inquiryTable_cell:nth-child(2) {
    width: 10%;
}

/* 두번째 열 */
.inquiry-headerCell:nth-child(3),
.inquiryTable_cell:nth-child(3) {
    width: 10%;
}

/* 세번째 열 */
.inquiry-headerCell:nth-child(4),
.inquiryTable_cell:nth-child(4) {
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 네번째 열 */
.inquiry-headerCell:nth-child(5),
.inquiryTable_cell:nth-child(5) {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 다섯번째 열 */
.inquiry-headerCell:nth-child(6),
.inquiryTable_cell:nth-child(6) {
    width: 12%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 여섯번째 열 */
.inquiry-headerCell:nth-child(7),
.inquiryTable_cell:nth-child(7) {
    width: 13%;
}

/* 일곱 열 */
.inquiry-headerCell:nth-child(8),
.inquiryTable_cell:nth-child(8) {
    width: 8%;
}
/* 마지막 열 */
.inquiry-headerCell:nth-child(9),
.inquiryTable_cell:nth-child(9) {
    width: 8%;
}

/* section style 끝 */
/* modal 창 */
/* Modal Styles */
@keyframes popUp {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes popDown {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}

/* Modal Background */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    width: 100%;
    height: 100%;
}
.modal .dim {
    display: block;
}
.dim {
    display: none;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
}
/* 스크롤바의 전체 컨테이너 */
.modal-content::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

/* 스크롤바의 트랙 (배경) */
.modal-content::-webkit-scrollbar-track {
    background: #ffffff; /* 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 스크롤바의 핸들 (실제 드래그할 부분) */
.modal-content::-webkit-scrollbar-thumb {
    background: #888; /* 핸들의 색상 */
    border-radius: 10px; /* 모서리 둥글게 */
    border: 3px solid #ffffff; /* 트랙과 핸들 사이의 여백 */
}

/* 스크롤바 핸들이 호버되었을 때 */
.modal-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들의 색상 (호버시) */
}
.modal-content p {
    font-size: 20px;
    color: #343a40;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* Enter Modal Content */
.enterModal_content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    height: 200px;
}
.enterModal_content p {
    font-size: 20px;
    color: #343a40;
    font-weight: 700;
}
.enterModal_content.vibration {
    animation: vibration 0.1s infinite;
}

/* enter Container */
.enter-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.enter-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.enter-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}
.enter-input.vibration {
    border-color: #ff002f; /* 빨간색 테두리 */
    box-shadow: 0 0 5px rgba(255, 0, 47, 0.3); /* 빨간색 그림자 */
    outline: none;
    animation: vibration 0.1s infinite;
}
@keyframes vibration {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(-1deg);
    }
}
/* modal Enter Verify Button */
.enterVerify_btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.enterVerify_btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.enterVerify_btn:active {
    background-color: #004080;
}

/* modal Verify Button */
.verify-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.verify-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.verify-btn:active {
    background-color: #004080;
}

/* modal 취소 버튼 */
.cancel-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cancel-btn:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.cancel-btn:active {
    background-color: #4e555b;
}

/* 모달2 - 수정 */
.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="email"],
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.modal-content input[readonly] {
    background-color: #f9f9f9;
    color: #999;
}

.modal-content select {
    background-color: #fff;
    cursor: pointer;
}

.editButtonWrap {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 간의 간격 조정 */
    align-items: center;
}

/* ****************************** */

.pagination {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    height: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

.pagination-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    height: auto;
    justify-content: center;
}

.pagination-first,
.pagination-prev,
.pagination-next,
.pagination-last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list li {
    margin: 0 2px;
}

.pagination-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px; /* 아이콘과 숫자 크기를 조절 */
    text-decoration: none;
    color: black; /* 필요에 따라 색상을 변경하세요 */
    border: 1px solid #ccc; /* 필요에 따라 테두리 스타일을 변경하세요 */
    border-radius: 3px; /* 필요에 따라 버튼 모양을 변경하세요 */
}

.pagination-list a:hover {
    background-color: #4876ef;
    border: #4876ef;
    color: #ffffff;
}

.pagination-list .active a {
    background-color: #4876ef;
    border: #4876ef; /* 배경을 검정색으로 */
    color: #ffffff; /* 글자를 하얀색으로 */
}
/* 아이콘들 */
#sri_gnb_wrap .gnb_inner .gnb > li > a > svg use {
    color: #afbac8;
}
#sri_gnb_wrap .gnb_inner .gnb > li > a > svg {
    display: block;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 3;
    width: 24px;
    height: 24px;
}

/* ======================== */
/* test-3 작품 관리 */
h1.common-header-description {
    background-color: #eeeeeead;
    height: 28px;
    width: 85px;
    text-align: center;
    align-content: center;
    border-radius: 3px;
}

.common-header-container .common-header-title {
    line-height: 20px;
    font-size: 36px;
    margin: 0 0 16px;
    font-weight: 700;
}

.section-label {
    display: flex;
    padding-left: 170px;
    padding-top: 10px;
}

.common-header-container {
    position: relative;
}

.service-introdution-group-button > .container {
    padding-left: 2px;
    gap: 32px;
}

.service-introdution-group-button .container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.container {
    padding-top: 33px;
    padding-bottom: 35px;
}

.service-introdution-group-button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
}

.service-introdution-group-button .group-button.active div {
    padding: 12px 0 10px 0;
    color: #212121;
    font-weight: 500;
    border-bottom: solid 3px #007bff;
}

.service-introdution-group-button .group-button div {
    padding: 12px 0;
    height: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #424242;
    cursor: pointer;
}

.apply-table-cell > a {
    color: rgba(0, 0, 255, 0.823);
}

/* 간단 상세 모달창 */
.modal-content {
    display: flex;
    flex-direction: column;
}

.close-button {
    align-self: flex-end;
}

.modal-content > h2 {
    text-align: center
}

#editForm {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#editForm > div {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

#editPostTitle {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #999;
}

#editPostContent {
    width: 100%;
    height: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #999;
}

#editFiles {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#filePreviewContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#editForm h3 {
    margin-top: 30px
}

#commentList {
    list-style-type: none;
    padding: 0;
    min-height: 200px;
    overflow-y: auto;
    max-height: 300px;
}

#filePreviewContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#saveChanges {
    width: 100%;
    padding: 12px;
    background-color: #1890ff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#text-wrapper {
    display: none;
}
