<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main/main(test-1).css" />
        <title>메인 테스트</title>
    </head>
    <body>
        <main class="main">
            <div class="ggumteo-do-not-fail">
                <section class="container">
                    <div class="fail-question">
                        <p
                            class="fail-question-title title-2-bold text-white mb16"
                        >
                            처음 시작한 IT 프로젝트,
                            <br />
                            실패할까봐 불안하세요?
                        </p>
                        <p class="fail-question-subtitle subtitle-2 text-white">
                            위시켓은 실패를 줄이고 성공적으로 프로젝트를
                            <br />
                            진행할 수 있는 완벽한 솔루션입니다.
                        </p>
                    </div>
                    <div class="fail-answer">
                        <img src="/static/images/footer/not-fail.svg" />
                    </div>
                    <!-- ::after -->
                </section>
            </div>
            <div class="introduction-detail-part">
                <section class="container">
                    <div class="intro-part">
                        <div class="part-guide-box">
                            <p class="part-guide-title title-2-bold text900">
                                앞서가는 10만 개의 기업이
                                <br />
                                위시켓을 선택한 이유
                            </p>
                            <p class="part-guide-? body-3-medium text400">
                                <img
                                    src="/static/images/footer/similarweb_log.svg"
                                />
                                24. 10 방문자 수 국내 1위
                            </p>
                        </div>
                        <div class="part-number-box">
                            <div class="number-info upper">
                                <p class="number-info-count title-2-bold">
                                    <span>113,502</span>명
                                </p>
                                <p class="number-info-text body-2 text600">
                                    국내 최대 IT 프리랜서 풀
                                </p>
                            </div>
                            <div class="number-info upper">
                                <p class="number-info-count title-2-bold">
                                    <span>17,412</span>개
                                </p>
                                <p class="number-info-text body-2 text600">
                                    국내 최대 개발 회사 풀
                                </p>
                            </div>
                            <div class="number-info">
                                <p class="number-info-count title-2-bold">
                                    <span>8,143억</span>원
                                </p>
                                <p class="number-info-text body-2 text600">
                                    프로젝트 누적 금액 1위
                                </p>
                            </div>
                            <div class="number-info">
                                <p class="number-info-count title-2-bold">
                                    <span>97</span>
                                    <img
                                        src="/static/images/footer/icon_percent.svg"
                                    />
                                </p>
                                <p class="number-info-text body-2 text600">
                                    10년간 유저 만족도
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ::after -->
                </section>
            </div>
            <div class="appeal-group">
                <section class="container">
                    <div
                        class="appeal-box appeal-left-box"
                        style="margin-bottom: 60px"
                    >
                        <div class="appeal-info-layer">
                            <p class="body-1-bold text-wishket mb12">
                                믿을 수 있는 전문가
                            </p>
                            <p class="title-2-bold text900 mb16">
                                경험부터 실력까지 꼼꼼한<br />위시켓 검증 시스템
                            </p>
                            <p class="subtitle-2 text600">
                                클라이언트 리뷰, 레퍼런스 체크, 신원 인증을
                                통해<br />완전히 검증된 전문가를 만나보세요.
                            </p>
                        </div>
                        <div class="appeal-image-layer">
                            <img src="/static/images/footer/professional.gif" />
                        </div>
                    </div>
                    <div
                        class="appeal-box appeal-right-box"
                        style="margin-bottom: 60px"
                    >
                        <div class="appeal-image-layer">
                            <img
                                src="/static/images/footer/easy-and-fast.gif"
                            />
                        </div>
                        <div class="appeal-info-layer">
                            <p class="body-1-bold text-wishket mb12">
                                쉽고 빠른 전문가 매칭
                            </p>
                            <p class="title-2-bold text900 mb16">
                                2시간 내 무료 견적 컨설팅<br />24시간 내 딱 맞는
                                전문가 매칭
                            </p>
                            <p class="subtitle-2 text600">
                                매니저와의 상담을 통해 비용과 일정을 확인하고<br />최고의
                                전문가를 연결해 드려요.
                            </p>
                        </div>
                    </div>
                    <div class="appeal-box appeal-left-box">
                        <div class="appeal-info-layer">
                            <p class="body-1-bold text-wishket mb12">
                                안전한 대금보호
                            </p>
                            <p class="title-2-bold text900 mb16">
                                결과물 확인 후 지급하는 대금<br />위시켓만의
                                안전한 계약 시스템
                            </p>
                            <p class="subtitle-2 text600">
                                에스크로 형태의 안심계약시스템을 활용하여<br />선금
                                손실 없이 원하는 결과물을 안전하게 받아보세요.
                            </p>
                        </div>
                        <div class="appeal-image-layer">
                            <img src="/static/images/footer/escrow.gif" />
                        </div>
                    </div>
                    <!-- ::after -->
                </section>
            </div>
        </main>
    </body>
</html>
