<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>오디션 목록 페이지</title>
        <link rel="stylesheet" href="/static/css/audition/audition-list.css" />
    </head>
    <body>
        <header></header>
        <main>
            <div class="gaia">
                <div class="container audition-list-view">
                    <form
                        id="search-audition-list-form"
                        action=""
                        onsubmit="return false"
                    >
                        <div class="search-header">
                            <div class="page-title subtitle-1-medium">
                                모집 찾기
                            </div>
                            <div
                                class="text-search-box"
                                id="inner_text_search_box"
                            >
                                <div class="default-input-type icon-right">
                                    <div
                                        class="default-input-wishket icon-right"
                                    >
                                        <input
                                            autocomplete="off"
                                            class="theme-wishket wishket-text search-text"
                                            data-input-type="text-input"
                                            name="search_text"
                                            type="text"
                                            style="padding-right: 48px"
                                        /><span
                                            class="text-unit active"
                                            data-action-icon="search"
                                            ><img
                                                src="/static/images/audition/icon-search@2x.png"
                                                style="
                                                    margin-right: 0px;
                                                    cursor: pointer;
                                                "
                                        /></span>
                                    </div>
                                    <span class="error-text"
                                        >에러상세 메시지</span
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="search-filter-part"></div>
                        <section class="section_search" id="recruit_info">
                            <div class="header">
                                <h2 class="tit_section">채용정보</h2>
                                <span class="cnt_result">총 38,947건</span>
                            </div>
                            <div id="recruit_info_list" main-search="y">
                                <div class="content">
                                    <div class="item_recruit">
                                        <div class="area_job">
                                            <h2 class="job_tit">
                                                <a
                                                    target="_blank"
                                                    title="[역삼역] 단편영화 배우모집합니다."
                                                    href=""
                                                >
                                                    <span>
                                                        "[역삼역] 단편영화 배우
                                                        모집합니다."
                                                        <b>배우</b>
                                                        채용
                                                    </span>
                                                </a>
                                            </h2>
                                            <div class="job_date">
                                                <span class="date"
                                                    >~ 11/07(목)</span
                                                >
                                                <button
                                                    class="sri_btn_xs"
                                                    title="클릭하면 입사지원할 수 있는 창이 뜹니다."
                                                >
                                                    <span
                                                        class="sri_btn_immediately"
                                                        >모집중</span
                                                    >
                                                </button>
                                            </div>
                                            <div class="job_condition">
                                                <span
                                                    ><a target="_blank" href=""
                                                        >서울</a
                                                    >
                                                    <a target="_blank" href=""
                                                        >강남구</a
                                                    ></span
                                                >
                                                <span>신입·경력</span>
                                                <span>무관</span>
                                                <span>배우</span>
                                            </div>
                                            <div class="job_sector">
                                                <b
                                                    ><a target="_blank" href=""
                                                        >200,000</a
                                                    ></b
                                                >,
                                                <b
                                                    ><a target="_blank" href=""
                                                        >5명</a
                                                    ></b
                                                >,

                                                <span class="job_day"
                                                    >등록일 24/10/08</span
                                                >
                                            </div>
                                        </div>
                                        <div class="area_corp">
                                            <strong class="corp_name">
                                                <a
                                                    href=""
                                                    target="_blank"
                                                    class="track_event data_layer"
                                                >
                                                    홍길동
                                                </a>
                                            </strong>
                                            <span class="corp_affiliate"
                                                >홍길동@gmail.com</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
