<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <link rel="stylesheet" href="/static/css/audition/audition-detail.css" />
    <body>
        <header></header>
        <main>
            <div class="gaia">
                <div class="project-detail-view">
                    <div class="container">
                        <section class="detail-section">
                            <div class="project-section">
                                <a id="info" name="info"></a>
                                <div class="project-content-layer mb24">
                                    <div class="project-content-title">
                                        <div class="status-guide mb8">
                                            <div
                                                class="project-status-label recruiting-status"
                                            >
                                                <div style="display: flex">
                                                    <div
                                                        class="status-mark recruiting-mark"
                                                    >
                                                        모집 중
                                                    </div>
                                                </div>
                                                <p
                                                    class="project-recruit-guide body-3 text300"
                                                >
                                                    등록 일자 2024.10.08.
                                                </p>
                                            </div>
                                        </div>
                                        <h1
                                            class="subtitle-1-medium mb24 text900"
                                        >
                                            [역삼역] 단편영화 배우 모집합니다.
                                        </h1>
                                    </div>
                                    <div class="layer-divider mb24"></div>
                                    <div class="project-content-condition">
                                        <div
                                            class="project-important-condition term_based"
                                        >
                                            <div class="project-target-info">
                                                <div
                                                    class="project-target-role body-1 text900"
                                                >
                                                    배우
                                                </div>
                                                <div
                                                    class="project-target-detail"
                                                >
                                                    <div
                                                        class="project-target-detail-header"
                                                    >
                                                        <!-- <div
                                                            class="detail-header-info body-3 text500 level"
                                                        >
                                                            레벨
                                                        </div> -->
                                                        <div
                                                            class="detail-header-info body-3 text500 experience"
                                                        >
                                                            경력
                                                        </div>
                                                        <div
                                                            class="detail-header-info body-3 text500 budget"
                                                        >
                                                            예상 금액
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="project-target-detail-row"
                                                    >
                                                        <!-- <div
                                                            class="project-target-detail-row-info body-2 text900 level"
                                                        >
                                                            미드 레벨
                                                        </div> -->
                                                        <div
                                                            class="project-target-detail-row-info-wrapper"
                                                        >
                                                            <div
                                                                class="project-target-detail-row-info body-2 text900 experience"
                                                            >
                                                                경력 무관
                                                            </div>
                                                            <div
                                                                class="project-target-detail-row-info body-2 text900 budget"
                                                            >
                                                                100,000원/일
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="project-target-condition"
                                                >
                                                    <div
                                                        class="target-condition-row"
                                                    >
                                                        <div
                                                            class="condition-row-title body-2 text500"
                                                        >
                                                            근무 시작일
                                                        </div>
                                                        <p
                                                            class="condition-row-data body-2 text900"
                                                        >
                                                            2024년 11월 06일
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="target-condition-row"
                                                    >
                                                        <div
                                                            class="condition-row-title body-2 text500"
                                                        >
                                                            모집 인원
                                                        </div>
                                                        <p
                                                            class="condition-row-data body-2 text900"
                                                        >
                                                            5명
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="target-condition-row"
                                                    >
                                                        <div
                                                            class="condition-row-title body-2 text500"
                                                        >
                                                            오디션 위치
                                                        </div>
                                                        <p
                                                            class="condition-row-data body-2 text900"
                                                        >
                                                            서울특별시 강남구
                                                            역삼동 제일비전타워
                                                            13층
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb32"></div>
                                        <div
                                            class="project-detail-condition term_based"
                                        >
                                            <div
                                                class="project-detail-condition-row"
                                            >
                                                <div class="condition-title">
                                                    <span
                                                        class="condition-icon"
                                                    ></span>
                                                    <p
                                                        class="condition-label body-2 text500"
                                                    >
                                                        오디션 마감일
                                                    </p>
                                                </div>
                                                <p
                                                    class="condition-data body-2 text900"
                                                >
                                                    2024년 10월 22일<img
                                                        class="class-splitter"
                                                        src="/static/images/audition/icon_project_category_dot_14.png"
                                                    /><span
                                                        class="condition-accent body-3"
                                                        >마감 1주 4일 전</span
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="project-detail-condition-row"
                                            >
                                                <div class="condition-title">
                                                    <span
                                                        class="condition-icon"
                                                    ></span>
                                                    <p
                                                        class="condition-label body-2 text500"
                                                    >
                                                        지원자 수
                                                    </p>
                                                </div>
                                                <p
                                                    class="condition-data body-2 text900"
                                                >
                                                    12명
                                                </p>
                                            </div>
                                            <div style="position: relative">
                                                <div class="divide term-based">
                                                    <div
                                                        class="project-detail-condition-row"
                                                    >
                                                        <div
                                                            class="condition-title"
                                                        >
                                                            <span
                                                                class="condition-icon"
                                                            ></span>
                                                            <p
                                                                class="condition-label body-2 text500"
                                                            >
                                                                오디션 배경
                                                            </p>
                                                        </div>
                                                        <p
                                                            class="condition-data body-2 text900"
                                                        >
                                                            신규 단편영화에
                                                            필요한 배우를
                                                            구인하고 있습니다.
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="project-detail-condition-row"
                                                    >
                                                        <div
                                                            class="condition-title"
                                                        >
                                                            <span
                                                                class="condition-icon"
                                                            ></span>
                                                            <p
                                                                class="condition-label body-2 text500"
                                                            >
                                                                오디션 유형
                                                            </p>
                                                        </div>
                                                        <p
                                                            class="condition-data body-2 text900"
                                                        >
                                                            경령에 상관없이
                                                            모집합니다.
                                                            <!-- <span
                                                                class="body-3 text500 condition-detail"
                                                                >• 계약 체결
                                                                완료</span
                                                            > -->
                                                        </p>
                                                    </div>
                                                    <!-- <div
                                                        class="project-detail-condition-row"
                                                    >
                                                        <div
                                                            class="condition-title"
                                                        >
                                                            <span
                                                                class="condition-icon"
                                                            ></span>
                                                            <p
                                                                class="condition-label body-2 text500"
                                                            >
                                                                프로젝트 산업
                                                                분야
                                                            </p>
                                                        </div>
                                                        <p
                                                            class="condition-data body-2 text900"
                                                        >
                                                            제조•생산•화학업
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="project-detail-condition-row"
                                                    >
                                                        <div
                                                            class="condition-title"
                                                        >
                                                            <span
                                                                class="condition-icon"
                                                            ></span>
                                                            <p
                                                                class="condition-label body-2 text500"
                                                            >
                                                                협업 예정 인력
                                                            </p>
                                                        </div>
                                                        <p
                                                            class="condition-data body-2 text900"
                                                        >
                                                            파트너와 협업 가능한
                                                            인력이 없습니다.
                                                        </p>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a id="description" name="description"></a>
                                    <div class="layer-divider mt40mb32"></div>
                                    <div class="project-description">
                                        <h2
                                            class="subtitle-2-medium text900 mb16"
                                        >
                                            오디션 내용
                                        </h2>
                                        <div
                                            class="project-description-box body-2 mb8 text900"
                                        >
                                            &lt;프로젝트 개요&gt;<br /><br />
                                            오디션 소개: <br />
                                            단편영화에 출연해주실 배우를 경력
                                            관계없이 모집합니다.<br />
                                            배우에 꿈이 있으신 분, 경험해보고
                                            싶으신 분 등 누구나 배우를
                                            경험해보고자 하는 기회를 드리고
                                            싶습니다.
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br /><br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />스크롤 내리기용
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-section-wrap">
                                <div class="client-section">
                                    <div class="action-layer partners">
                                        <div>
                                            <button
                                                class="btn btn-partner btn-11-24 btn-block mb8"
                                                data-backdrop="static"
                                                data-target="#mandatoryModal"
                                                data-toggle="modal"
                                            >
                                                오디션 지원하기
                                            </button>
                                            <button
                                                class="btn btn-white btn-block btn-8-16 interest-button interest-off ui-tooltip"
                                                onclick="toggle_interest(this)"
                                                project-id="139213"
                                                style="z-index: inherit"
                                            >
                                                오디션 신고하기
                                            </button>
                                        </div>
                                        <div class="project-popularity-info">
                                            <div
                                                class="client-account-info mb12"
                                            >
                                                <img
                                                    class="client-account-info-img"
                                                    src="/static/images/audition/profile.png"
                                                />
                                                <div>
                                                    <div
                                                        class="client-account-info-base mb8"
                                                    >
                                                        <p
                                                            class="client-account-info-base-username body-2-bold"
                                                        >
                                                            홍길동
                                                        </p>
                                                        <span
                                                            class="client-account-info-base-label caption-1-medium user-type-label client-label"
                                                            >클라이언트</span
                                                        >
                                                    </div>
                                                    <div
                                                        class="client-account-info-badge"
                                                    >
                                                        <div
                                                            class="client-badge-box"
                                                        >
                                                            <p
                                                                class="client-badge-name body-3-medium text600"
                                                            >
                                                                홍길동@gamil.com
                                                            </p>
                                                        </div>
                                                        <div
                                                            style="clear: both"
                                                        ></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="caption-1 text500 mb16">
                                                자기소개란
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both"></div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
