<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        
        <link rel="stylesheet" href="/static/css/admin_page/amdin_main/sub_main.css">
        <link rel="stylesheet" href="/static/css/admin_page/amdin_main/common_main.css" />
        <link rel="stylesheet" href="/static/css/admin_page/admin_post_list/common_post_list.css">
        <link rel="stylesheet" href="/static/css/freewrite_page/freewrite.css">
    </head>
    <body>
        <noscript>#</noscript>
        <div id="root">
            <div id="AppLayot_Container" class="AppLayout_container">
                <div class="AppGNBNavbar_container">
                    <div class="AppGNBNavbar_flex">
                        <div class="StudioLogo_container">
                            <button
                                class="StudioLogo_logo"
                                type="button"
                                aria-label="로고버튼"
                            ></button>
                            <div class="Admin_page_logo">관리자 페이지</div>
                        </div>
                        <!-- <div class="StudioStatus_stateBox">
                            <span class="StudioStatus_state">작업 중</span>
                        </div> -->
                    </div>
                    <div class="AppGNBNavbar_flex AppGNBNavbar_rightBox_1">
                        <div class="ProjectInfo_container">
                            <button
                                class="ProjectInfo_infoButton"
                                type="button"
                                aria-controls="project-info-box"
                                aria-expanded="true"
                            >
                                관리자 ID:
                                <span class="ProjectInfo_emphasis">Yanawa</span>
                                
                            </button>
                            
                        </div>
                       
                        <div class="PreviewExitButtons_container">
                            
                            <button
                                class="Button_button PreviewExitButtons_button"
                                type="button"
                            >
                                <span
                                    ><span class="Button_children"
                                        >로그아웃</span
                                    ></span
                                >
                            </button>
                        </div>
                    </div>
                </div>    
                <!-- 메인컨텐츠 영역 -->
                <div class="AppLayout_main_1">
                    <!-- 사이드바 영역 -->
                    <div class="AppSidebarLayout_container">
                        <div class="AppSidebarLayout_content">
                            <!-- 관리자페이지 서비스 기능 카테고리 -->
                            <div class="MenuItems_section">

                                <!-- 대카테고리 -->
                                <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        회원 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">회원 목록 조회</a>
                                    
                                    
                                </div>


                                <!-- 대카테고리 -->
                                <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        고객 지원
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <!-- <a class="MenuItems_submenu" href="">문의 답변</a> -->
                                    <a class="MenuItems_submenu" href="">공지 사항</a>
                                </div>
                                
                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        게시판 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">게시판 목록 조회</a>
                                    <a class="MenuItems_submenu" href="">게시글 작성</a>
                                    <!-- <a class="MenuItems_submenu" href="">게시판 수정</a>
                                    <a class="MenuItems_submenu" href="">댓글 수정</a> -->
                                    
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        결제 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">결제 관리</a>
                                    
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        배너 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">메인 배너 이미지 변경</a>
                                </div>

                                 <!-- 서비스 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu MenuItems_hasSubmenu MenuItems_active" href="">
                                    <span class="MenuItems_label">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        서비스 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon MenuItems_downIcon MenuItems_open_1" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 서비스 중카테고리 -->
                                <div class="MenuItems_submenuContainer ">
                                    <a class="MenuItems_submenu" href="">경기 매칭 게시판</a>
                                    <a class="MenuItems_submenu" href="">모아모아 모집 게시판</a>
                                    <a class="MenuItems_submenu" href="">장소 대여 게시판</a>
                                    <a class="MenuItems_submenu" href="">팀 목록 조회</a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div id="AppLayout_Contents" class="AppLayout_contents_mainContent">
                        <div class="RecommendedPostsPage_container">
                            <div class="RecommendedPostsPage-inner">
                                <div class="Posts-list-container">
                                    <div class="Posts-list-wrapper">
                                        <div class="posts-list-header">
                                            <div class="postList-title">
                                                게시글 작성
                                            </div>
                                            <!-- <div class="PostFilter_wrapper">
                                                <input
                                                    type="text"
                                                    class="PostFilter_searchInput"
                                                    placeholder="검색어 입력"
                                                />
                                                <button
                                                    class="Button_button PostsFilter_filterButton PostsFilter_selected"
                                                    type="button"
                                                >
                                                    <span>
                                                        <span
                                                            class="Button_children"
                                                            >수정</span
                                                        >
                                                    </span>
                                                </button>
                                                <button
                                                    class="Button_button PostsFilter_filterButton"
                                                    type="button"
                                                >
                                                    <span>
                                                        <span
                                                            class="Button_children"
                                                            >삭제</span
                                                        >
                                                    </span>
                                                </button>
                                            </div> -->
                                        </div>
                                        <hr
                                            class="Divider_divider Divider_horizontal Divider_lightBG Divider_spacing3 Divider_caption2 FriendsList_divider"
                                        />
                                        
                                    </div>
                                    <div class="wrap3" style="width: 83vw; max-width: none; box-shadow: none; margin-top: -40px; padding-left: 10px;">
                                        
                    
                                        <section class="wrap4">
                                            <form data-testid="CustomForm" class="content2">
                                                <ul class="content3" style="width: 900px;">
                                                    <li class="content4">
                                                        <div class="wrap5" style="width: 100%">
                                                            <label for="title" class="content5" title="제목을 입력해주세요" style="display: block; width: 100%">
                                                                제목 작성
                                                                <span class="content6">*</span>
                                                            </label>
                                                            <div class="wrap6" style="width: 100%">
                                                                <input placeholder="글의 제목을 작성해주세요" maxlength="45" id="content7" aria-required="true" class="content8" type="text" value="" style="width: 100%">
                                                                <span class="content9" id="char-count" style="
                                                                        position: absolute;
                                                                        right: 10px;
                                                                        top: 50%;
                                                                        transform: translateY(-50%);
                                                                    ">0/45</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="content10">
                                                        <div class="wrap7" style="width: 100%">
                                                            <label for="description" class="content11" title="내용 작성" style="display: block; width: 100%">
                                                                내용 작성<span class="content12">*</span>
                                                            </label>
                                                            <div class="wrap8" style="width: 100%">
                                                                <textarea placeholder="내용을 작성해주세요" id="content13" aria-required="true" class="content14" style="
                                                                        width: 100%;
                                                                        height: 150px;
                                                                    "></textarea>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="content15">
                                                        <div class="wrap9" style="width: 100%">
                                                            <label for="file-upload" class="content16" style="display: block; width: 100%">
                                                                파일 첨부
                                                            </label>
                                                            <div class="wrap10" style="
                                                                    width: 100%;
                                                                    display: flex;
                                                                    align-items: center;
                                                                ">
                                                                <input type="text" id="content17" class="content18" placeholder="첨부된 파일 경로" readonly="" style="
                                                                        flex-grow: 1;
                                                                        margin-right: 10px;
                                                                    ">
                                                                <label for="file-upload" class="content19" style="
                                                                        display: inline-block;
                                                                        cursor: pointer;
                                                                    ">
                                                                    + 파일 추가
                                                                </label>
                                                                <input type="file" id="file-upload" class="content20" style="display: none" onchange="document.getElementById('content17').value = this.value.split('\\').pop();">
                                                            </div>
                                                            <p class="content21" style="
                                                                    font-size: 12px;
                                                                    color: #999;
                                                                    margin-top: 8px;
                                                                ">
                                                                * 파일은 복수로 첨부 가능하며, 최대
                                                                100MB까지 업로드됩니다.
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="wrap11" style="width: 100%; margin-top: 40px">
                                                    <div class="wrap12" style="width: 100%">
                                                        <button data-testid="Button" type="submit" color="primary" class="content22" style="
                                                                width: 100%;
                                                                max-width: 900px;
                                                                background-color: #1890ff;
                                                                color: #ffffff;
                                                                border-radius: 8px;
                                                                height: 48px;
                                                                font-size: 16px;
                                                                font-weight: bold;
                                                            ">
                                                            글 작성
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            
        </div>
    </body>
    <script src="/static/js/adminPage/admin_page/admin.js"></script>
    <script src="/static/js/freewrite_page/freewrite.js"></script>
</html>
